<section class="site-footer home-two"
    style="background-image: url(assets/images/footer-bg-2-1.jpg);">
    <div class="footer-top">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 ">
                    <div class="footer-widget about-widget">
                        <a href="/" class="logo-img"><img height="60px" src="assets/images/logo.jpg"  alt="Health IQ" /></a>
                        <p>A LEADER IN THE FIELD OF MEDICAL IS ONE WHO KNOWS THE ART OF PROPER MEDICAL KNOWLEDGE WITH
                            THE PROPER ART OF HEALING.
                            <br> BECAUSE PATIENT IS NOT A CONDITION BUT A HUMAN BEING.</p>
                        <p>Health IQ is committed to foster patient care,  <br> research and education with State-of-the-Art health care.</p>
                        <div class="social">
                            <a href="#" class="fab fa-twitter"></a>
                            <!--  
                             --><a href="#" class="fab fa-google-plus-g"></a>
                            <!--  
                             --><a href="#" class="fab fa-facebook-square"></a>
                            <!--  
                             --><a href="#" class="fab fa-instagram"></a>
                            <!--  
                             --><a href="#" class="fab fa-youtube"></a>
                        </div><!-- /.social -->
                    </div><!-- /.footer-widget about-widget -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget links-widget departments-widget">
                        <div class="title">
                            <h3>Services</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            <li><a href="/service-details/1"><i class="fa fa-angle-double-right"></i> Pathalogy</a>
                            </li>
                            <li><a href="/service-details/2"><i class="fa fa-angle-double-right"></i> Cardiology</a>
                            </li>
                            <li><a href="/service-details/3"><i class="fa fa-angle-double-right"></i> Spirometry</a>
                            </li>
                            <li><a href="/service-details/4"><i class="fa fa-angle-double-right"></i> Neurology</a>
                            </li>
                            <li><a href="/service-details/5"><i class="fa fa-angle-double-right"></i> GynaCare</a>
                            </li>
                            <li><a href="/service-details/6"><i class="fa fa-angle-double-right"></i> Child Care Clinic</a></li>
                            <li><a href="/service-details/10"><i class="fa fa-angle-double-right"></i> Physiotherapy</a></li>
                            <li><a href="/services-list"><i class="fa fa-angle-double-right"></i> More ...</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col-md-4 -->
                <div class="col-md-2 col-sm-6 col-xs-12 ">
                    <div class="footer-widget links-widget quick-links-widget">
                        <div class="title">
                            <h3>Quick Links</h3>
                        </div><!-- /.title -->
                        <ul class="links-list">
                            <li><a href="/know-about-us"><i class="fa fa-angle-double-right"></i> About Health
                                    IQ</a></li>
                            <li><a href="/package-category-details/1"><i class="fa fa-angle-double-right"></i>
                                    Packages</a></li>
                            <li><a href="/academy"><i class="fa fa-angle-double-right"></i> Academy </a></li>
                            <li><a href="/book-an-appointment"><i class="fa fa-angle-double-right"></i> Book
                                    an Appointment</a></li>
                            <li><a href="/contact-us"><i class="fa fa-angle-double-right"></i> Contact</a>
                            </li>
                            <li><a href="/user-login"><i class="fa fa-angle-double-right"></i> User Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 ">
                    <div class="footer-widget contact-widget">
                        <div class="title">
                            <h3>Our Location</h3>
                        </div><!-- /.title -->
                        <p>47,GARIA STATION ROAD, Kolkata-84
                            <br> Nearest Metro:- Sahid Khudiram Metro</p>
                        <p>Customer Helpline: + 91-8017926291/92</p>
                        <p>Mon to Sat : 07:00 am - 08:00 pm <br> Sun : 07:00 am - 04:00 pm</p>
                    </div><!-- /.footer-widget contact-widget -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </div><!-- /.footer-top -->
    <div class="footer-bottom text-center">
        <div class="thm-container">
            <p>Health IQ | Improve yourself. </p>
        </div><!-- /.thm-container -->
    </div><!-- /.footer-bottom -->
</section><!-- /.site-footer -->

<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
    <div class="search_box_inner">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="bitmex-icon-search"></i></button>
            </span>
        </div>
    </div>
</div>


<section class="hidden-sidebar side-navigation">
    <a href="#" class="close-button side-navigation-close-btn fa fa-times"></a><!-- /.close-button -->
    <div class="sidebar-content">
        <h3>Clin Medix Medical<br /> & Health <br /> Html Template</h3>
        <p>We plainly comprehend that you need not to lose, but rather to gain more cash over your time of work with us.
            That is the reason we dismiss all high-chance undertakings, that may prompt a quick heap of money out of the
            blue however to a primary capital's misfortune the second time.</p>
        <p class="contact-info">Inquiry@clinMedix.com <br /> 2800 256 508</p><!-- /.contact-info -->
        <div class="social">
            <a href="#" class="fab fa-twitter"></a>
            <!--
            --><a href="#" class="fab fa-facebook"></a>
            <!--
            --><a href="#" class="fab fa-youtube"></a>
            <!--
            --><a href="#" class="fab fa-pinterest"></a>
        </div><!-- /.social -->
    </div><!-- /.sidebar-content -->
</section><!-- /.hidden-sidebar -->


<div class="scroll-to-top scroll-to-target home-two" data-target="html"><i class="fa fa-angle-up"></i></div>