<div class="find-doctor-box">
    <div class="thm-container">
        <form  [formGroup]="findDocForm" (ngSubmit)="onSubmit()" class="row find-doctor-form">
            <div class="col-md-4">
                <div class="frm-control">
                    <div class="btn-group bootstrap-select">
                        <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"  title="Select Doctors">
                            <span  class="filter-option pull-left"> {{selectedDoctor}}</span>&nbsp;
                            <span class="bs-caret"><span class="caret"></span></span>
                        </button>

                        <div class="dropdown-menu open">
                            <ul class="dropdown-menu inner" role="menu">
                                <li *ngFor="let doctor of doctors" ><a (click)="selectDoctor(doctor)"> 
                                     <span  class="text">{{doctor.FirstName}} {{doctor.LastName}}</span><span class="glyphicon glyphicon-ok check-mark"></span></a>
                                </li>
                            </ul>
                        </div>
                        <select formControlName="doctorID">
                                <option *ngFor="let doctor of doctors"  [value]="doctor.ID">  {{doctor.FirstName}} {{doctor.LastName}}</option>
                            </select>
                    </div>
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-4">
                <div class="frm-control cli">
                        <div class="btn-group bootstrap-select">
                                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"  title="Select Doctors">
                                    <span  class="filter-option pull-left"> {{selectedSpeciality}}</span>&nbsp;
                                    <span class="bs-caret"><span class="caret"></span></span>
                                </button>
        
                                <div class="dropdown-menu open">
                                    <ul class="dropdown-menu inner" role="menu">
                                        <li *ngFor="let S of specialities" ><a (click)="selectSpeciality(S)"> 
                                             <span  class="text">{{S.Speciality}}</span><span class="glyphicon glyphicon-ok check-mark"></span></a>
                                        </li>
                                    </ul>
                                </div>
                                <select formControlName="specialityID">
                                        <option *ngFor="let S of specialities"  [value]="S.ID">  {{S.Speciality}}</option>
                                    </select>
                            </div>
                </div>
            </div><!-- /.col-md-3 -->
            <div class="col-md-4">
                <div class="frm-control">
                    </div>
            </div>
            <div class="col-md-4">
                <div class="frm-control">
                    <button type="submit">find doctor <i class="fa fa-angle-double-right"></i></button>
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-3 -->
        </form><!-- /.row -->
    </div><!-- /.thm-container -->
</div><!-- /.find-doctor-box -->


