<div class="find-doctor-box">
    <div class="thm-container">
        <form action="#" class="row find-doctor-form">
            <div class="col-md-3">
                <div class="frm-control">
                    <select name="name-select" class="selectpicker" id="name-select">
                        <option value="1">By Doctor Name</option>
                        <option value="2">Daine Amer</option>
                        <option value="3">Antwan Salafia</option>
                        <option value="4">Kori Fedele</option>
                        <option value="5">Harriet Mcelhiney</option>
                        <option value="6">Elfriede Mauceri</option>
                    </select><!-- /#time-select -->
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="frm-control cli">
                    <select name="departments-select" class="selectpicker" id="departments-select">
                        <option value="1">By Department</option>
                        <option value="2">Children Health Center</option>
                        <option value="3">Dentistry & Oral Surgery</option>
                        <option value="4">Diagnostic Imaging</option>
                        <option value="5">Family Care Solutions</option>
                        <option value="6">Cardiac Surgery</option>
                        <option value="7">Eye Care Services</option>
                        <option value="8">Outpatient Rehabilitation</option>
                        <option value="9">Physiotherapy</option>
                    </select><!-- /#time-select -->
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="frm-control">
                    <select name="qualification-select" class="selectpicker" id="qualification-select">
                        <option value="1">By Qualification</option>
                        <option value="1">By Qualification</option>
                        <option value="1">By Qualification</option>
                        <option value="1">By Qualification</option>
                    </select><!-- /#time-select -->
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3">
                <div class="frm-control">
                    <button type="submit">find doctor <i class="fa fa-angle-double-right"></i></button>
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-3 -->
        </form><!-- /.row -->
    </div><!-- /.thm-container -->
</div><!-- /.find-doctor-box -->

