<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-two" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active slide-1" style="background-image: url(http://html.tonatheme.com/2019/clinmedix/images/banner-2-1.jpg);background-position: left center;">

                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content ">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Revolutionized Facilities </h3>
                                <p data-animation="animated fadeInDown">Tempor incididunt ut labore et dolore magna aliqua anim sed veniam quis nostrud <br> exercitation aliquip duis aute irure dolor reprehenderit voluptate </p>
                                <a href="#" class="banner-btn" data-animation="animated fadeInDown">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide-2" style="background-image: url(http://html.tonatheme.com/2019/clinmedix/images/banner-2-2.jpg);background-position: center center;">

                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content pull-right">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Revolutionized Facilities </h3>
                                <p data-animation="animated fadeInDown">Tempor incididunt ut labore et dolore magna aliqua anim sed veniam quis nostrud <br> exercitation aliquip duis aute irure dolor reprehenderit voluptate </p>
                                <a href="#" class="banner-btn" data-animation="animated fadeInDown">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <app-find-doctor></app-find-doctor>

    <section class="feature-style-two sec-pad">
        <div class="thm-container">
            <div class="sec-title-style-two text-center">
                <span class="tag-line">Mollit animid acusm est laborum sed dolore perspiciatis unde</span>
                <div class="line"></div><!-- /.line -->
                <h3>Consistent in <span class="color-1">Patient Safety</span> & <span class="color-1">Quality Measures</span> <br> With Our Top Priority Doctors Performence</h3>
            </div><!-- /.sec-title-style-two -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-1.png" alt="Awesome Image"/>
                            <h3>Full Equipment <br> Laboratory</h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-2.png" alt="Awesome Image"/>
                            <h3>Key Quality <br> Measures </h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-3.png" alt="Awesome Image"/>
                            <h3>Specialist <br> Doctors Team</h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-4.png" alt="Awesome Image"/>
                            <h3>Medical <br> Importance</h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.service-style-four -->

    <section  class="service-style-six sec-pad">
            <div class="thm-container">
                <div class="sec-title text-center">
                    <img src="http://html.tonatheme.com/2019/clinmedix/images/sec-title-icon-2.png" alt="Awesome Image" />
                    <h3>Our Services</h3>
                    <!-- <p>Mollit animid acusm est laborum sed dolore perspiciatis unde omnis iste natus error volt sit ipsum dui <br> mque lorem tium  ipsum tempor incididunt ut labore et dolore magna aliqua </p> -->
                    <div class="line"></div><!-- /.line -->
                </div><!-- /.sec-title -->
                <div class="service-style-six-carousel owl-theme owl-carousel">
                    <div *ngFor="let S of services" class="item">
                        <div class="single-service-style-six">
                            <div class="img-box">
                                <img height="250px" [src]="'assets/images/services/'+ S.ID + '.jpg'" alt="S.Name"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <div class="inner-box hvr-bounce-to-bottom">
                                    <div class="content">
                                        <a href="#"><h3>{{S.Name}}</h3></a>
                                        <p>{{ S.Description | slice:0:100 }}</p>
                                        <a [routerLink]="'/service-details/'+ S.ID" class="more"><i class="fa fa-angle-double-right"></i></a>
                                    </div><!-- /.content -->
                                </div><!-- /.inner-box -->
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-style-six -->
                    </div><!-- /.item -->
                </div><!-- /.service-style-six-carousel -->
            </div><!-- /.thm-container -->
        </section><!-- /.service-style-six -->
    

    <section class="about-style-two sec-pad pt0">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-style-two-content">
                        <h3>We’re Setting the New Standards in <br> <span class="color-1">Medical Research</span> & <span class="color-1">Clinical Care</span></h3>
                        <p>Reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint ocaecat cup <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="about-feature-box">
                            <div class="top-box">
                                <div class="icon-box">
                                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-i-1.png" alt="Awesome Image"/>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h4>Recognized For Excellence</h4>
                                </div><!-- /.text-box -->
                            </div><!-- /.top-box -->
                            <p>Proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed perspiciatis <br> unde omnis iste natus error sit voluptatem accusantium.</p>
                        </div><!-- /.about-feature-box -->
                        <div class="about-feature-box">
                            <div class="top-box">
                                <div class="icon-box">
                                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-i-2.png" alt="Awesome Image"/>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h4>Top Quality Patient Care System</h4>
                                </div><!-- /.text-box -->
                            </div><!-- /.top-box -->
                            <p>Proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed perspiciatis <br> unde omnis iste natus error sit voluptatem accusantium.</p>
                        </div><!-- /.about-feature-box -->
                    </div><!-- /.about-style-two-content -->
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-1.jpg" alt="Awesome Image"/>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.about-style-two -->

    <script src="assets/js/owl.carousel.min.js"></script>