<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-two" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active slide-1" style="background-image: url(http://html.tonatheme.com/2019/clinmedix/images/banner-2-1.jpg);background-position: left center;">

                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content ">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Revolutionized Facilities </h3>
                                <p data-animation="animated fadeInDown">Tempor incididunt ut labore et dolore magna aliqua anim sed veniam quis nostrud <br> exercitation aliquip duis aute irure dolor reprehenderit voluptate </p>
                                <a href="#" class="banner-btn" data-animation="animated fadeInDown">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide-2" style="background-image: url(http://html.tonatheme.com/2019/clinmedix/images/banner-2-2.jpg);background-position: center center;">

                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content pull-right">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Revolutionized Facilities </h3>
                                <p data-animation="animated fadeInDown">Tempor incididunt ut labore et dolore magna aliqua anim sed veniam quis nostrud <br> exercitation aliquip duis aute irure dolor reprehenderit voluptate </p>
                                <a href="#" class="banner-btn" data-animation="animated fadeInDown">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <app-find-doctor></app-find-doctor>

    <section class="feature-style-two sec-pad">
        <div class="thm-container">
            <div class="sec-title-style-two text-center">
                <span class="tag-line">Mollit animid acusm est laborum sed dolore perspiciatis unde</span>
                <div class="line"></div><!-- /.line -->
                <h3>Consistent in <span class="color-1">Patient Safety</span> & <span class="color-1">Quality Measures</span> <br> With Our Top Priority Doctors Performence</h3>
            </div><!-- /.sec-title-style-two -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-1.png" alt="Awesome Image"/>
                            <h3>Full Equipment <br> Laboratory</h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-2.png" alt="Awesome Image"/>
                            <h3>Key Quality <br> Measures </h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-3.png" alt="Awesome Image"/>
                            <h3>Specialist <br> Doctors Team</h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                    <div class="single-feature-style-two text-center">
                        <div class="inner">
                            <img src="http://html.tonatheme.com/2019/clinmedix/images/feature-2-4.png" alt="Awesome Image"/>
                            <h3>Medical <br> Importance</h3>
                            <p>Mollit animid acusm yus laborum <br> erspiciatis unde omnis natus error <br> ipsum mque lorem tius</p>
                            <a href="#" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                        </div><!-- /.inner -->
                    </div><!-- /.single-service-style-four -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.service-style-four -->

    <section class="service-style-four ">
            <div class="title-wrapper sec-pad pb0">
                <div class="thm-container">
                    <div class="sec-title-style-two text-center">
                        <span class="tag-line">Mollit animid acusm est laborum sed dolore perspiciatis unde</span>
                        <div class="line"></div><!-- /.line -->
                        <h3>Explore Our <span class="color-1">Caring</span> &amp; <span class="color-1">Premium Services</span></h3>
                        <p>Mollit animid acusm est laborum sed dolore perspiciatis unde omnis iste natus error volt sit ipsum dui <br> mque lorem tium  ipsum tempor incididunt ut labore et dolore magna aliqua </p>
                    </div><!-- /.sec-title-style-two -->
                    <div class="tab-row service-tab-title-carousel owl-theme owl-carousel owl-loaded" role="tablist">
                        <!-- /.item -->
                        <!-- /.item -->
                        <!-- /.item -->
                        <!-- /.item -->
                        <!-- /.item -->
                        <!-- /.item -->
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2340px, 0px, 0px); transition: all 0.25s ease 0s; width: 4095px;"><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="eye">
                            <a href="#eye" aria-controls="eye" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-eye"></i>
                                    <h3>Eye Surgery</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-eye"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="cardiology">
                            <a href="#cardiology" aria-controls="cardiology" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                    <h3>Cardiology</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="child-care">
                            <a href="#child-care" aria-controls="child-care" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-doctor2"></i>
                                    <h3>Children Care</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-doctor2"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="diagnostic-imaging">
                            <a href="#diagnostic-imaging" aria-controls="diagnostic-imaging" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-x-ray"></i>
                                    <h3>Diagnostic Imaging</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-x-ray"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="dentist">
                            <a href="#dentist" aria-controls="dentist" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-tooth"></i>
                                    <h3>Dentistry</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-tooth"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="physician">
                            <a href="#physician" aria-controls="physician" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-stethoscope"></i>
                                    <h3>Family Physician</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-stethoscope"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="eye">
                            <a href="#eye" aria-controls="eye" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-eye"></i>
                                    <h3>Eye Surgery</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-eye"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="cardiology">
                            <a href="#cardiology" aria-controls="cardiology" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                    <h3>Cardiology</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="child-care">
                            <a href="#child-care" aria-controls="child-care" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-doctor2"></i>
                                    <h3>Children Care</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-doctor2"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item active" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="diagnostic-imaging">
                            <a href="#diagnostic-imaging" aria-controls="diagnostic-imaging" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-x-ray"></i>
                                    <h3>Diagnostic Imaging</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-x-ray"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned active" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="dentist">
                            <a href="#dentist" aria-controls="dentist" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-tooth"></i>
                                    <h3>Dentistry</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-tooth"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned active" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="physician">
                            <a href="#physician" aria-controls="physician" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-stethoscope"></i>
                                    <h3>Family Physician</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-stethoscope"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="eye">
                            <a href="#eye" aria-controls="eye" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-eye"></i>
                                    <h3>Eye Surgery</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-eye"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div><div class="owl-item cloned" style="width: 262.5px; margin-right: 30px;"><div class="item" data-tab-name="cardiology">
                            <a href="#cardiology" aria-controls="cardiology" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                    <h3>Cardiology</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style=""><i class="pe-7s-angle-left"></i></div><div class="owl-next" style=""><i class="pe-7s-angle-right"></i></div></div><div class="owl-dots" style="display: none;"></div></div></div><!-- /.row -->
                </div><!-- /.thm-container -->
            </div><!-- /.title-wrapper -->
            <div class="thm-container tab-content">            
                <div class="tab-pane fade in active" id="dentist">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-3.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Dentistry &amp; Oral Surgery</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade in active -->       
                <div class="tab-pane fade" id="physician">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-1.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Family Physician</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->       
                <div class="tab-pane fade" id="eye">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-6.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Eye Care Services</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->       
                <div class="tab-pane fade" id="cardiology">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-5.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Cardiac Surgery</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->       
                <div class="tab-pane fade" id="child-care">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-2.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Children Health Care</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->       
                <div class="tab-pane fade" id="outpatient">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-1.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Outpatient Rehabilitation</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->       
                <div class="tab-pane fade" id="diagnostic-imaging">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-4.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Diagnostic Imaging</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->       
                <div class="tab-pane fade" id="physiotherapy">
                    <div class="service-tab-content">
                        <div class="single-tab-content row">
                            <div class="col-md-6">
                                <img src="assets/images/tab-1-1.jpg" alt="Awesome Image">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <div class="service-inner-tab-content">
                                    <h3>Physiotherapy</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                                    <h4>Service Main Features</h4>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> Patient Experience</li>
                                                <li><i class="fa fa-check"></i> Infection Prevention</li>
                                                <li><i class="fa fa-check"></i> Quality of Care Services</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                        <div class="col-md-5">
                                            <ul class="list-items">
                                                <li><i class="fa fa-check"></i> High-Risk Procedures</li>
                                                <li><i class="fa fa-check"></i> Better Safety Measures</li>
                                                <li><i class="fa fa-check"></i> Standards of Treatment</li>
                                            </ul><!-- /.list-items -->
                                        </div><!-- /.col-md-5 -->
                                    </div><!-- /.row -->
                                </div><!-- /.service-inner-tab-content -->
                            </div><!-- /.col-md-6 -->
                        </div><!-- /.single-tab-content -->
                    </div><!-- /.service-tab-content -->
                </div><!-- /.tab-pane fade -->
            </div><!-- /.thm-container -->
        </section>

    <section class="about-style-two sec-pad pt0">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-style-two-content">
                        <h3>We’re Setting the New Standards in <br> <span class="color-1">Medical Research</span> & <span class="color-1">Clinical Care</span></h3>
                        <p>Reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint ocaecat cup <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="about-feature-box">
                            <div class="top-box">
                                <div class="icon-box">
                                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-i-1.png" alt="Awesome Image"/>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h4>Recognized For Excellence</h4>
                                </div><!-- /.text-box -->
                            </div><!-- /.top-box -->
                            <p>Proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed perspiciatis <br> unde omnis iste natus error sit voluptatem accusantium.</p>
                        </div><!-- /.about-feature-box -->
                        <div class="about-feature-box">
                            <div class="top-box">
                                <div class="icon-box">
                                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-i-2.png" alt="Awesome Image"/>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h4>Top Quality Patient Care System</h4>
                                </div><!-- /.text-box -->
                            </div><!-- /.top-box -->
                            <p>Proident, sunt in culpa qui officia deserunt mollit anim id est laborum sed perspiciatis <br> unde omnis iste natus error sit voluptatem accusantium.</p>
                        </div><!-- /.about-feature-box -->
                    </div><!-- /.about-style-two-content -->
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-1.jpg" alt="Awesome Image"/>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.about-style-two -->

