<app-top-header></app-top-header>
<app-default-header></app-default-header>

<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-two" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active slide-1" style="background-image: url(http://html.tonatheme.com/2019/clinmedix/images/banner-2-1.jpg);background-position: left center;">
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content ">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Doctor On A Click </h3>
                                <p data-animation="animated fadeInDown">Book an online appointment<br> for any doctor of your choice. </p>
                                <a [routerLink]="'/book-an-appointment'" class="banner-btn" data-animation="animated fadeInDown">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide-2" style="background-image: url(http://html.tonatheme.com/2019/clinmedix/images/banner-2-2.jpg);background-position: center center;">
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content pull-right">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Revolutionized Packages </h3>
                                <p data-animation="animated fadeInDown">Our Health packages are <br> specially curated for you. </p>
                                <a [routerLink]="'/package-category-list'" class="banner-btn" data-animation="animated fadeInDown">Our Packages</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item slide-2" style="background-image: url(assets/images/banner-2-3.jpg);background-position: center center;">
                <div class="carousel-caption">
                    <div class="thm-container">
                        <div class="box valign-middle">
                            <div class="content">
                                <div class="icon-box" data-animation="animated fadeInUp"><i class="clinmedix-icon-analysis"></i><i class="clinmedix-icon-cardiogram-1"></i><i class="clinmedix-icon-pills2"></i></div><!-- /.icon-box -->
                                <h3 data-animation="animated fadeInUp">Medical Courses </h3>
                                <p data-animation="animated fadeInDown">Health IQ provide world class <br> courses for medical students. </p>
                                <a [routerLink]="'/academy'" class="banner-btn" data-animation="animated fadeInDown">Our Courses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <app-find-doctor></app-find-doctor>

    <section class="service-style-three sec-pad" style=" margin-top: 100px;">
            <div class="thm-container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service-style-three text-center js-tilt">
                            <div class="inner-box">
                                <i class="clinmedix-icon-drugs"></i>
                                <h3>Tests performed at Apollo Diagnostics (NABL,CAP Accrediated Laboratory)</h3>
                            </div><!-- /.inner-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service-style-three text-center js-tilt">
                            <div class="inner-box">
                                <i class="clinmedix-icon-doctor"></i>
                                <h3>ISO 9001:2015 certified by UKAS body.</h3>
                            </div><!-- /.inner-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service-style-three text-center js-tilt">
                            <div class="inner-box">
                                <i class="clinmedix-icon-ambulance1"></i>
                                <h3>Affailated To Bharat Sevak Samaj.</h3>
                            </div><!-- /.inner-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-service-style-three text-center js-tilt">
                            <div class="inner-box">
                                <i class="clinmedix-icon-date"></i>
                                <h3>Easy Appointments</h3>
                            </div><!-- /.inner-box -->
                        </div><!-- /.single-service-style-three -->
                    </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.thm-container -->
        </section><!-- /.service-style-three sec-pad -->
        
    <section class="parallax-section" style="background-image: url(assets/images/subscribe-bg-1-1.jpg); background-attachment: fixed; background-position: center center;">
        <div class="container">
            <h1>If you are a patient seeking quality healthcare <br> at affordable prices!.</h1>
            <div class="text">Excepteur sint occaecat cupidatat non proident sunt culpa qui officia ex deserunt <br> mollit in anim id est laborum sed ut perspiciatis unde omnis.</div>
            <div class="link-btn"><a href="/book-an-appointment" class="theme-btn">Make An Appointment</a></div>
        </div>
    </section>

    <section  class="service-style-six sec-pad">
            <div class="thm-container">
                <div class="sec-title text-center">
                    <img src="http://html.tonatheme.com/2019/clinmedix/images/sec-title-icon-2.png" alt="Awesome Image" />
                    <h3>Our Services</h3>
                    <!-- <p>Mollit animid acusm est laborum sed dolore perspiciatis unde omnis iste natus error volt sit ipsum dui <br> mque lorem tium  ipsum tempor incididunt ut labore et dolore magna aliqua </p> -->
                    <div class="line"></div><!-- /.line -->
                </div><!-- /.sec-title -->
                <div class="service-style-six-carousel owl-theme owl-carousel">
                    <div *ngFor="let S of services" class="item">
                        <div class="single-service-style-six">
                            <div class="img-box">
                                <img height="250px" [src]="'assets/images/services/'+ S.ID + '.jpg'" alt="S.Name"/>
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <div class="inner-box hvr-bounce-to-bottom">
                                    <div class="content">
                                        <a href="#"><h3>{{S.Name}}</h3></a>
                                        <p>{{ S.Description | slice:0:100 }}</p>
                                        <a [routerLink]="'/service-details/'+ S.ID" class="more"><i class="fa fa-angle-double-right"></i></a>
                                    </div><!-- /.content -->
                                </div><!-- /.inner-box -->
                            </div><!-- /.text-box -->
                        </div><!-- /.single-service-style-six -->
                    </div><!-- /.item -->
                </div><!-- /.service-style-six-carousel -->
            </div><!-- /.thm-container -->
        </section><!-- /.service-style-six -->
    
        <section class="parallax-section" style="background-image: url(assets/images/medical-student.jpg); background-attachment: fixed; background-position: center center;">
            <div class="container">
                <h1>If you are an medical aspirant and seeking courses <br> at affordable prices!.</h1>
                <div class="text">At Health IQ we are committed to provide industry standard courses. <br> We offer multiple courses that helps you build your career.</div>
                <div class="link-btn"><a [routerLink]="'/online-enquiry/2'" class="theme-btn">Enquiry Now</a></div>
            </div>
        </section>
    <section class="about-style-two sec-pad pt100">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-style-two-content">
                        <h3>LIVE BY  <span class="color-one">CHOICE </span> NOT BY <span class="color-two">CHANCE</span></h3>
                        <!-- <p class="highlight"> A LEADER IN THE FIELD OF MEDICAL IS ONE WHO KNOWS THE ART OF PROPER MEDICAL KNOWLEDGE WITH THE PROPER ART OF HEALING.
                            BECAUSE PATIENT IS NOT A CONDITION BUT A HUMAN BEING.</p> -->
                        <div class="about-feature-box">
                            <div class="top-box">
                                <div class="icon-box">
                                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-i-1.png" alt="Awesome Image"/>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h4>Recognized For Excellence</h4>
                                </div><!-- /.text-box -->
                            </div><!-- /.top-box -->
                            <p>We are an ISO 9001:2015 certified organisation from UKAS. Health IQ is committed to foster patient care, research and education with State-of-the-Art health care. With the motto of "Improve Yourself “, Health IQ aspires to deliver paramedical education and healthcare facilities that would be within the reach of all.</p>
                        </div><!-- /.about-feature-box -->
                        <div class="about-feature-box">
                            <div class="top-box">
                                <div class="icon-box">
                                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-i-2.png" alt="Awesome Image"/>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h4>Top Quality Patient Care System</h4>
                                </div><!-- /.text-box -->
                            </div><!-- /.top-box -->
                            <p> We at Health IQ aim at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner. We strive to deliver healthcare compassionately and always act with integrity. 
                                Our ethics and compliance programme is an integral part of what we do.</p>
                        </div><!-- /.about-feature-box -->
                    </div><!-- /.about-style-two-content -->
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <img src="http://html.tonatheme.com/2019/clinmedix/images/about-2-1.jpg" alt="Awesome Image"/>
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.about-style-two -->

    <script src="assets/js/owl.carousel.min.js"></script>