<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text">
              <h4 class="card-title">All Invoice List</h4>
              <p class="card-category">Invoice history of students.</p>
            </div>
          </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                              <th *ngFor="let col of columns">{{ col }}</th>
                            </tr>
                        </thead>
                      <tbody>
                          <tr *ngFor="let row of invoices">
                              <td>{{ row.id}}</td>
                              <td>{{ row.name}}</td>
                              <td>{{ row.invoiceDate | date}}</td>
                              <td>{{ row.address}}</td>
                              <td>{{ row.tax}}</td>
                              <td>{{ row.subTotal}}</td>
                          </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>