<p>contact us!</p>
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="banner_content row">
          <div class="col-lg-12">
          </div>
        </div>
      </div>
    </div>
  </section>




<section class="contact_area p_120">
    <div class="container">
        <div id="mapBox" class="mapBox">
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="contact_info">
                    <div class="info_item">
                        <i class="lnr lnr-home"></i>
                        <h6>Garia Kolkata</h6>
                        <p>121/1D, Raja S.C Mullick Road, Garia Nearest Metro: Kavi Nazrul</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-phone-handset"></i>
                        <h6>
                            <a href="#">9051843250/ 7908181407</a>
                        </h6>
                        <p>Mon to Fri 9am to 6 pm</p>
                    </div>
                    <div class="info_item">
                        <i class="lnr lnr-envelope"></i>
                        <h6>
                            <a href="#">healthiqcare@gmail.com</a>
                        </h6>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>

