<!--================ Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-left">
                <h2>Offered Services</h2>
                <div class="page_link">
                    <a href="services.html">Services</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->


<!-- Start Offered Services Area -->
<section class="service_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pl-0">
                <h1>Our Offered Services</h1>
            </div>

            <div class="single_gynaecare">
                <img src="../../assets/img/services images/pathology 12.jpg" style="height: 200px; width: 260px;">
                <h2>PATHOLOGY</h2>
                

<p>Health IQ basically aims at improving life’s of others. In terms of pathology, it is a medical specialty that determines the cause and nature of diseases by examining and testing body tissues (from biopsies and pap smears, for example) and bodily fluids (from samples including blood and urine). The results from these pathology tests help doctors diagnose and treat patients correctly. Basically, an integral part of clinical diagnosis, our Pathology services include:-
    <li> Biochemistry</li>
 <li>Clinical Pathology</li>
<li>Cytopathology</li> 
 <li>Haematology</li>
 <li>Immunology</li>
 <li>Molecular Biology</li>
 <li>Molecular Genetics</li>
<li>Serology</li>
</p>

<div class="single_cardiology">
        <img src="../../assets/img/cardiology .jpg" style="height: 200px; width: 260px;">
        <h2> CARDIOLOGY</h2>
       
Cardiology is a medical specialty and a branch of internal medicine concerned with disorders of the heart. It deals with the diagnosis and treatment of such conditions as congenital heart defects, coronary artery disease, electrophysiology, heart failure and  heart disease. Subspecialties of the cardiology field include cardiac electrophysiology, echocardiography, interventional cardiology and nuclear cardiology.
Basically, our services includes:-
<li>ECG</li>
<li>Holter monitoring</li> 
<li>BP monitoring</li> 

<div class="single_spirometry">
        <img src="../../assets/img/services images/spirometry.jpg" style="height: 200px; width: 260px;">
        <h2>SPIROMETRY</h2>
        
<p> Spirometry (spy-ROM-uh-tree) is a common office test used to assess how well your lungs work by measuring how much air you inhale, how much you exhale and how quickly you exhale.Spirometry is used to diagnose asthma, chronic obstructive pulmonary disease (COPD) and other conditions that affect breathing. Spirometry may also be used periodically to monitor your lung condition and check whether a treatment for a chronic lung condition is helping you breathe better.
Basically, our services include:- </p>  
PFT        
<div class="single_neurology">
        <img src="../../assets/img/services images/Neurology.jpg" style="height: 200px; width: 260px;">
        <h2> NEUROLOGY:-</h2>
       
Neurology is a branch of medicine dealing with disorders of the nervous system. Neurology deals with the diagnosis and treatment of all categories of conditions and disease involving the central and peripheral nervous systems, including their coverings, blood vessels, and all effector tissue, such as muscle.
Basically,Our Services include:-
<li>NCV Study</li>                                                                                                                   
<li>EMG Study </li> 
<li>EEG</li>                                                                                                                      
<li>BLINK REFLEX</li>                                                                                                   
<li>VEP Study</li>                                                                                                              
<li>BAER Study</li>
    <li>SSEP Study </li>                                                                                                                       
 and many other tests…..         


            <div class="single_gynaecare">
                <img src="../../assets/img/services images/gynae clinic .jpg" style="height: 200px; width: 260px;">
                <h2>GYNAECARE</h2>
                <p>
                    Gynaecare clinic offers a comprehensive range of treatments with complete scientific
                    solutions for infertility and sexual dysfunctions. Our dedicated team of doctors personally
                    interact with the patients , answer their queries and decide on the treatment accordingly.
                    We offer the best services in fertility and reproductive medicine. Some of the services
                    offered at our clinic are:
                    <li>Pre & post-natal check up</li>
                    <li>Laproscopic surgeries</li>
                    <li>Measures for Family Planning</li>
                    <li>Abnormal bleeding problems</li>
                    <li>Treatment for Hormonal Imbalance</li>
                    <li>Blood Tests</li>
                    <li>IVF or In Vitro Fertilization</li>
                    <li>Infertility work up</li>
                    <li>IUI or Intrauterine Insemination</li>
                    <li>Safe medical termination of pregnancy (abortion) </li>
                </p>
            </div>

            <div class="single_child-care">
                <img src="../../assets/img/images.jpeg ">
                <a href="#">
                    <h2>CHILD CARE CLINIC</h2>
                </a>
                <p>
                    Childcare clinic offers a comprehensive range of treatments with complete solutions for Child.
                    Our experienced team of Paediatricians caters to the Medical Needs of Newborns, Toddlers,
                    Teenagers and Adolescents., answer their queries and decide on the treatment accordingly. We
                    offer the best services in Paedtrics. Some of the services offered at our clinic are.
                    <li>Neonatology</li>
                    <li>Paedtric Intensivist </li>
                </p>
            </div>
            <div class="single_diabetes">
                <img src="../../assets/img/services images/diabetes-.jpg" style="height: 200px; width: 260px;">
                <h2>DIABETES WELLNESS CLINIC</h2>
                <p>
                    Diabetes is a hassle-some disease. At Health IQ, we take the stress out of diabetes. We provide
                    everything a diabetic might need, under one roof. Right from diagnosis to speaking to a
                    dietician, educator, diabetologist. As a patient, you don’t have to keep going from pillar to
                    post. We help patients manage Type 1, 2, gestational or prediabetes. Our evaluations, physical
                    exams and treatments are geared to detect and prevent complications brought on by the disease.
                    Our medical team can help you create routines for nutrition and exercise to prevent diabetes if
                    you are prediabetes. For some type 2 patients, we may be able to control diabetes without
                    medication through weight loss, diet and exercise. Our goal is to provide the best possible
                    solution for your particular diagnosis.

                    There are many ways to treat diabetes. Our doctors gives you options and works with you to
                    design a plan that fits your lifestyle so you can successfully live with diabetes. Along with
                    diet, exercise, oral medications, insulin and non-insulin injections, we also have expertise in
                    insulin pump and continuous glucose monitoring.
                </p>
            </div>

            <div class="single_endro">
                <img src="../../assets/img/services images/EndoUltrasound .jpg" style="height: 200px; width: 260px;">
                    <h2>ENDROCRINOLOGY</h2>
                <p>
                    The department of endocrinology at Health IQ offers the best treatment modalities available for
                    endocrine disorders to provide accurate and comprehensive care for its patients suffering from
                    various endocrine diseases.
                    Key endocrine disorders treated include-
                    Thyroid gland:
                    Hypothyroidism, Hyperthyroidism, Thyroid Nodules, Thyroid Eye Disorders, and Thyroid Cancers.
                    Pituitary gland:
                    Pituitary Tumours, Acromegaly, Cushing’s disease, Prolactin Disorders, Diabetes Insipidus,
                    Hypophysitis and Sheehan’s Syndrome.
                    Reproductive endocrine disorders:
                    PCOS, Hirsutism, Male & Female Infertility, and Sexual Disorders.
                    Paediatric Endocrinology:
                    Growth, Thyroid, Puberty, Bone & Calcium Disorders.
                    Metabolic bone disorders:
                    Vitamin D Deficiency, Rickets, Parathyroid Disorders, Osteoporosis, and Genetic Disorders of the
                    Bone.
                    Adrenal gland:
                    Hypertension, Congenital Adrenal Hyperplasia, Adrenal Tumours, Pheochromocytoma, and
                    Aldosteronism (Conn’s Syndrome).
                    Obesity Management:
                    Childhood and Adult Obesity Management. Collaborates with Bariatric surgeons and nutritionists
                    for weight management.
                </p>
            </div>
            <div class="single_ortho">
                <img src="../../assets/img/services images/ortho clinic.jpg" style="width: 260px; height: 200px;">
                    <h2>ORTHO CLINIC</h2>
                <p>
                    The department of orthopaedic at Health IQ offers the best treatment modalities available for
                    ortho ailments to provide accurate and comprehensive care for its patients suffering from
                    various ortho problems. In addition, efficient occupational therapists, physiotherapists and
                    pain management experts work towards the quick rehabilitation of the patient leading to a better
                    quality of life.
                </p>
            </div>

            <div class="single_physiotherapy">
                <img src="../../assets/img/services images/physiotherapy.jpg" style="width: 260px; height: 200px;">
                    <h2>PHYSIOTHERAPHY</h2>
                <p>
                    “Physiotherapy” is a health science that aims in rehabilitation and enhance individuals with
                    movement chaos by utilizing evidence-based, natural process like motivation, exercise,
                    education, advocacy and adapted tools. Physiotherapists study subjects like neuroscience,
                    physiology and anatomy for developing attitudes and skills that are very much required for
                    health prevention, education, rehabilitation and treatment of the patients with disabilities and
                    physical ailments.
                    It is sad to say that there are still many educated people in India who think that physiotherapy
                    is only related to a few exercises. “Physiotherapy is a science in itself”. One might be
                    suffering from cardiopulmonary ,orthopaedic, paediatric, neurology, sports injury, congenital
                    abnormality, to name a few, where physical management becomes as a essential part of the
                    rehabilitation process and some times is the only process.
                    Why physiotherapy at health iq??
                    Health IQ’S Clinic is run by experienced team of doctors and paramedics. We have all type modern
                    Electrotherapy equipments,exercise Theraphy,Manual Theraphy,here patient can get Acupuncture
                    Treatment facility also apart with these. We basically try to alleviate the pain through various
                    modern techniques or tools that can be used by the experience team of doctors and paramedics.
                </p>
            </div>

            <div class="single_painclinic">
                <img src="../../assets/img/services images/ortho clinic.jpg" style="width: 260px; height: 200px;">
                    <h2>PAIN CLINIC</h2>
                <p>
                    We provide pain management services for diagnosis and treatment for painful conditions.We treat
                    back pain, knee pain, headache, neck pain and cancer pain etc. due to slipped disc, migraine,
                    Cluster Headache, trigeminal neuralgia, arthritis, spondylitis, cancer etc. We use most advanced
                    interventional pain management methods like radio-frequency ablation, spinal cord stimulation,
                    Percutaneous Discectomy, vertebroplasty, Epidural steroid injections, Epiduroscopy, Ozone
                    Necleolysis, Platelet Rich Plasma (PRP)﻿ Therapy etc.
                    Treatment Modalities
                   <li> IFT</li>
                   <li> Laser Therapy</li>
                    <li>Tens</li>
                   <li> Acupuncture/Dry Needling</li>
                    <li>Electro acupuncture</li>
                   <li> Ultrasonic therapy</li>
                   <li> Diapulse /SWD</li>
                   <li> Electro stimulators</li>
                    <li>Neuromuscular stimulations</li>
                    <li>Electronic tractions</li>
                   <li> Manual Therapy/Manupulataion</li>
                    <li>Taping Techniques</li>
                    </p>

 <div class="single_sportsmedicine">
                <img src="../../assets/img/services images/Sports-Medicine.jpg" style="width: 260px; height: 200px;">
                    <h2>SPORTS MEDICINE</h2>
                    
<p> Medicine is an integral part of modern medicine. Sports Medicine practitioners deal with human fitness and conditioning related to performance, different types of injuries including sports injuries, rehabilitation, pain and weaknesses arising out of different kinds of injuries and diseases.
The GOAL of Sports Medicine is to prevent injuries, to improve bodily functions and movements and to treat pain in the shortest possible time and with minimum use of medicines.

Sports Medicine Therapy requires specific infrastructure including modern Physiotherapy and modern gadgets and also a team of qualified and dedicated experts from different branches of sports sciences. 
ood nutrition is an important part of leading a healthy lifestyle. Health issues such as diabetes, hypertension or atherosclerosis could be a result of poor nutrition. The Nutrition and Dietetics Centre at Apollo Clinic strives to establish and encourage nutritional standards and practices as an integral part of the health care service provided .</p>
 </div>  
 
 
 <div class="single_NUTRITION/DIETICIANs">
    <img src="../../assets/img/services images/dietician_nutrition.jpg" style="width: 260px; height: 200px;">
        <h2>NUTRITION/DIETICIAN</h2>
        <p>
            What is Nutrition and Dietetics?
            
            Dietetics is about healthy eating practices which act as a preventive and curative means and pave the foundation for a healthier life. At Health IQ, we regularly counsel our patients about a nutritious, balanced diet that consists of carbohydrates, fats, proteins, minerals, vitamins and electrolytes for their general well-being.
            
            Good nutrition is essential for normal organ development and function, normal reproduction, growth and maintenance of muscles and tissue, optimum activity and working efficiency, building resistance to infection and in repairing body damage or injury.
            
            The Nutrition and Dietetics team at Health IQ aims to improve the clinical, biochemical, cellular and psychological status of individuals experiencing complications or side effects of various treatments by providing adequate nutrition and related information.
        </p>
<!-- End Offered Services Area -->
        