
	<!--================ Banner Area =================-->
	<section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
                <div class="container">
                    <div class="banner_content text-left">
                        <h2>Offered Services</h2>
                        <div class="page_link">
                            <a href="services.html">Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Banner Area =================-->
    
        <!-- Start Offered Services Area -->
        <section class="service_area section_gap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h1>Our Offered Services</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-60">
                        <div class="single_service">
                            <span class="lnr lnr-rocket"></span>
                            <a href="#">
                                <h4>GYNAECARE</h4>
                            </a>
                            <p>
                                    Gynaecare clinic offers a comprehensive range of treatments with complete scientific solutions for infertility and sexual dysfunctions. Our dedicated team of doctors personally interact with the patients , answer their queries and decide on the treatment accordingly. We offer the best services in fertility and reproductive medicine. Some of the services offered at our clinic are:
                                    <li>Pre & post-natal check up</li>
                                    <li>Laproscopic surgeries</li>
                                    <li>Measures for Family Planning</li>
                                    <li>Abnormal bleeding problems</li>
                                    <li>Treatment for Hormonal Imbalance</li>
                                    <li>Blood Tests</li>
                                    <li>IVF or In Vitro Fertilization</li>
                                    <li>Infertility work up</li>
                                    <li>IUI or Intrauterine Insemination</li>
                                    <li>Safe medical termination of pregnancy (abortion) </li>
                            <img src="../../assets/img/b2.jpg">
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-60">
                        <div class="single_service">
                            <span class="lnr lnr-heart-pulse"></span>
                            <a href="#">
                                <h4>CHILD CARE CLINIC</h4>
                            </a>
                            <p>
                                    Childcare clinic offers a comprehensive range of treatments with complete solutions for Child. Our experienced team of Paediatricians caters to the Medical Needs of Newborns, Toddlers, Teenagers and Adolescents., answer their queries and decide on the treatment accordingly. We offer the best services in Paedtrics. Some of the services offered at our clinic are.
                                    <li>Neonatology</li>
                                    <li>Paedtric Intensivist </li>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-60">
                        <div class="single_service">
                            <span class="lnr lnr-bug"></span>
                            <a href="#">
                                <h4>DIABETES WELLNESS CLINIC</h4>
                            </a>
                            <p>
                                    Diabetes is a hassle-some disease. At Health IQ, we take the stress out of diabetes. We provide everything a diabetic might need, under one roof. Right from diagnosis to speaking to a dietician, educator, diabetologist. As a patient, you don’t have to keep going from pillar to post. We help patients manage Type 1, 2, gestational or prediabetes. Our evaluations, physical exams and treatments are geared to detect and prevent complications brought on by the disease. Our medical team can help you create routines for nutrition and exercise to prevent diabetes if you are prediabetes. For some type 2 patients, we may be able to control diabetes without medication through weight loss, diet and exercise. Our goal is to provide the best possible solution for your particular diagnosis. 

                                    There are many ways to treat diabetes. Our doctors gives you options and works with you to design a plan that fits your lifestyle so you can successfully live with diabetes. Along with diet, exercise, oral medications, insulin and non-insulin injections, we also have expertise in insulin pump and continuous glucose monitoring.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-60">
                        <div class="single_service">
                            <span class="lnr lnr-users"></span>
                            <a href="#">
                                <h4>ENDROCRINOLOGY</h4>
                            </a>
                            <p>
                                    The department of endocrinology at Health IQ offers the best treatment modalities available for endocrine disorders to provide accurate and comprehensive care for its patients suffering from various endocrine diseases.
                                    Key endocrine disorders treated include-
                                    Thyroid gland: 
                                    Hypothyroidism, Hyperthyroidism, Thyroid Nodules, Thyroid Eye Disorders, and Thyroid Cancers.
                                    Pituitary gland:
                                    Pituitary Tumours, Acromegaly, Cushing’s disease, Prolactin Disorders, Diabetes Insipidus, Hypophysitis and Sheehan’s Syndrome.
                                    Reproductive endocrine disorders: 
                                    PCOS, Hirsutism, Male & Female Infertility, and Sexual Disorders.
                                    Paediatric Endocrinology: 
                                    Growth, Thyroid, Puberty, Bone & Calcium Disorders.
                                    Metabolic bone disorders: 
                                    Vitamin D Deficiency, Rickets, Parathyroid Disorders, Osteoporosis, and Genetic Disorders of the Bone.
                                    Adrenal gland: 
                                    Hypertension, Congenital Adrenal Hyperplasia, Adrenal Tumours, Pheochromocytoma, and Aldosteronism (Conn’s Syndrome).
                                    Obesity Management: 
                                    Childhood and Adult Obesity Management. Collaborates with Bariatric surgeons and nutritionists for weight management.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_service">
                            <span class="lnr lnr-rocket"></span>
                            <a href="#">
                                <h4>ORTHO CLINIC</h4>
                            </a>
                            <p>
                            The department of orthopaedic at Health IQ offers the best treatment modalities available for ortho ailments to provide accurate and comprehensive care for its patients suffering from various ortho problems. In addition, efficient occupational therapists, physiotherapists and pain management experts work towards the quick rehabilitation of the patient leading to a better quality of life.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_service">
                            <span class="lnr lnr-heart-pulse"></span>
                            <a href="#">
                                <h4>PHYSIOTHERAPHY</h4>
                            </a>
                            <p>
                                    “Physiotherapy” is a health science that aims in rehabilitation and enhance individuals with movement chaos by utilizing evidence-based, natural process like motivation, exercise, education, advocacy and adapted tools. Physiotherapists study subjects like neuroscience, physiology and anatomy for developing attitudes and skills that are very much required for health prevention, education, rehabilitation and treatment of the patients with disabilities and physical ailments.
                                    It is sad to say that there are still many educated people in India who think that physiotherapy is only related to a few exercises. “Physiotherapy is a science in itself”. One might be suffering from cardiopulmonary ,orthopaedic, paediatric, neurology, sports injury, congenital abnormality, to name a few, where physical management becomes as a essential part of the rehabilitation process and some times is the only process.
                                    Why physiotherapy at health iq??
                                    Health IQ’S Clinic is run by experienced team of doctors and paramedics.  We have all type modern Electrotherapy equipments,exercise Theraphy,Manual Theraphy,here patient can get Acupuncture Treatment facility also apart with these. We basically try to alleviate the pain through various modern techniques or tools that can be used by the experience team of doctors and paramedics.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_service">
                            <span class="lnr lnr-bug"></span>
                            <a href="#">
                                <h4>Intensive Care</h4>
                            </a>
                            <p>
                                inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_service">
                            <span class="lnr lnr-users"></span>
                            <a href="#">
                                <h4>PAIN CLINIC</h4>
                            </a>
                            <p>
                                    We provide pain management services for diagnosis and treatment for painful conditions.We treat back pain, knee pain, headache, neck pain and cancer pain etc. due to slipped disc, migraine, Cluster Headache, trigeminal neuralgia, arthritis, spondylitis, cancer etc. We use most advanced interventional pain management methods like radio-frequency ablation, spinal cord stimulation, Percutaneous Discectomy, vertebroplasty, Epidural steroid injections, Epiduroscopy, Ozone Necleolysis, Platelet Rich Plasma (PRP)﻿ Therapy etc.
                                    Treatment Modalities
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Offered Services Area -->
        <router-outlet></router-outlet>    