<div class="row">
        <div class="col-md-6">
            <div class="single-price-box">
                <div class="sub-title">
                    <h4>Diagnostics &amp; Tests</h4>
                </div><!-- /.sub-title -->
                <div class="price-box">
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                </div><!-- /.price-box -->
            </div><!-- /.single-price-box -->
        </div><!-- /.col-md-6 -->
        <div class="col-md-6">
            <div class="single-price-box">
                <div class="sub-title">
                    <h4>Treatment Costs</h4>
                </div><!-- /.sub-title -->
                <div class="price-box">
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                    <div class="single-price clearfix">
                        <span class="name">Breast Screening</span>
                        <span class="price">$120</span>
                    </div><!-- /.single-price -->
                </div><!-- /.price-box -->
            </div><!-- /.single-price-box -->
        </div><!-- /.col-md-6 -->
    </div>