<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="sidebar sidebar-right">
        <div class="single-sidebar recent-post-sidebar">
            <div class="title">
                <h3>{{data.page}}</h3>
            </div>
            <div *ngIf="data && data.list" class="recent-post-wrapper">
                <div *ngFor="let item of data.list" (click)="change(item.id)" style=" background: #cec7c7;" class="single-recent-post">
                    <div class="img-box">
                        <img [src]="item.imageUrl" alt="{{item.name}}" height="83px" width="80px">
                    </div>
                    <div class="text-box">
                        <a><h3>{{item.name}}</h3></a>
                        <span *ngIf="item.postDate" class="date">{{item.postDate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>