<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner title="Know About Health IQ" url="#" parent="Home" subtitle="About Us"></app-inner-banner>

<section class="about-style-one white-bg sec-pad about-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/about-1-2.jpg" class="wow slideInLeft" alt="Awesome Image" />
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="about-style-one-content">
                    <h3>We’re Setting the New Standards in <span class="color-one">Medical Research</span> & <span
                            class="color-two">Clinical Care</span></h3>
                    <p class="highlight">Proident sunt in culpa qui officia deserunt mollit animd laborum perspicia
                        natus error voluptatem acusantium doloremque laudan.</p><!-- /.highlight -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc
                        fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                    <h4>ClinMedix Special Features</h4>
                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12">
                            <ul class="list-items">
                                <li><i class="fa fa-check"></i>Patient Experience</li>
                                <li><i class="fa fa-check"></i>Infection Prevention</li>
                                <li><i class="fa fa-check"></i>Quality of Care Services</li>
                            </ul><!-- /.list-items -->
                        </div><!-- /.col-md-5 -->
                        <div class="col-md-5  col-sm-6 col-xs-12">
                            <ul class="list-items">
                                <li><i class="fa fa-check"></i>High-Risk Procedures</li>
                                <li><i class="fa fa-check"></i>Better Safety Measures</li>
                                <li><i class="fa fa-check"></i>Standards of Treatment</li>
                            </ul><!-- /.list-items -->
                        </div><!-- /.col-md-5 -->
                    </div><!-- /.row -->
                </div><!-- /.about-style-one-content -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.about-style-one -->

<section class="service-style-three mb-100" style=" margin-bottom: 100px;">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-drugs"></i>
                        <h3>Get Better Health</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-doctor"></i>
                        <h3>Lisenced Doctors</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-ambulance1"></i>
                        <h3>24 Hours Service</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-date"></i>
                        <h3>Easy Appointments</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.service-style-three sec-pad -->

