<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner title="Know About Health IQ" url="#" parent="Home" subtitle="About Us"></app-inner-banner>

<section class="feature-style-four sec-pad">
    <div class="thm-container">
        <div class="sec-title-style-two text-center">
            <span class="tag-line">LEADER IN THE FIELD OF MEDICAL INDUSTRY</span>
            <div class="line"></div><!-- /.line -->
            <h3>With Over <span class="color-5">10 Years Of Experience</span>, HEALTH IQ <br> Offers 100% Quality Service With <span class="color-6">Best Staff</span></h3>
            <p>WE AT HEALTH IQ aim at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner. We strive to deliver healthcare compassionately and always act with integrity. Our ethics and compliance programme is an integral part of what we do.</p>
        </div><!-- /.sec-title-style-two -->
    </div><!-- /.thm-container -->
    <div class="thm-container feature-content-box">            
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-four">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="assets/images/feature-4-1.png" alt="Awesome Image">
                        </div><!-- /.icon-box -->
                        <a href="#">
                            <h3>Special Features</h3>
                        </a>
                        <p>ISO 9001:2015 certified organisation by UKAS body and all Tests performed at Apollo Diagnostics (NABL,CAP Accrediated Laboratory)</p>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-feature-style-four -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-four">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="assets/images/feature-4-2.png" alt="Awesome Image">
                        </div><!-- /.icon-box -->
                        <a href="#">
                            <h3>Doctors &amp; Team</h3>
                        </a>
                        <p>Dedicated Team of Experienced Doctors and staffs from Healthcare Sector. The only clinic in Kolkata to provide special benefits for transgenders.</p>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-feature-style-four -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12 hvr-bounce-to-bottom col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0">
                <div class="single-feature-style-four">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="assets/images/feature-4-3.png" alt="Awesome Image">
                        </div><!-- /.icon-box -->
                        <a href="#">
                            <h3>Healthcare &amp; Services</h3>
                        </a>
                        <p>Advance facilities for Paedtric,Gynae,Diabetes,Physiotheraphy and many <a href="/services">more…</a></p>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-feature-style-four -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>

<section class="about-style-one white-bg sec-pad about-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/about-1-2.jpg" class="wow slideInLeft" alt="Awesome Image" />
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="about-style-one-content">
                    <h3>At Health IQ WE LIVE BY  <span class="color-one">CHOICE </span> NOT BY <span
                            class="color-two">CHANCE</span></h3>
                    <p class="highlight"> A LEADER IN THE FIELD OF MEDICAL IS ONE WHO KNOWS THE ART OF PROPER MEDICAL KNOWLEDGE WITH THE PROPER ART OF HEALING.
                        BECAUSE PATIENT IS NOT A CONDITION BUT A HUMAN BEING.</p><!-- /.highlight -->
                    <p>Health IQ is committed to foster patient care, research and education with State-of-the-Art health care. With the motto of "Improve Yourself “, Health IQ aspires to deliver paramedical education and healthcare facilities that would be within the reach of all.
                        <br> WE AT HEALTH IQ aim at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner. We strive to deliver healthcare compassionately and always act with integrity. 
                        Our ethics and compliance programme is an integral part of what we do.</p>
                    <h4>Health IQ Special Features</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <ul class="list-items">
                                <li><i class="fa fa-check"></i>Dedicated Team of Experienced Doctors and staffs from Healthcare Sector.</li>
                                <li><i class="fa fa-check"></i>Tests performed at NABL,CAP Accredited laboratories.</li>
                                <li><i class="fa fa-check"></i>Affailated To Bharat Sevak Samaj((A National Development Agency, promoted by Govt. of India) Reg. No. – WB/8384</li>
                                <li><i class="fa fa-check"></i>Holds regular activities which creates practical impact among students</li>
                                <li><i class="fa fa-check"></i>Advance facilities for Paedtric,Gynae,Diabetes,Physiotheraphy and many more services</li>
                                <li><i class="fa fa-check"></i>The only clinic in Kolkata to provide special benefits for transgenders</li>
                            </ul><!-- /.list-items -->
                        </div><!-- /.col-md-5 -->                      
                    </div><!-- /.row -->
                </div><!-- /.about-style-one-content -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.about-style-one -->
