<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner title="Know About Health IQ" url="#" parent="Home" subtitle="About Us"></app-inner-banner>

<section class="about-style-one white-bg sec-pad about-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/about-1-2.jpg" class="wow slideInLeft" alt="Awesome Image" />
            </div><!-- /.col-md-6 -->
            <div class="col-md-6">
                <div class="about-style-one-content">
                    <h3>At Health IQ WE LIVE BY  <span class="color-one">CHOICE </span> NOT BY <span
                            class="color-two">CHANCE</span></h3>
                    <p class="highlight"> A LEADER IN THE FIELD OF MEDICAL IS ONE WHO KNOWS THE ART OF PROPER MEDICAL KNOWLEDGE WITH THE PROPER ART OF HEALING.
                        BECAUSE PATIENT IS NOT A CONDITION BUT A HUMAN BEING.</p><!-- /.highlight -->
                    <p>Established in the year 2019, Health IQ is committed to foster patient care, research and education with State-of-the-Art health care. With the motto of "Improve Yourself “, Health IQ aspires to deliver paramedical education and healthcare facilities that would be within the reach of all.
                        <br> WE AT HEALTH IQ aim at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner. We strive to deliver healthcare compassionately and always act with integrity. 
                        Our ethics and compliance programme is an integral part of what we do.</p>
                    <h4>Health IQ Special Features</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-6 col-xs-12">
                            <ul class="list-items">
                                <li><i class="fa fa-check"></i>Dedicated Team of Experienced Doctors and staffs from Healthcare Sector.</li>
                                <li><i class="fa fa-check"></i>Tests performed at NABL,CAP Accredited laboratories.</li>
                                <li><i class="fa fa-check"></i>Affailated To Bharat Sevak Samaj((A National Development Agency, promoted by Govt. of India) Reg. No. – WB/8384</li>
                                <li><i class="fa fa-check"></i>Holds regular activities which creates practical impact among students</li>
                                <li><i class="fa fa-check"></i>Advance facilities for Paedtric,Gynae,Diabetes,Physiotheraphy and many more services</li>
                                <li><i class="fa fa-check"></i>The only clinic in Kolkata to provide special benefits for transgenders</li>
                            </ul><!-- /.list-items -->
                        </div><!-- /.col-md-5 -->
                       
                    </div><!-- /.row -->
                </div><!-- /.about-style-one-content -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.about-style-one -->

<section class="service-style-three mb-100" style=" margin-bottom: 100px;">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-drugs"></i>
                        <h3>Get Better Health</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-doctor"></i>
                        <h3>Lisenced Doctors</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-ambulance1"></i>
                        <h3>24 Hours Service</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedixicon-date"></i>
                        <h3>Easy Appointments</h3>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-service-style-three -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.service-style-three sec-pad -->

