<section class="home_banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row">

      </div>
    </div>
  </div>
</section>
<!-- academy medical lab  start -->
<section class="academy_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pl-0">
                <h1>Courses offered</h1>
            </div>

            <div class="medical-lab">
              <img src="../../assets/img/pathology.jpg">
                <h2>Medical Lab Technician</h2>
      <p>Medical Lab Technicians are important members of any clinical laboratory team. Medical Lab Technicians analyze
        fluid, tissues and blood samples to perform a variety of diagnoses. Additionally, students from this course are
        trained to clean and maintain lab equipment, manage biomedical waste and adhere to quality control standards as
        per the NABL regulations. They generally work under the supervision of a pathologist.
        Course Curriculum </p>
      <li>Pre & post-natal check up</li>
      <li>Introduction to patient care, lab technology & equipment</li>
      <li> Role of Medical Lab Technician</li>
      <li>Basic pathology & diagnostic techniques</li>
      <li>Basic & clinical biochemistry</li>
      <li>Basic & systemic medical microbiology</li>
      <li> Basic hematology, immunology, parasitology, histology, &
        general pharmacology</li>
      <li>Blood banking, phlebotomy and handling special samples</li>
      <li>Fine needle aspiration technique</li>
      <li>Storage & transportation of samples </li>
      <li>Lab information management system</li>
      <li> Biomedical waste management</li>
      <li>Infection control</li>
      <li>Maintenance & cleaning of lab equipment</li>
      <li>Personnel Hygiene and Safety & First Aid</li>
      <li>Patient's Rights & Responsibilities</li>
      <li>Professional Behavior in Healthcare Setting </li>

      <h4>Eligibility</h4>

      Minimum Qualification: 10th / Madhyamik passed. 10+2 pass is preferable.
      Minimum Age: 17 years.
      <h4>Duration</h4>: CMLT-1 year, DMLT- 2 Years
      <h4>Certification</h4>
      :- Bharat Sevak Samaj (promoted by Planning Commission, GOI)
      <h4>Internship</h4>: 6 months >
       
      </div>

    <!-- academy medical lab end -->

    <!-- academy physiotherapy start -->
    <div class="phisiotherapy"></div>
    <img src="../../assets/img/services images/physiotherapy.jpg" >
 
  <h2> Phisiotherapy</h2>

          </div>

          <p>Physiotherapists are trained professionals working in health care. They are trained to restore mobility,
            alleviate pain and suffering and work to prevent permanent disability in patients. The job of a physical
            therapist is preventive, restorative and rehabilitative. </p>
          <li>Introduction to patient care, physiotherapy </li>
          <li>Role of Physiotherapist</li>
          <li> Human Anatomy</li>
          <li>Human Physiology</li>
          <li>Pathology</li>
          <li>Psychology</li>
          <li>Medical and Surgical Conditions</li>
          <li>Kineseology</li>
          <li>Disability prevention</li>
          <li>Rehabilitation </li>
          <li>Personnel Hygiene and Safety & First Aid</li>
          <li> Patient's Rights & Responsibilities</li>
          <li>Professional Behaviour in Healthcare Setting</li>


          <h4>Eligibility</h4>

          Minimum Qualification: 10th / Madhyamik passed. 10+2 pass is preferable.
          Minimum Age: 17 years.
          <h4>Duration</h4> :- Certificate course - 1 year, Diploma - 2 years

          <h4>Certification</h4>:- Bharat Sevak Samaj (promoted by Planning Commission, GOI)


        </div>
        <!-- academy phisiotherapy end -->
         <!-- academy ecg start end -->
          
<div class="single_ECG">
  <img src="../../assets/img/Intellispace ECG.jpg_product_page.jpg">
          <h2>E.C.G. Technician</h2>
          <p>
            This course trains students in Emergency situation to detect whether the illness is due to Cardiac problem
            or else, Use of E.C.G. Machine of different makes & Models- Manual, Semi-Auto & Fully Auto, To carry out
            E.C.G. on pacemaker patient, Determination of heart beats, Axis, Cardiac Arrhythmias, Ventricular status,
            Interpretation of normal and abnormal E.C.G, Indication of E.C.G. recording, Requirement of Halter Study &
            Doppler study, TMT etc.
            <h4> Eligibility</h4>:-
            Minimum Qualification: 10th / Matric / Madhyamik passed
            Minimum Age: 18 years.
            <h4>Duration:</h4> 6months (Certificate), 1 year (Diploma).
            <h4>Certification</h4>: Bharat Sevak Samaj.
              <!-- ====================academy ECG ============= end -->

<!-- ====================general duty nursing start ============= -->
                       
<div class="single_nursing">
                  <img src="../../assets/img/nurses-.jpg">
                
                  <h2>General Duty Assistant (Nursing )</h2>
                  <p>This course trains students to work as nursing aides in hospitals and home care scenarios and they
                    can also provide basic nursing care. They are taught to support nurses and also directly handle ill
                    patients who are unable to look after themselves in both hospital and home care settings
                    <h4>Course Curriculum</h4>
                   <li> Basic anatomy & physiology</li>
                    <li> General health & hygiene</li>
                    <li>Understanding hospitals & the healthcare system</li>
                    <li>Special skin care for radiotherapy, pressure sores</li>
                    <li>Caring for the visually impaired</li>
                    <li>Role of a patient care assistant</li>
                    <li>Daily care for a patient</li>
                  <li> Administering drugs as per prescriptions</li>
                  <li> Basic nursing skills</li>
                  <li> Disposal of medical waste</li>
                    <li>Understanding body mechanics</li>
                  <li> Patient handling, lifting, and moving patients</li>
                  <li>Fall prevention care and restraints</li>
                  <li>Emergency first aid and CPR</li>


                   <h4> CERTIFICATION:-</h4>
                    Minimum Qualification: 10th / Madhyamik passed. 10+2 passed is preferred.
                    Minimum Age: 17 years. Maximum age: 30 years.
                    <h4>Duration:</h4> 1 year (Certificate) & 2 years (Diploma).
                   <h4> Certification:</h4> Bharat Sevak Samaj (Promoted by Planning Commission, Govt. of India)
                    <h4>Internship:-</h4> 6 months


                </div>
                <!-- ====================general duty nursing end ============= -->
                 <!-- ====================Academy diet and nutrition start ============= -->
                          
<div class="single_nutrition">
  <img src="../../assets/img/diet &nutrition .jpg">
          <h2>Diet & Nutrition</h2>
                 
                 <p>The focus of the programme is to enable you to make the best possible choice for meeting the nutritional needs of your family. The student will learn various concepts in nutrition, the role of nutrients such as carbohydrates, lipids, proteins, vitamins, and minerals, including their sources, requirements, functions, and roles in health. It also includes guidelines for nutrition, dietary reference intakes, dietary guidelines for Indians, and basics of nutritional assessment methods.  
                 <h4>Curriculum:-</h4> 
                 <li>Introduction to nutrition</li>
                 <li>Macronutrients</li>
                <li> Micronutrients</li>
                <li> Nutritional Assessment</li>
                 <h4>Eligibility:-</h4>
                 Minimum Qualification: 10th / Matric / Madhyamik passed
                  Minimum Age: 18 years.
                 <h4> Duration:</h4> 6months (Certificate), 1 year (Diploma).
                 <h4> Certification:</h4> Bharat Sevak Samaj.




                  <!-- ====================Academy diet and nutrition end ============= -->