<div class="top-header home-two">
        <div class="thm-container clearfix">
            <div class="logo pull-left">
                <a href="/#/home"><img height="60px" src="assets/images/logo.jpg" alt="Health IQ"/></a>
            </div><!-- /.logo pull-left -->
            <div class="header-right-info pull-right">
                <div class="single-header-info">
                    <div class="icon-box">
                        <i class="clinmedix-icon-placeholder"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>322  Willis Avenue, <br> <span>Newyork, 33069</span></p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-info -->
                <div class="single-header-info">
                    <div class="icon-box">
                        <i class="clinmedix-icon-smartphone"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                        <p>Helpline <br> <span>1-258-985-703</span></p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-info -->
                <div class="single-header-info">
                    <div class="icon-box">
                        <i class="clinmedix-icon-shield"></i>
                    </div><!-- /.icon-box -->
                    <div class="text-box">
                            <p><a [routerLink]="'/register'">Register</a><br> <span> 
                                    <a [routerLink]="'/user-login'">LogIn</a></span>
                                </p>
                    </div><!-- /.text-box -->
                </div><!-- /.single-header-info -->
                <div class="single-header-info">
                   

                
                </div>
                <!-- <div class="single-header-info">
                    <a href="#test-search" class="search-icon popup-with-zoom-anim search-icon"><i class="clinmedix-icon-search"></i></a>
                </div> -->
            </div><!-- /.header-right-info -->
        </div><!-- /.thm-container -->
    </div><!-- /.top-header -->
