<section class="blog-style-two sec-pad blog-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-left">
                    <!-- /.single-sidebar -->
                    <!-- /.single-sidebar -->

                    <div class="single-sidebar appointment-sidebar">
                        <div class="title">
                            <h3>Reset Password</h3>
                        </div><!-- /.title -->
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="appointment-form">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="frm-control">
                                        <input type="text" placeholder="Enter your Email Address" formControlName="email"
                                            [ngClass]="{ 'error': f.email.touched && f.email}">
                                    </div><!-- /.frm-control -->
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="frm-control">
                                        <input type="text" placeholder="Password"
                                            formControlName="password"
                                            [ngClass]="{ 'error': f.password.touched && f.password}">
                                    </div><!-- /.frm-control -->
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="frm-control">
                                        <input type="text" placeholder="Confirm Password"
                                            formControlName="confirmPassword"
                                            [ngClass]="{ 'error': f.confirmPassword.touched && f.confirmPassword}">
                                    </div><!-- /.frm-control -->
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="frm-control mb0">
                                        <button [disabled]="!loginForm.valid" type="submit">Reset Password</button>
                                    </div><!-- /.frm-control -->
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </form><!-- /.appointment-form -->
                    </div>
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.frm-control -->
    </div><!-- /.col-md-12 -->
</section>