
<div class="top-bar home-one">
    <div class="thm-container clearfix">
        <div class="right-content pull-right">
            <ul class="contact-infos">
                <li>
                    <p><a href="/#/home"><i class="fa fa-home"></i>Go Back To Home </a> </p>
                </li>
                <li>
                    <p><i class="fa fa-user"></i><a [routerLink]="'/user-login'"><span>Login</span></a> </p>
                </li>
            </ul><!-- /.contact-infos -->
        </div><!-- /.right-content -->
    </div><!-- /.thm-container -->
</div>
<section class="blog-style-two sec-pad blog-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar sidebar-left">
                    <!-- /.single-sidebar -->
                    <!-- /.single-sidebar -->

                    <div class="single-sidebar appointment-sidebar">
                        <div class="title">
                            <h3>Reset Password</h3>
                        </div><!-- /.title -->
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="appointment-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="frm-control">
                                        <input type="text" placeholder="Enter your Email Address" formControlName="email">
                                        <div *ngIf="isSubmitted && f.email.errors" class="invalid">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="frm-control">
                                        <input type="password" placeholder="Enter your password" formControlName="oldPassword">
                                        <div *ngIf="isSubmitted && f.oldPassword.errors" class="invalid">
                                            <div *ngIf="f.oldPassword.errors.required">Current Password is required</div>
                                        </div>
                                    </div>
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <div class="frm-control">
                                        <input type="password" placeholder="Enter New Password" formControlName="password" >
                                            <div *ngIf="isSubmitted && f.password.errors" class="invalid">
                                                <div *ngIf="f.password.errors.required">Password is required</div>
                                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                            </div>
                                    </div><!-- /.frm-control -->
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-6">
                                    <div class="frm-control">
                                        <input type="password" placeholder="Confirm Password"  formControlName="confirmPassword">
                                            <div *ngIf="isSubmitted && f.confirmPassword.errors" class="invalid">
                                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                            </div>
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="frm-control mb0">
                                        <button type="submit">Reset Password</button>
                                    </div><!-- /.frm-control -->
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </form><!-- /.appointment-form -->
                    </div>
                </div><!-- /.frm-control -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.frm-control -->
    </div><!-- /.col-md-12 -->
</section>