USE [master]
GO
/****** Object:  Database [LaymanWoods]    Script Date: 18-May-20 11:14:29 PM ******/
CREATE DATABASE [LaymanWoods]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaymanWoods', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LaymanWoods.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaymanWoods_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\LaymanWoods_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaymanWoods].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaymanWoods]
GO
USE [LaymanWoods]
GO
/****** Object:  User [WebDatabaseUser]    Script Date: 18-May-20 11:14:29 PM ******/
CREATE USER [WebDatabaseUser] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [WebDatabaseUser]
GO
/****** Object:  UserDefinedFunction [dbo].[DecryptStr]    Script Date: 18-May-20 11:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[DecryptStr](@EncyptedString VARCHAR(400))
Returns VARCHAR(200)
AS
BEGIN
/*Declare Initial Variable(s) and table(s)*/
DECLARE @DecyptedString VARCHAR(200)
DECLARE @EncDecTbl TABLE
(
   ID INT IDENTITY,
   CharacterValue VARCHAR(5),
   EncryptedValue VARCHAR(5)
)
IF(@EncyptedString IS NOT NULL AND @EncyptedString<>'')
BEGIN

   DECLARE @Counter INT
   DECLARE @Characterlength INT

   --:: Set length for character set as per dictionary
   SET @Characterlength=2 
   
   --:: reverse string
   SET @EncyptedString=REVERSE(@EncyptedString)
   SET @Counter=1

   --:: Insert set of characters list into table variable after spliting the string
   WHILE(@Counter<=LEN(@EncyptedString))
   BEGIN
      INSERT INTO @EncDecTbl (EncryptedValue) 
      VALUES (SUBSTRING(@EncyptedString,@Counter,@Characterlength))   
      SET @Counter=@Counter+@Characterlength   
   end

   --:: Update plain character with respect to encrypted set of characters in table variable
   UPDATE A 
     SET A.CharacterValue=B.CharacterValue
     FROM @EncDecTbl A
     Inner Join dbo.DictionaryEncryptDecrypt B with (nolock)
     ON A.EncryptedValue COLLATE Latin1_General_CS_AS =B.EncryptedValue COLLATE Latin1_General_CS_AS
    
    --:: Merge rows into a string
    SELECT @DecyptedString=
        (
         SELECT CharacterValue
          FROM @EncDecTbl
           FOR XML PATH(''),type
       )
       .value('.','VARCHAR(200)') 
END
  Return @DecyptedString
End


GO
/****** Object:  UserDefinedFunction [dbo].[EncryptStr]    Script Date: 18-May-20 11:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[EncryptStr](@DecryptedString VARCHAR(200))
Returns VARCHAR(400)
As
BEGIN
DECLARE @EncryptedString VARCHAR(400) 

--:: To Handle blank value
IF(@DecryptedString='')
Begin

	Select @EncryptedString=EncryptedValue
		FROM dbo.DictionaryEncryptDecrypt B WITH (NOLOCK)
	Where CharacterValue = ''

End

Else IF(@DecryptedString IS NOT NULL)
BEGIN

   /*Declare Initial Variable(s) and table(s)*/
   DECLARE @counter INT
   SET @counter=1
   
   DECLARE @EncDecTbl TABLE
   (
      ID INT IDENTITY,
      CharacterValue VARCHAR(5),
      EncryptedValue VARCHAR(5)
    )


   WHILE(@counter<=len(@DecryptedString))
   BEGIN
      --:: Insert characters list into table variable after spliting the string
      INSERT INTO @EncDecTbl (CharacterValue) VALUES (SUBSTRING(@DecryptedString,@counter,1))  
      SET @counter=@counter+1   
   END

   --:: Update encrypted set of characters  with respect to  plain character in table variable
   UPDATE A 
      SET A.EncryptedValue=B.EncryptedValue
   FROM @EncDecTbl A
   Inner Join dbo.DictionaryEncryptDecrypt B WITH (NOLOCK)
   ON A.CharacterValue COLLATE Latin1_General_CS_AS =B.CharacterValue   COLLATE Latin1_General_CS_AS      
   
   --:: Merge rows into a string
   SELECT @EncryptedString=
        (
         SELECT EncryptedValue
          FROM @EncDecTbl
           FOR XML PATH(''),type
       )
       .value('.','VARCHAR(400)')
       

END
   --:: reverse string
   Return REVERSE(@EncryptedString)
END



GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18-May-20 11:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CategoryMaster]    Script Date: 18-May-20 11:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CategoryMaster](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](32) NOT NULL,
	[CategoryCode] [varchar](50) NOT NULL,
	[CompanyID] [int] NULL,
	[WebPartType] [int] NOT NULL,
	[isMultiSelect] [bit] NOT NULL,
	[Title] [varchar](150) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommonSetup]    Script Date: 18-May-20 11:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CommonSetup](
	[CommonSetupID] [int] IDENTITY(1,1) NOT NULL,
	[MainType] [varchar](200) NULL,
	[SubType] [varchar](200) NULL,
	[DisplayText] [varchar](200) NULL,
	[DisplayValue] [tinyint] NULL,
	[ParentID] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CompanyID] [int] NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[CommonSetup] ADD [Description] [varchar](200) NULL
 CONSTRAINT [PK_CommonSetup] PRIMARY KEY CLUSTERED 
(
	[CommonSetupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactEnquiry]    Script Date: 18-May-20 11:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactEnquiry](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Mobile] [varchar](15) NOT NULL,
	[Message] [varchar](1000) NULL,
	[Address] [varchar](300) NULL,
	[City] [varchar](100) NULL,
	[Pincode] [varchar](10) NULL,
	[Status] [int] NULL,
	[CompanyID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ContactEnquiry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DictionaryEncryptDecrypt]    Script Date: 18-May-20 11:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DictionaryEncryptDecrypt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[CharacterValue] [varchar](5) NOT NULL,
	[EncryptedValue] [varchar](5) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Emails]    Script Date: 18-May-20 11:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Emails](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[UserID] [int] NULL,
	[TemplateID] [int] NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](50) NULL,
	[Mobile] [varchar](20) NULL,
	[EmailAddress] [varchar](150) NULL,
	[Message] [varchar](1500) NULL,
	[Status] [int] NOT NULL,
	[ProductID] [int] NULL,
	[Address] [varchar](300) NULL,
	[Pincode] [varchar](30) NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Emails] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmailTemplate]    Script Date: 18-May-20 11:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmailTemplate](
	[TemplateID] [int] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Body] [varchar](max) NULL,
	[Subject] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EmailTemplate] PRIMARY KEY CLUSTERED 
(
	[TemplateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntrepreneurEnquiry]    Script Date: 18-May-20 11:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EntrepreneurEnquiry](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Mobile] [varchar](15) NOT NULL,
	[Profession] [varchar](100) NULL,
	[Location] [varchar](50) NULL,
	[Investment] [decimal](9, 2) NOT NULL,
	[Message] [varchar](1000) NULL,
	[Address] [varchar](300) NULL,
	[City] [varchar](100) NULL,
	[Pincode] [varchar](10) NULL,
	[Status] [int] NULL,
	[CompanyID] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_[EntrepreneurEnquiry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InteriorAndCategoryMapping]    Script Date: 18-May-20 11:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InteriorAndCategoryMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InteriorID] [int] NOT NULL,
	[CategoryCode] [varchar](50) NOT NULL,
	[ProductID] [int] NULL,
	[Multiplier] [decimal](18, 2) NOT NULL,
	[Divisor] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[WebPartType] [int] NOT NULL,
	[isMultiSelect] [bit] NOT NULL,
	[isDefault] [bit] NOT NULL,
 CONSTRAINT [PK_Interior_CategoryMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InteriorCategory]    Script Date: 18-May-20 11:14:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InteriorCategory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Image] [varchar](1500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_InteriorCategory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InteriorProducts]    Script Date: 18-May-20 11:14:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[InteriorProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Image] [varchar](1500) NULL,
	[InteriorCategoryID] [int] NULL,
	[Type] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CompanyID] [int] NOT NULL,
 CONSTRAINT [PK_InteriorProducts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OTPMaster]    Script Date: 18-May-20 11:14:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OTPMaster](
	[OTPMasterID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[GUID] [varchar](500) NULL,
	[OTP] [varchar](20) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Attempts] [int] NULL,
 CONSTRAINT [PK_OTPMaster] PRIMARY KEY CLUSTERED 
(
	[OTPMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductHelp]    Script Date: 18-May-20 11:14:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ProductHelp](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Title] [varchar](150) NOT NULL,
	[ImageUrl] [varchar](1000) NULL,
	[Description] [varchar](max) NOT NULL,
	[AdditionalInfo] [varchar](1000) NULL,
	[Specification] [varchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[CategoryID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[ProductHelp] ADD [CategoryCode] [varchar](50) NULL
 CONSTRAINT [PK_ProductHelp] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductMaster]    Script Date: 18-May-20 11:14:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ProductMaster](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Title] [varchar](150) NOT NULL,
	[ImageUrl] [varchar](1000) NOT NULL,
	[CategoryCode] [varchar](10) NOT NULL,
	[Color] [int] NOT NULL,
	[SKUCode] [varchar](50) NULL,
	[SKUName] [varchar](50) NULL,
	[MRP] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CompanyID] [int] NOT NULL,
	[MeasurementUnit] [int] NULL,
	[IsDefault] [bit] NULL,
 CONSTRAINT [PK_ProductMaster] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 18-May-20 11:14:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[UserCode] [varchar](50) NULL,
	[EmplCode] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](100) NOT NULL,
	[MySingleID] [varchar](50) NULL,
	[Mobile_Calling] [varchar](50) NULL,
	[Mobile_SD] [varchar](50) NULL,
	[EmailID] [varchar](150) NULL,
	[IsSSOLogin] [bit] NOT NULL,
	[UserCommunicationGroup] [varchar](50) NULL,
	[ProductTypeID] [int] NULL,
	[EnrollmentDate] [datetime] NULL,
	[AccountStatus] [int] NOT NULL,
	[IsOfflineProfile] [bit] NOT NULL,
	[ProfilePictureFileName] [varchar](120) NULL,
	[Address] [varchar](300) NULL,
	[Pincode] [varchar](30) NULL,
	[AlternateEmailID] [varchar](150) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [bigint] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[IsPinRegistered] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[AndroidRegistrationId] [varchar](1000) NULL,
	[DistrictCode] [varchar](100) NULL,
	[DistrictName] [varchar](100) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryMaster] ON 

INSERT [dbo].[CategoryMaster] ([CategoryID], [CategoryName], [CategoryCode], [CompanyID], [WebPartType], [isMultiSelect], [Title]) VALUES (1, N'Accessories', N'100', 1, 3, 0, N'Accessories')
INSERT [dbo].[CategoryMaster] ([CategoryID], [CategoryName], [CategoryCode], [CompanyID], [WebPartType], [isMultiSelect], [Title]) VALUES (2, N'Ply and Board', N'101', 1, 1, 0, N'Ply and Board')
INSERT [dbo].[CategoryMaster] ([CategoryID], [CategoryName], [CategoryCode], [CompanyID], [WebPartType], [isMultiSelect], [Title]) VALUES (3, N'Inner Laminates', N'102', 1, 1, 0, N'Inner Laminates')
SET IDENTITY_INSERT [dbo].[CategoryMaster] OFF
SET IDENTITY_INSERT [dbo].[CommonSetup] ON 

INSERT [dbo].[CommonSetup] ([CommonSetupID], [MainType], [SubType], [DisplayText], [DisplayValue], [ParentID], [IsDeleted], [CreatedDate], [ModifiedDate], [CompanyID], [Description]) VALUES (1, N'Measurement Unit', NULL, N'Quantity', 1, 1, 0, CAST(N'2020-10-01T00:00:00.000' AS DateTime), NULL, 1, N'Measurement Units')
INSERT [dbo].[CommonSetup] ([CommonSetupID], [MainType], [SubType], [DisplayText], [DisplayValue], [ParentID], [IsDeleted], [CreatedDate], [ModifiedDate], [CompanyID], [Description]) VALUES (3, N'Measurement Unit', NULL, N'Area Plus', 2, 1, 0, CAST(N'2020-10-01T00:00:00.000' AS DateTime), NULL, 1, NULL)
INSERT [dbo].[CommonSetup] ([CommonSetupID], [MainType], [SubType], [DisplayText], [DisplayValue], [ParentID], [IsDeleted], [CreatedDate], [ModifiedDate], [CompanyID], [Description]) VALUES (4, N'Measurement Unit', NULL, N'Area Multiply', 3, 1, 0, CAST(N'2020-10-01T00:00:00.000' AS DateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[CommonSetup] OFF
SET IDENTITY_INSERT [dbo].[ContactEnquiry] ON 

INSERT [dbo].[ContactEnquiry] ([ID], [Name], [Email], [Mobile], [Message], [Address], [City], [Pincode], [Status], [CompanyID], [CreatedDate]) VALUES (1, N'Neeraj Singh', N'singh.neer@ymail.com', N'0852781881', N' ghg jhg jh jhg j', NULL, NULL, NULL, 1, 1, CAST(N'2020-05-18T22:37:06.733' AS DateTime))
INSERT [dbo].[ContactEnquiry] ([ID], [Name], [Email], [Mobile], [Message], [Address], [City], [Pincode], [Status], [CompanyID], [CreatedDate]) VALUES (2, N'Neeraj Singh', N'singh.neer@ymail.com', N'0852781881', N' ghg jhg jh jhg j', NULL, NULL, NULL, 1, 1, CAST(N'2020-05-18T22:37:01.590' AS DateTime))
INSERT [dbo].[ContactEnquiry] ([ID], [Name], [Email], [Mobile], [Message], [Address], [City], [Pincode], [Status], [CompanyID], [CreatedDate]) VALUES (3, N'Neeraj Singh', N'singh.neer@ymail.com', N'0852781881', N' ghg jhg jh jhg j', NULL, NULL, NULL, 1, 1, CAST(N'2020-05-18T22:37:04.410' AS DateTime))
SET IDENTITY_INSERT [dbo].[ContactEnquiry] OFF
SET IDENTITY_INSERT [dbo].[EntrepreneurEnquiry] ON 

INSERT [dbo].[EntrepreneurEnquiry] ([ID], [Name], [Email], [Mobile], [Profession], [Location], [Investment], [Message], [Address], [City], [Pincode], [Status], [CompanyID], [CreatedDate]) VALUES (3, N'Neeraj Singh', N'singh.neer@ymail.com', N'8527818810', N'tyujgn jgjhg j g j', N'noi', CAST(7500000.00 AS Decimal(9, 2)), NULL, NULL, NULL, NULL, 1, 1, CAST(N'2020-05-18T00:07:31.813' AS DateTime))
INSERT [dbo].[EntrepreneurEnquiry] ([ID], [Name], [Email], [Mobile], [Profession], [Location], [Investment], [Message], [Address], [City], [Pincode], [Status], [CompanyID], [CreatedDate]) VALUES (4, N'Neeraj Singh', N'singh.neer@ymail.com', N'0852781881', N'67fhjyh fjyg jyg', N'noida', CAST(1500000.00 AS Decimal(9, 2)), NULL, NULL, NULL, NULL, 1, 1, CAST(N'2020-05-18T20:41:39.563' AS DateTime))
INSERT [dbo].[EntrepreneurEnquiry] ([ID], [Name], [Email], [Mobile], [Profession], [Location], [Investment], [Message], [Address], [City], [Pincode], [Status], [CompanyID], [CreatedDate]) VALUES (5, N'Neeraj Singh', N'neer19ultimate@gmail.com', N'0959966040', N'f jgjhg j', N' jhg bhm gjhg b', CAST(2000000.00 AS Decimal(9, 2)), NULL, NULL, NULL, NULL, 1, 0, CAST(N'2020-05-18T20:46:50.717' AS DateTime))
SET IDENTITY_INSERT [dbo].[EntrepreneurEnquiry] OFF
SET IDENTITY_INSERT [dbo].[InteriorAndCategoryMapping] ON 

INSERT [dbo].[InteriorAndCategoryMapping] ([ID], [InteriorID], [CategoryCode], [ProductID], [Multiplier], [Divisor], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [WebPartType], [isMultiSelect], [isDefault]) VALUES (1, 1, N'100', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), CAST(N'2020-04-12T02:07:04.943' AS DateTime), 1, NULL, NULL, 0, 3, 0, 0)
INSERT [dbo].[InteriorAndCategoryMapping] ([ID], [InteriorID], [CategoryCode], [ProductID], [Multiplier], [Divisor], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [WebPartType], [isMultiSelect], [isDefault]) VALUES (2, 1, N'101', NULL, CAST(32.00 AS Decimal(18, 2)), CAST(6.20 AS Decimal(18, 2)), CAST(N'2020-04-12T02:09:14.970' AS DateTime), 1, NULL, NULL, 0, 1, 0, 0)
INSERT [dbo].[InteriorAndCategoryMapping] ([ID], [InteriorID], [CategoryCode], [ProductID], [Multiplier], [Divisor], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [WebPartType], [isMultiSelect], [isDefault]) VALUES (3, 1, N'102', NULL, CAST(1.00 AS Decimal(18, 2)), CAST(3.50 AS Decimal(18, 2)), CAST(N'2020-04-12T02:18:48.173' AS DateTime), 1, NULL, NULL, 0, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[InteriorAndCategoryMapping] OFF
SET IDENTITY_INSERT [dbo].[InteriorCategory] ON 

INSERT [dbo].[InteriorCategory] ([ID], [Name], [Title], [Image], [IsDeleted], [CompanyID]) VALUES (1, N'Kitchen', N'Kitchen', N' ', 0, 1)
INSERT [dbo].[InteriorCategory] ([ID], [Name], [Title], [Image], [IsDeleted], [CompanyID]) VALUES (2, N'Wardrobe', N'Wardrobe', N' ', 0, 1)
INSERT [dbo].[InteriorCategory] ([ID], [Name], [Title], [Image], [IsDeleted], [CompanyID]) VALUES (3, N'False Ceiling', N'False Ceiling', N' ', 0, 1)
SET IDENTITY_INSERT [dbo].[InteriorCategory] OFF
SET IDENTITY_INSERT [dbo].[InteriorProducts] ON 

INSERT [dbo].[InteriorProducts] ([ID], [Name], [Title], [Image], [InteriorCategoryID], [Type], [IsDeleted], [CompanyID]) VALUES (1, N'L Shape Kitchen', N'L Shape Kitchen', N' ', 1, 2, 0, 1)
INSERT [dbo].[InteriorProducts] ([ID], [Name], [Title], [Image], [InteriorCategoryID], [Type], [IsDeleted], [CompanyID]) VALUES (2, N'U Shape', N'U Shape Kitchen', N' ', 1, 3, 0, 1)
INSERT [dbo].[InteriorProducts] ([ID], [Name], [Title], [Image], [InteriorCategoryID], [Type], [IsDeleted], [CompanyID]) VALUES (3, N'I Shape', N'I Shape Kitchen', N' ', 1, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[InteriorProducts] OFF
SET IDENTITY_INSERT [dbo].[OTPMaster] ON 

INSERT [dbo].[OTPMaster] ([OTPMasterID], [UserID], [GUID], [OTP], [CreatedDate], [Attempts]) VALUES (1, 100, N'123edbea-d090-491d-874b-a11a7e7c4c48', N'120894', CAST(N'2020-01-23T23:00:44.553' AS DateTime), 0)
INSERT [dbo].[OTPMaster] ([OTPMasterID], [UserID], [GUID], [OTP], [CreatedDate], [Attempts]) VALUES (2, 0, N'ffaa288d-9ff4-4bbd-9f6c-a4436c9e200b', N'123456', CAST(N'2020-01-28T20:05:03.733' AS DateTime), 0)
INSERT [dbo].[OTPMaster] ([OTPMasterID], [UserID], [GUID], [OTP], [CreatedDate], [Attempts]) VALUES (3, 0, N'7019e43e-12a4-4eb5-a5c8-7a5e6bd651e4', N'218645', CAST(N'2020-01-28T21:52:23.903' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[OTPMaster] OFF
SET IDENTITY_INSERT [dbo].[ProductHelp] ON 

SET IDENTITY_INSERT [dbo].[ProductHelp] OFF
SET IDENTITY_INSERT [dbo].[ProductMaster] ON 

INSERT [dbo].[ProductMaster] ([ProductID], [Name], [Title], [ImageUrl], [CategoryCode], [Color], [SKUCode], [SKUName], [MRP], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [IsActive], [CategoryID], [CompanyID], [MeasurementUnit], [IsDefault]) VALUES (3, N'Century Sainik
', N'Century Sainik
 Ply Board', N'NA', N'101', 1, NULL, NULL, CAST(72.00 AS Decimal(18, 2)), CAST(N'2020-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1, 2, 1, 2, 1)
INSERT [dbo].[ProductMaster] ([ProductID], [Name], [Title], [ImageUrl], [CategoryCode], [Color], [SKUCode], [SKUName], [MRP], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [IsActive], [CategoryID], [CompanyID], [MeasurementUnit], [IsDefault]) VALUES (4, N'Century CLUB PRIME
', N'Century CLUB PRIME
', N'NA', N'101', 1, NULL, NULL, CAST(90.00 AS Decimal(18, 2)), CAST(N'2020-10-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1, 2, 1, 2, 0)
INSERT [dbo].[ProductMaster] ([ProductID], [Name], [Title], [ImageUrl], [CategoryCode], [Color], [SKUCode], [SKUName], [MRP], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [IsDeleted], [IsActive], [CategoryID], [CompanyID], [MeasurementUnit], [IsDefault]) VALUES (24, N'Century Popular MR
', N'Century Popular MR
', N'NA', N'101', 1, NULL, NULL, CAST(108.00 AS Decimal(18, 2)), CAST(N'2020-10-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1, 2, 1, 2, 0)
GO
SET IDENTITY_INSERT [dbo].[ProductMaster] OFF
/****** Object:  Index [Product_Name]    Script Date: 18-May-20 11:14:33 PM ******/
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [Product_Name] UNIQUE NONCLUSTERED 
(
	[ProductID] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  DEFAULT ((0)) FOR [WebPartType]
GO
ALTER TABLE [dbo].[CategoryMaster] ADD  DEFAULT ((0)) FOR [isMultiSelect]
GO
ALTER TABLE [dbo].[ContactEnquiry] ADD  CONSTRAINT [DF_ContactEnquiry_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ContactEnquiry] ADD  CONSTRAINT [DF_Contact_CompanyID]  DEFAULT ((1)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[ContactEnquiry] ADD  CONSTRAINT [DF_ContactEnquiry_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Emails] ADD  CONSTRAINT [UserMaster_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[EmailTemplate] ADD  CONSTRAINT [DF_EmailTemplate_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EntrepreneurEnquiry] ADD  CONSTRAINT [DF_EntrepreneurEnquiry_Status]  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[EntrepreneurEnquiry] ADD  CONSTRAINT [DF_Entrepreneur_CompanyID]  DEFAULT ((1)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[EntrepreneurEnquiry] ADD  CONSTRAINT [DF_Entrepreneur_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((1)) FOR [Multiplier]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((1)) FOR [Divisor]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((0)) FOR [WebPartType]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((0)) FOR [isMultiSelect]
GO
ALTER TABLE [dbo].[InteriorAndCategoryMapping] ADD  DEFAULT ((0)) FOR [isDefault]
GO
ALTER TABLE [dbo].[InteriorCategory] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[InteriorCategory] ADD  DEFAULT ((1)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[InteriorProducts] ADD  DEFAULT ((1)) FOR [Type]
GO
ALTER TABLE [dbo].[InteriorProducts] ADD  DEFAULT ((1)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[InteriorProducts] ADD  DEFAULT ((1)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[ProductHelp] ADD  CONSTRAINT [DF_ProductHelp_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductHelp] ADD  CONSTRAINT [DF_ProductHelp_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ProductHelp] ADD  CONSTRAINT [DF_ProductHelp_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductHelp] ADD  CONSTRAINT [DF_ProductHelp_Company]  DEFAULT ((1)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_CreatedBy]  DEFAULT ((0)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_Company]  DEFAULT ((1)) FOR [CompanyID]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  CONSTRAINT [DF_ProductMaster_MeasurementUnit]  DEFAULT ((1)) FOR [MeasurementUnit]
GO
ALTER TABLE [dbo].[ProductMaster] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Password]  DEFAULT ('_#^~!875(~$8') FOR [Password]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_IsOfflineProfile]  DEFAULT ((0)) FOR [IsOfflineProfile]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_IsPinRegistered]  DEFAULT ((0)) FOR [IsPinRegistered]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [UserMaster_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[InteriorProducts]  WITH CHECK ADD  CONSTRAINT [FK_InteriorProducts_InteriorCategory] FOREIGN KEY([InteriorCategoryID])
REFERENCES [dbo].[InteriorCategory] ([ID])
GO
ALTER TABLE [dbo].[InteriorProducts] CHECK CONSTRAINT [FK_InteriorProducts_InteriorCategory]
GO
ALTER TABLE [dbo].[ProductHelp]  WITH CHECK ADD  CONSTRAINT [FK_ProductHelp_CategoryMaster] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryMaster] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductHelp] CHECK CONSTRAINT [FK_ProductHelp_CategoryMaster]
GO
ALTER TABLE [dbo].[ProductHelp]  WITH CHECK ADD  CONSTRAINT [FK_ProductHelp_ProductMaster] FOREIGN KEY([ProductID])
REFERENCES [dbo].[ProductMaster] ([ProductID])
GO
ALTER TABLE [dbo].[ProductHelp] CHECK CONSTRAINT [FK_ProductHelp_ProductMaster]
GO
ALTER TABLE [dbo].[ProductMaster]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaster_CategoryMaster] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CategoryMaster] ([CategoryID])
GO
ALTER TABLE [dbo].[ProductMaster] CHECK CONSTRAINT [FK_ProductMaster_CategoryMaster]
GO
USE [master]
GO
