<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner title="Book An Appointment" url="#" parent="Home" subtitle="Book Appointment"></app-inner-banner>

<section class="appointment-style-two sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4">
                <div class="appointment-sidebar sidebar-left">
                    <div class="single-appointment-sidebar overview">
                        <div class="title">
                            <h3>Booking Overview</h3>
                            <p>Review your appointment details</p>
                        </div><!-- /.title -->
                        <ul class="infos">
                            <li>
                                <span class="type">Service:</span>
                                <span class="option">Neurology & Neurosurgery</span>
                            </li>
                            <li>
                                <span class="type">Dr. Name:</span>
                                <span class="option">Dr. Andrian Henry</span>
                            </li>
                            <li>
                                <span class="type">Fee:</span>
                                <span class="option">$100/Consultation</span>
                            </li>
                            <li>
                                <span class="type">Date:</span>
                                <span class="option">October 15, 2018</span>
                            </li>
                            <li>
                                <span class="type">Time:</span>
                                <span class="option">04:00 PM</span>
                            </li>
                        </ul><!-- /.infos -->
                    </div><!-- /.single-appointment-sidebar overview -->
                    <div class="single-appointment-sidebar availability">
                        <div class="title">
                            <h3>availability</h3>
                        </div><!-- /.title -->
                        <ul class="infos">
                            <li>
                                <span class="type">Monday to Friday</span>
                                <span class="option">09:00 am - 19:00 pm</span>
                            </li>
                            <li>
                                <span class="type">Saturday</span>
                                <span class="option">08:00 am - 17:00 pm</span>
                            </li>
                            <li>
                                <span class="type">Sunday</span>
                                <span class="option">Emergency Only</span>
                            </li>
                        </ul><!-- /.infos -->
                    </div><!-- /.single-appointment-sidebar availability -->
                </div><!-- /.appointment-sidebar -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="appointment-form contact-form">
                    <h3>Need an <span class="color-1">Advice</span> from <span class="color-2">Expert Doctor?</span>
                        Get an Appointment Today!</h3>
                    <p>To speak with a representative, Call us <span>1-258-985-703</span></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Your Name" formControlName="name"
                                    [ngClass]="{ 'error': f.name.touched && f.name}">
                            </div>
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Email" formControlName="email"
                                    [ngClass]="{ 'error': f.email.touched && f.email}">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Mobile" formControlName="mobile"
                                    [ngClass]="{ 'error': f.mobile.touched && f.mobile}">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-3">
                            <div class="frm-control">
                                <select name="time-select" formControlName="sex" class="selectpicker"
                                    id="dpartments-select">
                                    <option value="0">Select Sex </option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-3">
                            <div class="frm-control">
                                <input type="text" placeholder="Age" formControlName="age">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-4">
                            <div class="frm-control select-date">
                                <input type="text" placeholder="MM-DD-YYYY" formControlName="bookingDate"
                                    class="select-date-input" [ngClass]="{ 'error': submitted && f.bookingDate}">
                                <i class="fa fa-calendar-alt"></i>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="frm-control">
                                <div class="btn-group bootstrap-select dropup">
                                    <select formControlName="bookingTime" class="selectpicker" id="time-select"
                                        tabindex="-98">
                                        <option value="09.00 am - 10.00 am">09.00 am - 10.00 am</option>
                                        <option value="10.01 am - 11.00 am">10.01 am - 11.00 am</option>
                                        <option value="11.01 am - 12.00 pm">11.01 am - 12.00 pm</option>
                                        <option value="12.01 pm - 01.00 pm">12.01 pm - 01.00 pm</option>
                                        <option value="01.00 pm - 02.00 pm">01.00 pm - 02.00 pm</option>
                                        <option value="02.01 pm - 04.00 pm">02.01 pm - 04.00 pm</option>
                                        <option value="04.01 pm - 06.00 pm">04.01 pm - 06.00 pm</option>
                                        <option value="06.01 pm - 08.00 pm">06.01 pm - 08.00 pm</option>
                                    </select></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                             
                            <div class="frm-control">
                                <div class="btn-group bootstrap-select">
                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"  title="Select Doctors">
                                        <span  class="filter-option pull-left"> {{selectedText}}</span>&nbsp;
                                        <span class="bs-caret"><span class="caret"></span></span>
                                    </button>

                                    <div class="dropdown-menu open">
                                        <ul class="dropdown-menu inner" role="menu">
                                            <li *ngFor="let doctor of doctorsList" ><a (click)="selectDoctor(doctor)"> 
                                                 <span  class="text">{{doctor.FirstName}}</span><span class="glyphicon glyphicon-ok check-mark"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <select formControlName="doctorID">
                                            <option *ngFor="let doctor of doctorsList" [class.selected]="{'selected':selectedID == doctor.ID.toString() }" [ngValue]="doctor.ID">
                                                {{doctor.FirstName}}</option>
                                        </select>
                                </div>
                            </div>
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-12">
                            <div class="frm-control mb0">
                                <button [disabled]="!appointmentForm.valid"  type="submit">Submit</button>
                                <button type="reset">Reset</button>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    <div class="form-result"></div>
                </form>
                <br>
               
            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.appointment-style-one -->