<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner title="Book An Appointment"  parent="Home" subtitle="Book Appointment"></app-inner-banner>

<section class="appointment-style-two sec-pad">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4">
                <div class="appointment-sidebar sidebar-left">
                    <div class="single-appointment-sidebar availability">
                        <div class="title">
                            <h3>availability</h3>
                        </div><!-- /.title -->
                        <ul class="infos">
                            <li>
                                <span class="type">Monday to Friday</span>
                                <span class="option">07:00 am - 08:00 pm</span>
                            </li>
                            <li>
                                <span class="type">Saturday</span>
                                <span class="option">07:00 am - 08:00 pm</span>
                            </li>
                            <li>
                                <span class="type">Sunday</span>
                                <span class="option">07:00 am - 04:00 pm</span>
                            </li>
                        </ul><!-- /.infos -->
                    </div><!-- /.single-appointment-sidebar availability -->
                </div><!-- /.appointment-sidebar -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-8">
                <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()" class="appointment-form">
                    <h3>Need an <span class="color-1">Advice</span> from <span class="color-2">Expert Doctor?</span>
                        Get an Appointment Today!</h3>
                    <p>To speak with a representative, Call us <span>+91-801-792-6291</span></p>
                    <div class="row">
                        <input type="text" style="display: none;" formControlName="companyID">
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Your Name" formControlName="name">
                                <div *ngIf="submitted && f.name.errors" class="invalid">
                                    <div *ngIf="f.name.errors.required"> Name is required</div>
                                </div>
                            </div>
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="email" formControlName="email">
                                <div *ngIf="submitted && f.email.errors" class="invalid">
                                    <div *ngIf="f.email.errors.required">email is required</div>
                                    <div *ngIf="f.email.errors.email">email must be a valid email address</div>
                                </div>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-5">
                            <div class="frm-control">
                                <input type="text" placeholder="mobile" formControlName="mobile">
                                <div *ngIf="submitted && f.mobile.errors" class="invalid">
                                    <div *ngIf="f.mobile.errors.required">mobile Number is required</div>
                                    <div *ngIf="f.mobile.errors.minlength">mobile must be at least 10 characters</div>
                                </div>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-5">
                            <div class="frm-control"
                                style="border: 1px solid #cac6c6;border-style: none none solid none;">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" formControlName="sex" id="male" value="1"> Male
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" formControlName="sex" id="female" value="2"> Female
                                </label>
                                <div *ngIf="submitted && f.sex.errors" class="invalid">
                                    <div *ngIf="f.sex.errors.required">Gender is required</div>
                                </div>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-2">
                            <div class="frm-control">
                                <input type="text" placeholder="Age" formControlName="age">
                                <div *ngIf="submitted && f.age.errors" class="invalid">
                                    <div *ngIf="f.age.errors.required">Age can not be empty.</div>
                                    <div *ngIf="f.age.errors.maxlength">Max Age can be 99</div>
                                </div>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->

                        <div class="col-md-4">
                            <div class="frm-control">
                                <div class="btn-group bootstrap-select">
                                    <button type="button" class="btn dropdown-toggle btn-default"
                                        data-toggle="dropdown">
                                        <span class="filter-option pull-left"
                                            [ngClass]="{'invalid': submitted && f.bookingTime.errors}">
                                            {{selectedTimeText}}</span>&nbsp;
                                        <span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu open">
                                        <ul class="dropdown-menu inner" role="menu">
                                            <li *ngFor="let u of allTimings"><a (click)="selectTiming(u)">
                                                    <span class="text">{{u}}</span><span
                                                        class="glyphicon glyphicon-ok check-mark"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <select formControlName="bookingTime">
                                        <option *ngFor="let u of allTimings" [ngValue]="u">
                                            {{u}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="frm-control">
                                <div class="btn-group bootstrap-select">
                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                                        title="Select Doctors">
                                        <span class="filter-option pull-left"> {{selectedText}}</span>&nbsp;
                                        <span class="bs-caret"><span class="caret"></span></span>
                                    </button>

                                    <div class="dropdown-menu open">
                                        <ul class="dropdown-menu inner" role="menu">
                                            <li *ngFor="let doctor of doctorsList"><a (click)="selectDoctor(doctor)">
                                                    <span class="text">{{doctor.firstName}}</span><span
                                                        class="glyphicon glyphicon-ok check-mark"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div *ngIf="submitted && f.doctorID.errors" class="invalid">
                                        <div *ngIf="f.doctorID.errors.required">Please select doctor</div>
                                    </div>
                                    <select formControlName="doctorID">
                                        <option *ngFor="let doctor of doctorsList"
                                            [class.selected]="{'selected':selectedID == doctor.id.toString() }"
                                            [ngValue]="doctor.id">
                                            {{doctor.firstName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="frm-control select-datedate">
                                <input type="text" placeholder="MM-DD-YYYY" formControlName="bookingDate" useValueAsDate
                                    type="date" class="select-date-input">
                                <div *ngIf="submitted && f.bookingDate.errors" class="invalid">
                                    <div *ngIf="f.bookingDate.errors.required">Booking Date is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div *ngIf="status==='Success'" class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
                            <div *ngIf="status==='Fail'" class="alert alert-danger alert-dismissible" role="alert">{{ message }}</div>
                            <div class="frm-control mb0">
                                <button *ngIf="!showSpinner" type="submit">Submit</button>
                                <button *ngIf="showSpinner" type="submit">Sending Request...</button>
                                
                                <button type="reset" (click)="reset()">Reset</button>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    <div class="form-result">
                    </div>
                </form>
                <br>

            </div><!-- /.col-md-8 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.appointment-style-one -->