<section class="appointment-style-one sec-pad pt0 contact-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-7">
                <form action="inc/sendemail.php" class="appointment-form contact-form" novalidate="novalidate">
                    <h3>Get In Touch</h3>
                    <p>Send us your contact information for anything you need and we’ll be happy to assist you!</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Full Name" name="FirstName">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Last Name" name="LastName">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Email Address" name="Email">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Phone" name="Phone">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <div class="btn-group bootstrap-select dropup"><button type="button"
                                        class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                                        data-id="departments-select" title="Pathology" aria-expanded="false">
                                        <span class="filter-option pull-left">Pathology</span>&nbsp;<span
                                            class="bs-caret">
                                            <span class="caret"></span></span></button>
                              
                                    <select name="departments-select" class="selectpicker" id="departments-select"
                                        tabindex="-98">
                                        <option value="1">Departments</option>
                                        <option value="Cardiology">Cardiology</option>
                                        <option value="Eye Care">Eye Care</option>
                                        <option value="Skin Care">Skin Care</option>
                                        <option value="Pathology">Pathology</option>
                                    </select>
                                </div><!-- /#time-select -->
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Subject" name="subject">
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-12">
                            <div class="frm-control mb0">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                                <!-- /#message -->
                                <button type="submit">Send Message</button>
                            </div><!-- /.frm-control -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    <div class="form-result"></div><!-- /.form-result -->
                </form><!-- /.appointment-form -->
            </div><!-- /.col-md-7 -->
            <div class="col-md-5">
                <div class="appointment-time">
                    <div class="inner-box">
                        <h3>Opening Hours</h3>
                        <p>Proident sunt in culpa qui officia deserunt mollit animd laborum perspicia.</p>
                        <div class="time-box">
                            <div class="signle-time-box">
                                <div class="day-name">Monday:</div><!-- /.day-name -->
                                <div class="time-line">09:00 am - 19:00 pm</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                            <div class="signle-time-box">
                                <div class="day-name">Tuesday:</div><!-- /.day-name -->
                                <div class="time-line">09:00 am - 19:00 pm</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                            <div class="signle-time-box">
                                <div class="day-name">Wednesday:</div><!-- /.day-name -->
                                <div class="time-line">09:00 am - 19:00 pm</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                            <div class="signle-time-box">
                                <div class="day-name">Thursday:</div><!-- /.day-name -->
                                <div class="time-line">09:00 am - 19:00 pm</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                            <div class="signle-time-box">
                                <div class="day-name">Friday:</div><!-- /.day-name -->
                                <div class="time-line">09:00 am - 19:00 pm</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                            <div class="signle-time-box">
                                <div class="day-name">Saturday:</div><!-- /.day-name -->
                                <div class="time-line">09:00 am - 19:00 pm</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                            <div class="signle-time-box">
                                <div class="day-name">Sunday:</div><!-- /.day-name -->
                                <div class="time-line">Closed*</div><!-- /.time-line -->
                            </div><!-- /.signle-time-box -->
                        </div><!-- /.time-box -->
                        <p class="notice">Treatment for Emergency Cases Only *</p><!-- /.notice -->
                    </div><!-- /.inner-box -->
                </div><!-- /.appointment-time -->
            </div><!-- /.col-md-5 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section>