<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner [title]="title" [url]="url" parent="Home" subtitle="Student Enquiry Form">
</app-inner-banner>

<section class="appointment-style-one sec-pad pt100 contact-page">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-7">
                <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()" class="appointment-form" novalidate="novalidate">
                    <h3>{{enquiryTypeName}}</h3>
                    <p>Send us your contact information for anything you need and we’ll be happy to assist you!</p>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" style="display: none;" formControlName="companyID">
                            <div class="frm-control">
                                <input type="text" placeholder="Full Name" formControlName="name">
                                <div *ngIf="submitted && f.name.errors" class="invalid">
                                    <div *ngIf="f.name.errors.required"> Name is required</div>
                                </div>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Email Address" formControlName="email">
                                <div *ngIf="submitted && f.email.errors" class="invalid">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Mobile No." formControlName="phone">
                                <div *ngIf="submitted && f.phone.errors" class="invalid">
                                    <div *ngIf="f.phone.errors.required">Mobile Number is required</div>
                                    <div *ngIf="f.phone.errors.maxlength">Mobile must not be greater then 10 numbers</div>
                                    <div *ngIf="f.phone.errors.minlength">Mobile must be of 10 numbers</div>
                                    
                                </div>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Place" formControlName="place">
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div *ngIf="enquiryType===2 && isLoaded" class="col-md-12">
                            <div class="frm-control">
                                <div class="frm-control">
                                    <div class="btn-group bootstrap-select">
                                        <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Select Courses">
                                            <span  class="filter-option pull-left"> {{selectedText}}</span>&nbsp;
                                            <span class="bs-caret"><span class="caret"></span></span>
                                        </button>
                                        <div class="dropdown-menu open">
                                            <ul class="dropdown-menu inner" role="menu">
                                                <li *ngFor="let c of subCourses">
                                                    <a (click)="selectCourse(c)">
                                                        <span class="text">{{c.Name}}</span><span class="glyphicon glyphicon-ok check-mark"></span></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div *ngIf="submitted && f.typeValue.errors" class="invalid">
                                            <div *ngIf="f.typeValue.errors.required">Please select Course</div>
                                        </div>
                                        <select formControlName="typeValue">
                                                <option *ngFor="let c of subCourses" [class.selected]="{'selected':selectedID == c.ID.toString() }" [ngValue]="c.ID">
                                                    {{c.Name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="frm-control mb0">
                                <textarea name="message" formControlName="message" placeholder="Write Your Query"></textarea>
                                <div *ngIf="submitted && f.message.errors" class="invalid">
                                    <div *ngIf="f.message.errors.required">Messsage is required</div>
                                </div>
                                <div *ngIf="status==='Success'" class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
                                <div *ngIf="status==='Fail'" class="alert alert-danger alert-dismissible" role="alert">{{ message }}</div>

                                <button *ngIf="!showSpinner" type="submit">Submit</button>
                                <button *ngIf="showSpinner" type="submit">Sending Request...</button>

                                <!-- <button type="reset" (click)="reset()">Reset</button> -->
                            </div>
                            <!-- /.frm-control -->

                        </div>
                        <!-- /.col-md-12 -->

                    </div>
                    <!-- /.row -->
                    <div class="form-result"></div>
                    <!-- /.form-result -->
                </form>
                <!-- /.appointment-form -->
            </div>
            <!-- /.col-md-7 -->
            <div class="col-md-5">
                <div class="appointment-time">
                    <div class="inner-box">
                        <h3>Available Courses</h3>
                        <p>Below is the list of available course you can enquiry for.</p>
                        <div class="time-box">
                            <div *ngFor="let c of subCourses" class="signle-time-box">
                                <div class="day-name">{{c.Name}}</div>
                                <!-- /.day-name -->
                                <!-- <div class="time-line">09:00 am - 19:00 pm</div> -->
                            </div>
                            <!-- /.signle-time-box -->

                        </div>
                        <!-- /.time-box -->
                        <!-- <p class="notice">Treatment for Emergency Cases Only *</p> -->
                    </div>
                    <!-- /.inner-box -->
                </div>
                <!-- /.appointment-time -->
            </div>
            <!-- /.col-md-5 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>