<div class="modal fade " tabindex="-1" id="productNDesignModal" role="dialog">
    <div class="row">
        <div class="col-md-12">

            <div id="myc " class="ct-modal-dialog-centered ">

                <div class="ct-modal-dialog-close" data-dismiss="modal">✕</div>

                <div class="modal-content ct-modal-content ">

                    <div class="info-modal ">

                        <div class="modal-header  ct-modal-header">

                            <div class="ct-modal-header-content ">

                                <div class="ct-modal-header-left ">

                                    <div class="ct-modal-job-title ">Health IQ Job Openings</div>

                                    <span class="ct-modal-loc ">7 openings</span>

                                </div>

                            </div>

                        </div>

                        <div class="modal-body ct-modal-body">

                            <div class="ct-modal-body-job-content">

                                <div class="job-form-fields">
                                    <div class="form-group">
                                        <label id="resumator-firstname-label" for="resumator-firstname-value" class="control-label">First Name<i class="asterisk">*</i></label>
                                        <input type="text" id="resumator-firstname-value" name="resumator-firstname-value" value="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label id="resumator-lastname-label" for="resumator-lastname-value" class="control-label">Last Name<i class="asterisk">*</i></label>
                                        <input type="text" id="resumator-lastname-value" name="resumator-lastname-value" value="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label id="resumator-email-label" for="resumator-email-value" class="control-label">Email Address<i class="asterisk">*</i></label>
                                        <input type="email" id="resumator-email-value" name="resumator-email-value" value="" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label id="resumator-phone-label" for="resumator-phone-value" class="control-label">Phone<i class="asterisk">*</i></label>
                                        <input type="tel" id="resumator-phone-value" name="resumator-phone-value" maxlength="50" class="form-control" value="">
                                    </div>

                                    <div class="form-group" id="resumator-address">
                                        <label id="resumator-address-label" for="resumator-address-value" class="control-label">Address</label>
                                        <div class="resumator-input" id="resumator-address-field">
                                            <input type="text" id="resumator-address-value" name="resumator-address-value" maxlength="255" class="form-control" value="" placeholder="Address">
                                            <div class="row">
                                                <div class="col col-xs-5">
                                                    <input type="text" id="resumator-city-value" name="resumator-city-value" maxlength="255" class="form-control" value="" placeholder="City">
                                                </div>
                                                <div class="col col-xs-4">
                                                    <input type="text" id="resumator-state-value" name="resumator-state-value" maxlength="50" class="form-control" value="" placeholder="State/Province">
                                                </div>
                                                <div class="col col-xs-3">
                                                    <input type="text" id="resumator-postal-value" name="resumator-postal-value" maxlength="50" class="form-control" value="" placeholder="Postal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="resumator-resume" class="form-group">
                                        <label id="resumator-resume-label" for="resumator-resume-value" class="control-label">Resume<i class="asterisk">*</i></label>
                                        <div id="resumator-resume-options" class="resumator-resume-text">
                                            <a id="resumator-choose-upload" class="resumator-resume-action" href="#">Attach resume</a> or
                                            <a id="resumator-choose-paste" class="resumator-resume-action" href="#">Paste resume</a>
                                        </div>
                                        <div id="resumator-resume-upload-wrapper" class="none">
                                            <div class="resumator-resume-text">
                                                Attach resume as .pdf, .doc, .docx, .odt, .txt, or .rtf (limit 5MB) or
                                                <a id="resumator-resume-switch-paste" class="resumator-resume-action" href="#">Paste resume</a>
                                            </div>
                                            <div class="resumator-input" id="resumator-resume-field">
                                                <input type="hidden" name="MAX_FILE_SIZE" value="10585760"><input type="file" class="" id="resumator-resume-value" name="resumator-resume-value"> </div>
                                        </div>
                                        <div id="resumator-resume-paste-wrapper" class="resumator-resume-text none">
                                            <div class="resumator-resume-text">
                                                <p>
                                                    Paste your resume here or
                                                    <a id="resumator-resume-switch-upload" class="resumator-resume-action" href="#">Attach resume file</a>
                                                </p>
                                            </div>
                                            <div class="resumator-input" id="resumator-resume-field">
                                                <textarea name="resumator-resumetext-value" id="resumator-resumetext-value" class="form-control resumator-field" rows="5"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <textarea name="resumator-xml-value" id="resumator-xml-value" class="none"></textarea>
                                    <div class="form-group">
                                        <label id="resumator-coverletter-label" for="resumator-coverletter-value" class="control-label">Cover Letter<i class="asterisk">*</i></label>
                                        <textarea id="resumator-coverletter-value" name="resumator-coverletter-value" class="form-control resumator-field" rows="5"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label id="resumator-wmyu-label" for="resumator-wmyu-value" class="control-label">In 150 characters or fewer, tell us what makes you unique. Try to be creative and say something that will catch our eye!<i class="asterisk">*</i></label>
                                        <textarea id="resumator-wmyu-value" name="resumator-wmyu-value" class="form-control" rows="5" maxlength="150" style="margin: 0px -19.3438px 0px 0px; height: 184px; width: 470px;"></textarea>
                                        <div id="resumator-wmyu-count">150</div>
                                    </div>

                                    <input type="hidden" id="resumator-detect-mobile" name="resumator-detect-mobile" value="0">



                                    <div id="resumator-submit" class="form-group">
                                        <a href="#" id="resumator-submit-resume" class="btn">Submit Application</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</div>