<app-top-header></app-top-header>
<app-default-header></app-default-header>


<app-inner-banner [title]="title" [url]="url" [parent]="parent" [subtitle]="subtitle">
</app-inner-banner>

<section class="feature-style-two sec-pad">
    <div class="thm-container">
        <div class="sec-title-style-two text-center">
            <div class="line"></div>
            <!-- /.line -->
            <h3>Congratulations! You have chosen to join one of the <br><span class="color-1">best centers of education</span> in <span class="color-1">Eastern India</span></h3>
            <p>As you embark on a new, exciting journey of your life, let us simplify it for you. Because nothing is as important as starting it right. Choose your dream course, know more about the talk to a counsellor and you can even apply for your course
                right here on this page!</p>
        </div>
        <!-- /.sec-title-style-two -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img height="64px" src="assets/images/feature-2-1.png" alt="Health IQ Courses">
                        <h3>Our <br> Courses </h3>
                        <p>Health IQ provides <br> all the standard courses to <br> as per Industry.</p>
                        <a href="/academy/our-courses" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img src="assets/images/feature-2-2.png" alt="Awesome Image">
                        <h3>Enquiry <br> Form </h3>
                        <p>For any information <br> feel free to post your <br> queries.</p>
                        <a href="/online-enquiry" class="more">Start Enquiry <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img src="assets/images/feature-2-3.png" alt="Awesome Image">
                        <h3>Fee <br> Structure</h3>
                        <p>Our fee structure is diversed and <br> it meant to help each student <br> to fulfill their goals.</p>
                        <a href="/academy/fee-structure" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img src="assets/images/feature-2-4.png" alt="Awesome Image">
                        <h3>Download <br> Brochure</h3>
                        <p>Our borchure consists of all the <br> information that is needed to understand <br> our culture and values.</p>
                        <a href="/online-enquiry" class="more">Download <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>