<app-top-header></app-top-header>
<app-default-header></app-default-header>

<section>

    <div class="row" style="margin:0;">

        <div class="col-md-12" style="padding: 0;">

            <div class="carousel slide  carousel-fade" data-ride="carousel" id="quote-carousel-banner">

                <div class="carousel-inner ">

                    <!-- Quote 1 -->

                    <div class="item top-carousel active" style="background-color: #f6f6f6;">

                        <blockquote style="background-color: #f6f6f6;padding-bottom: 0">

                            <div class="row" style="margin:0;">
                                <div class="col-sm-6 col-xs-12 top-text">

                                    <div class="hidden-lg hidden-md txt-head-corosal">Do what you love</div>

                                    <div class="align-center--sm  col-xs-12 quotes">
                                        <div class="hidden-sm hidden-xs top-heading">Do what you
                                            <br> love </div>
                                        <div class="txt-normal top-subheading">At Health IQ, you’ll be empowered to work on things that you’re passionate about.</div>
                                        <div class="font--sm font-weight--semibold top-picperson">— Meghna, <span style="font-weight: 600;">Human
                                                Resources
                                            </span></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12 mt30-sm">
                                    <img class="top-img aligncenter" height="400px" src="../../assets/images/career/emp1.png" style="margin-bottom:0;">
                                </div>
                            </div>
                        </blockquote>

                    </div>

                    <!-- Quote 2 -->

                    <div class="item top-carousel" style="background-color: #f7f7f7">

                        <blockquote style="background-color: #f7f7f7;padding-bottom:0">

                            <div class="row" style="margin:0;">
                                <div class="col-sm-6 col-xs-12 top-text">

                                    <div class="hidden-lg hidden-md txt-head-corosal">Do what you love</div>

                                    <div class="align-center--sm  col-xs-12 quotes">
                                        <div class="hidden-sm hidden-xs top-heading">Do what you
                                            <br> love. </div>
                                        <div class="txt-normal top-subheading">The work I do everyday changes the lives of so many patients.</div>
                                        <div class="font--sm font-weight--semibold top-picperson">— Nirupam, <span style="font-weight: 600;">Healthcare</span></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12 mt30-sm">
                                    <img class="top-img aligncenter" height="400px" style="margin-bottom:0;" src="../../assets/images/career/emp2.jpg">
                                </div>
                            </div>
                        </blockquote>
                    </div>

                    <!-- Quote 3 -->

                    <div class="item top-carousel" style="background-color: #c1c1c1">

                        <blockquote style="background-color: #c1c1c1;padding-bottom: 0">

                            <div class="row" style="margin:0;">
                                <div class="col-sm-6 col-xs-12 top-text">

                                    <div class="hidden-lg hidden-md txt-head-corosal">Do what you love</div>
                                    <div class="align-center--sm  col-xs-12 quotes">
                                        <div class="hidden-sm hidden-xs top-heading">Do what you
                                            <br> love. </div>
                                        <div class="txt-normal top-subheading">I serve customers and patients everyday to get their medical tests and reports done.</div>
                                        <div class="font--sm font-weight--semibold top-picperson">— Sourav, <span style="font-weight: 600;">Diagnostic</span></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12 mt30-sm">
                                    <img class="top-img aligncenter" height="400px" style="margin-bottom:0;" src="../../assets/images/career/emp3.jpg">
                                </div>
                            </div>
                        </blockquote>

                    </div>

                </div>

                <!-- Bottom Carousel Indicators -->

                <ol class="carousel-indicators">

                    <li data-target="#quote-carousel-banner" data-slide-to="0" class="active">
                        <img class="img-responsive" src="" alt="">
                    </li>
                    <li data-target="#quote-carousel-banner" data-slide-to="1">
                        <img class="img-responsive  " src="" alt="">
                    </li>
                    <li data-target="#quote-carousel-banner" data-slide-to="2">
                        <img class="img-responsive  " src="" alt="">
                    </li>
                </ol>

                <a data-slide="prev" href="#quote-carousel-banner" class="left carousel-control">
                    <i class="fa fa-chevron-left"></i>
                </a>

                <a data-slide="next" href="#quote-carousel-banner" class="right carousel-control">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>

        </div>

    </div>

</section>



<section class="join-team-section">

    <div class="text-center hidden-xs hidden-sm hiring-rectangle mt20">

        <span class="normal-white-center-text">

            We&#8217;re hiring

        </span>

        <div class="triangle-right"></div>

    </div>

    <div style="width: 100%;" class="join-team-container pl-32 mt20">

        <div class="join-team-container-heading txt-head-01">Come, disrupt the finest Healthcare Platform In India</div>

    </div>

    <div class="container join-team-button-container">

        <div style="text-align: right;" class="join-team-button-holder">

            <a data-toggle="modal" data-target="#applyJob" class="btn ct-btn ct-btn--blue ct-btn--medium ct-btn--shine" style="background-color: #00A2FF;border-radius: 3px;width: 210px;height: 50px; padding-top: 14px;">Join Your Dream Team</a>

        </div>

    </div>

</section>

<div class="section-divider"></div>

<section class="white-bg-sec mb70" style="padding: 0px;">

    <div class="" style="display: grid; justify-content: center; grid-gap: 45px;">

        <div class="" style="display: grid; grid-gap: 4px;">

            <div class="align-center--sm align-left txt-head-01 grid-centered-heading-text" style="padding: 0px;">
                Building India’s largest Healthcare <span class="emp-underline">Platform</span></div>

            <div class="align-center--sm f-18 grid-centered-normal-text">Improve Yourself</div>

        </div>

        <div class="" style="text-align: center;">

            <img src="../../assets/images/career/teamwork.jpg" style="width: 330px;height: 236px;">

        </div>

    </div>

</section>

<section class="" style="background-color:  #F9F8F4;z-index:  -1;padding-bottom: 100px;">
    <div class="container">
        <div class="mt50 row">
            <div class="txt-head-01 text-center" style="padding-top: 0px;">Our Product Teams</div>
            <div class="f-18 text-center grey-flat-content">We provide best in diagnostic service for all your healthcare needs.
            </div>

        </div>
    </div>

    <div class="container">
        <div class="mt50 row">
            <div class="col-md-7 col-md-offset-1" style="z-index:  1; left: 25px;">
                <div class="row">
                    <div class="col-md-4 p0 w-350" style="width: 320px;">
                        <div class="card display-card row" style="margin-top: 0px; height: 80px; width: 300px; padding: 25px;">
                            <span class="font--20 font-weight--semibold" id="n1" style="color: rgb(222, 222, 222);">01</span>
                            <span class="f-18 font-weight--semibold" style="padding-left: 15px;">Phlebotomists</span>

                        </div>
                        <div class="card row display-card" onclick="showDiv(event);colorChange('n2');document.getElementById('arrow2').classList.toggle('active')" style="height: 80px; width: 300px; padding: 25px;">
                            <span class="font--20 font-weight--semibold" id="n2" style="color:#DEDEDE;">02</span>
                            <span class="f-18 font-weight--semibold" style="padding-left: 15px;">Lab Technician</span>
                        </div>
                        <div class="card row display-card" onclick="showDiv(event);colorChange('n3');document.getElementById('arrow3').classList.toggle('active')" style="height: 80px; padding: 25px; width: 300px;">
                            <span class="font--20 font-weight--semibold" id="n3" style="color:#DEDEDE;">03</span>
                            <span class="f-18 font-weight--semibold" style="padding-left: 15px;">Pathologist</span>
                        </div>
                    </div>
                    <div class="col-md-4 p0 w-350" style="width: 320px;">
                        <div class="card row display-card" style="margin-top: 0;height: 80px;width: 300px;padding: 25px;">
                            <span class="font--20 font-weight--semibold" id="n4" style="color:#DEDEDE;">04</span>
                            <span class="f-18 font--20 font-weight--semibold" style="padding-left: 15px;">Paramedical Trainer</span>
                        </div>
                        <div class="card row display-card" style="height: 80px;width: 300px;padding: 25px;">
                            <span class="font--20 font-weight--semibold" id="n5" style="color:#DEDEDE;">05</span>
                            <span class="f-18 font-weight--semibold" style="   padding-left: 15px;">Marketing
                                Services</span>
                        </div>
                        <div class="card row display-card" onclick="showDiv(event);colorChange('n6');document.getElementById('arrow6').classList.toggle('active')" style="height: 80px;width: 300px;padding: 25px;">
                            <span class="font--20 font-weight--semibold" id="n6" style="color:#DEDEDE;">06</span>
                            <span class="f-18 font-weight--semibold" style="padding-left: 15px;">Sales &amp;
                                Accounting</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs product-img" style="z-index: 0;">
                <img src="../../assets/images/career/teamwork-doctors.png" class="" style="width: 375px;">
            </div>

        </div>
    </div>

</section>

<section class="collase-section">

    <div class="group-image">

        <img src="../../assets/images/about-us/culture/3.jpg">

    </div>

</section>

<section class="container mt100">

    <div class="row" style="display: grid; justify-content: center;">

        <div class="txt-head-01 text-center" style="padding-top: 11px;line-height: 41px;">Culture @Health IQ</div>

        <div class="text-center grey-flat-content grid-centered-normal-text" style="padding-top: 10px;">Make an impact at a large scale – Change the lives of millions of Indians.</div>

    </div>

    <div class="row" style="margin-top: 45px;">
        <div class="align-center--sm col-md-11 col-xs-12 culture-card-section">
            <div class="col-md-4 col-xs-12 mb50 culture-card-content">
                <div class="h-200 text-center width-210" style="display: grid;justify-content: center;align-content: center;">
                    <img src="../../assets/images/career/satisfaction.gif" width="250" height="180px">
                </div>
                <div class="font--20 font-weight--semibold text-center width-210" style="padding-top: 10px;">Your Satisfaction
                </div>
                <div class="mt10 f-15 text-center grey-flat-content width-210">The work we do here is not just providing healthcare services but satisfaction on the part of others and oneself on having being changed millions of life.</div>
            </div>
            <div class="col-md-4 col-xs-12 mb50 culture-card-content">
                <div class="h-200 text-center width-210" style="display: grid;justify-content: center;align-content: center;">
                    <img src="../../assets/images/career/team-work.gif" width="250" height="180px">
                </div>
                <div class="font--20 font-weight--semibold text-center width-210" style="padding-top: 10px;">Team Work
                </div>
                <div class="mt10 f-15 text-center mt20 grey-flat-content width-210">We believe in Team work into our work culture because T(Together),E(Everyone) ,A(Achieves ),M (More) is what brings us together.
                </div>
            </div>

            <div class="col-md-4 col-xs-12 culture-card-content">
                <div class="h-200 text-center width-210" style="display: grid;justify-content: center;align-content: center;">
                    <img src="../../assets/images/career/take-ownership.gif" width="250" height="180px">
                </div>
                <div class="font--20 font-weight--semibold text-center width-210" style="padding-top: 10px;">Take ownership
                </div>
                <div class="mt10 f-15 text-center grey-flat-content width-210">Our way of providing services implies to take ownership in every case and heal the life of millions of people.
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-divider"></div>
<section class="container engineering-container">

    <div class="row">
        <div class="txt-head-01 text-center mob-padding-0" style="font-weight: 500;">Your dream team is calling you !
        </div>
    </div>

    <div class="row" style="display: grid; justify-content: center">
        <div class="txt-head-01 text-center">HealthCare & Diagnostic</div>
        <div class="text-center f-18 grey-flat-content grid-centered-normal-text">Work with people with a track record of providing great services.</div>
    </div>

    <div class="row engineering-carousel">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-3 col-xs-12 eng-text-div padding--30">
                <div class="carousel slide carousel-fade" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner">
                        <div class="item">
                            <div class="bg-control grey-flat-content">
                                <div class="carousel-values">OUR VALUES</div>
                                <div class="carousel-heading">Customer Obsession</div>
                                <span>Every decision we take should be centred around this principle</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bg-control grey-flat-content">
                                <div class="carousel-values">OUR VALUES</div>
                                <div class="carousel-heading">Extreme Ownership</div>
                                <span>Own the outcome – being intellectual honest, integral, transparent, enabling
                                    autonomy
                                    &amp; collaboratively holding each other accountable</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="bg-control grey-flat-content">
                                <div class="carousel-values">OUR VALUES</div>
                                <div class="carousel-heading">High Ambition &amp; Freedom to Fail</div>
                                <span>Measure everything, and continuously improve to achieve mastery everyday –
                                    for the self, the team &amp; the company</span>

                            </div>
                        </div>
                        <div class="item">
                            <div class="bg-control grey-flat-content">
                                <div class="carousel-values">OUR VALUES</div>
                                <div class="carousel-heading">Speed as Habit</div>
                                <span>Avoid unnecessary complexity. Keeping it simple helps us be the fastest, leanest
                                    &amp; most reliable car on every race track we are on</span>
                            </div>
                        </div>

                        <div class="item">
                            <div class="bg-control grey-flat-content">
                                <div class="carousel-values">OUR VALUES</div>
                                <div class="carousel-heading">Freedom to Innovate</div>
                                <span>There are no boundaries to acceptable thinking. Innovate beyond limits &amp; take
                                  those tough decisions – never fear them – ever!</span>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="bg-control grey-flat-content">
                                <div class="carousel-values">OUR VALUES</div>
                                <div class="carousel-heading">Best to work with!</div>
                                <span>Be empathetic, caring, happy, positive, helpful to everyone – the self, the
                                    team, the company – making each of those the best to work with</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 eng-img-div margin-right--20" style="width: 387px; position: relative;">
                <div id="roles"></div>
                <img src="../../assets/images/career/emp1.png" class="eng-img-div eng-img-div-mob">
            </div>
            <div class="col-md-3 col-xs-12">
                <div>
                    <img src="../../assets/images/career/emp1.jpg" class="eng-img-2-div eng-img-div-mob">
                </div>
                <div class="mt20">
                    <img src="../../assets/images/career/emp3.jpg" class="eng-img-2-div eng-img-div-mob" style="margin-top: 0px;">
                </div>
            </div>
        </div>
    </div>
</section>
<app-modal-box modal-id="applyJob"></app-modal-box>
<section class="bottom-big-container-section container">
    <div class="bottom-big-container">
        <span class="bottom-great-things-heading">
            Let’s do great things together
        </span>
        <a data-toggle="modal" data-target="#applyJob" class="btn ct-btn ct-btn--medium ct-btn--shine join-our-team" style="background-color: #00A2FF;  border-radius: 3px; width: 190px;height: 50px; color: white; margin: 0px 457px 53px 452px; font-size: 18px;font-weight: 600;padding-top: 10px;"
            href="#roles">
            Join our team
        </a>
        <div class="join-team-image-container">
            <img class="join-team-image" src="../../assets/images/career/culture.jpg">
        </div>
    </div>
</section>