<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner title="Contact Health IQ" url="#" parent="Home" subtitle="Contact Us"></app-inner-banner>

<div #mymap class="google-map" id="contact-google-map" 
    data-map-lat="22.5267089" 
    data-map-lng="88.3449872"
    data-icon-path="http://localhost:4200/assets/images/map-pointer.png" 
    data-map-title="Brooklyn, New York, United Kingdom" 
    data-map-zoom="18"
    data-markers='{
          "marker-1": [22.5267089, 88.3449872, "<h4>Main Clinic</h4><p>47,GARIA STATION ROAD, Kolkata-84, INDIA</p>"]
      }'>
      
</div>

<section class="contact-info-style-one text-center">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-contact-info-style-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="../../assets/images/contact-info-1-2.png" alt="Awesome Image" />
                        </div><!-- /.icon-box -->
                        <h3>Our Location</h3>
                        <p>47,GARIA STATION ROAD, Kolkata-84 <br>Nearest Metro:- Sahid Khudiram Metro</p>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-contact-info-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-contact-info-style-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="../../assets/images/contact-info-1-1.png" alt="Awesome Image" />
                        </div><!-- /.icon-box -->
                        <h3>phone us </h3>
                        <p><span>+ 91-8017926291/92</span> <br>24/7 Helpline: 101</p>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-contact-info-style-one -->
            </div><!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12 col-lg-offset-0 col-md-offset-0 col-sm-offset-3 col-xs-offset-0">
                <div class="single-contact-info-style-one">
                    <div class="inner-box">
                        <div class="icon-box">
                            <img src="../../assets/images/contact-info-1-3.png" alt="Awesome Image" />
                        </div><!-- /.icon-box -->
                        <h3>Send Email</h3>
                        <p>info@iq-health.in <br> healthiqcare@gmail.com</p>
                    </div><!-- /.inner-box -->
                </div><!-- /.single-contact-info-style-one -->
            </div><!-- /.col-md-4 -->
        </div><!-- /.row -->
    </div><!-- /.thm-container -->
</section><!-- /.contact-info-style-one -->
