<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.health-iq.in">
            Health IQ
          </a>
        </li>
        <li>
          <a href="https://health-iq.in/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://health-iq.in">
            Blog
          </a>
        </li>
        <li>
          <a href="https://health-iq.in/services">
            Services
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="#" target="_blank">NeerS</a> for a better web.
    </div>
  </div>
</footer>
