<?xml version="1.0"?>
<appSettings>
  <add key="CORSUrl" value="http://localhost:4000, http://localhost:4200, https://health-iq.in" />
  <add key="DBugCORSUrl" value="http://localhost:4000, http://localhost:4200, http://localhost:4321" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="APIKeyHeader" value="APIKey"/>
  <add key="APITokenHeader" value="APIToken"/>
  <add key="BCCAddress" value="info@health-iq.in" />
  <add key="CCAddress" value="info@health-iq.in" />
  <add key="IsDebugMode" value="Y" />
  <add key="Subject" value="Your booking is confirmed." />
  <add key="ForgotPasswordURL" value="http://localhost:4200/#/account/reset-password-verification/"/>
  <add key="FotgotPasswordAttempts" value="30"/>
  <add key="OTPExirationHrs" value="24"/>
  <add key="LastAttemptDuration" value="00:00:01"/>
  <!-- ================================== [START] "For Live Deployement Mode;  ========================================== -->
  <add key="HostName" value="http://dreamwedds.com"/>
  <add key="EncryptionInitVector" value="28healthiq12ggn"/>
  <add key="EncryptionSaltKey" value="HealthIQ"/>
  <add key="EncryptionDictionary" value="Config\DictionaryEncryption.xml"/>
  <add key="Company" value="2" />
  <add key="FromName" value="Health IQ" />
  <add key="FromEmail" value="info@health-iq.in" />
  <add key="Password" value="Krishna@2020" />
  <add key="SMTPHost" value="relay-hosting.secureserver.net" />
  <add key="SMTPPort" value="25" />
  <add key="IsSSL" value="Y" />
  <add key="Phone" value="8017926291/92" />
  <add key="LogoUrl" value="https://health-iq.in/assets/images/logo.jpg" />
  <!-- ================================== [FINISH] "For Live Deployement Mode;  ========================================== -->

  <!-- ================================== [START] "For Debugging Mode; ( Working) ========================================== -->
  <add key="DebugFromName" value="Dreamwedds"/>
  <add key="DbugFromEmail" value="thedreamwedds@gmail.com"/>
  <add key="DbugFromPass" value="Krishna@2019"/>
  <add key="DbugSMTPHost" value="smtp.gmail.com"/>
  <add key="DbugSMTPPort" value="587"/>
  <add key="DbugToEmail" value="neer.s@outlook.com" />
  <add key="DbugIsSSL" value="Y"/>
  <!--<add key="DebugFromName" value="Leela Health Care" />
  <add key="DbugFromEmail" value="info@leelahealthcare.com" />
  <add key="DbugFromPass" value="Krishna_2012" />
  <add key="DbugToEmail" value="neer.s@outlook.com" />
  <add key="DbugSMTPHost" value="mail.leelahealthcare.com" />
  <add key="DbugSMTPPort" value="26" />
  <add key="DbugIsSSL" value="N" />-->


  <!-- ================================== [FINISH] "For Debugging Mode; ( Working) ========================================== -->

</appSettings>

