<?xml version="1.0"?>

<connectionStrings>
  <add name="HIQAdminEntities" connectionString="data source=NEERAJSINGHCE2C\NEERINSTANCE;initial catalog=HealthIQ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <!--<add name="HealthIQDBContext" connectionString="data source=NEERAJSINGHCE2C;initial catalog=HealthIQ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>
