<?xml version="1.0"?>

<connectionStrings>
  <add name="HIQAdminEntities" connectionString="data source=NEERAJSINGHCE2C\NEERINSTANCE;initial catalog=HealthIQ;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="IqHealthConnection" connectionString="server=182.50.133.89;port=3306;database=HealthIQ_Prod;uid=adm;password=Krishna_2012;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
</connectionStrings>
