<div class="col-md-4 col-sm-12 col-xs-12">
    <div class="sidebar sidebar-right">
        <div *ngIf="data.list" class="single-sidebar category-sidebar">
            <div class="title">
                <h3>{{data.page}}</h3>
            </div>
            <ul class="categories-list">
                <li *ngFor="let item of data.list" style="cursor: pointer;" [ngClass]="{'active':item.id == data.activeID}" (click)="change(item.id, $event)">
                    <a [routerLink]="[url, item.id]">{{item.name}} </a>
                </li>
            </ul>
        </div>
    </div>
</div>