<app-inner-banner [title]="title" [url]="url" [parent]="parent" [subtitle]="subtitle"></app-inner-banner>

 <section class="blog-style-two sec-pad blog-page">
        <div class="thm-container">
            <div class="row">
               <app-sidebar-list [list]="sidebar"></app-sidebar-list>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="service-details-content">
                        <div class="img-box">
                            <img src="images/department-details-1-1.jpg" alt="Awesome Image"/>
                        </div><!-- /.img-box -->
                        <div class="text-box">
                            <br>
                            <br>
                            <h3 class="post-title">Children Health Center</h3>
                            <br>
                            <p>Enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea comodo.</p> 
                            <br>
                            <p>Consequat duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia desert.</p>
                            <br>
                            <p class="highlight">Proident sunt in culpa qui officia deserunt mollit animd laborum sed ipsum dolore perspicia natus error voluptatem acusantium doloremque cupidant laudan.</p><!-- /.highlight -->
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris exlbs commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
                            <br>
                            <div class="service-approach">
                                <div class="title-box">
                                    <h3>ClinMedix Approach</h3>
                                    <br>
                                    <p>Reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.Lorem ipsum dolor sites amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip duis aute.</p>                                
                                </div><!-- /.title-box -->
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-approach">
                                            <i class="clinmedix-icon-date feature-icon"></i>
                                            <div class="inner-box">
                                                <i class="clinmedix-icon-date"></i>
                                                <h3>Comprehensive & Individual Care for all Patients</h3>
                                                <p>Dolor sit amet, consectetur adipisicing elit por incididunt ut laboret dolore ma gnalin veniam quis nostrud</p>
                                            </div><!-- /.inner-box -->
                                        </div><!-- /.single-approach -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="single-approach">
                                            <i class="clinmedix-icon-drugs feature-icon"></i>
                                            <div class="inner-box">
                                                <i class="clinmedix-icon-pills"></i>
                                                <h3>Setting all New Standards in the Medical Research</h3>
                                                <p>Dolor sit amet, consectetur adipisicing elit por incididunt ut laboret dolore ma gnalin veniam quis nostrud</p>
                                            </div><!-- /.inner-box -->
                                        </div><!-- /.single-approach -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="single-approach">
                                            <i class="clinmedix-icon-cardiogram feature-icon"></i>
                                            <div class="inner-box">
                                                <i class="clinmedix-icon-cardiogram"></i>
                                                <h3>Our Primary focus on the Special Health Care System</h3>
                                                <p>Dolor sit amet, consectetur adipisicing elit por incididunt ut laboret dolore ma gnalin veniam quis nostrud</p>
                                            </div><!-- /.inner-box -->
                                        </div><!-- /.single-approach -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="single-approach">
                                            <i class="clinmedix-icon-stethoscope feature-icon"></i>
                                            <div class="inner-box">
                                                <i class="clinmedix-icon-stethoscope"></i>
                                                <h3>We Deliver only High-Quality Medications for Everyone</h3>
                                                <p>Dolor sit amet, consectetur adipisicing elit por incididunt ut laboret dolore ma gnalin veniam quis nostrud</p>
                                            </div><!-- /.inner-box -->
                                        </div><!-- /.single-approach -->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.service-approach -->
                            <div class="service-pricing">
                                <div class="title-box">
                                    <h3>Department Pricing</h3>
                                    <br>
                                    <p>Reprehenderit in voluptate velit ess eyc fugiat nulla pariatur excepteur sint occaecat cupidatat.Lorem ipsum dolor sites amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip duis aute.</p>                                
                                </div><!-- /.title-box -->
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-price-box">
                                            <div class="sub-title">
                                                <h4>Diagnostics & Tests</h4>
                                            </div><!-- /.sub-title -->
                                            <div class="price-box">
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                            </div><!-- /.price-box -->
                                        </div><!-- /.single-price-box -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="single-price-box">
                                            <div class="sub-title">
                                                <h4>Treatment Costs</h4>
                                            </div><!-- /.sub-title -->
                                            <div class="price-box">
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                                <div class="single-price clearfix">
                                                    <span class="name">Breast Screening</span>
                                                    <span class="price">$120</span>
                                                </div><!-- /.single-price -->
                                            </div><!-- /.price-box -->
                                        </div><!-- /.single-price-box -->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.service-pricing -->
                            <br>
                            <br>
                            <div class="service-doctor">
                                <div class="title-box">
                                    <h3>Doctors In Department</h3>
                                </div><!-- /.title-box -->
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="single-doctor">
                                            <div class="img-box">
                                                <img src="images/department-doc-1-1.jpg" alt="Awesome Image"/>
                                                <div class="overlay">
                                                    <div class="box">
                                                        <div class="content">
                                                            <span class="phone"><i class="fa fa-phone"></i>+1 (023) 789 4106</span>
                                                            <p>Elit por incididunt labore dolore amet aute irure dolor in reprehenderit sedin voluptate velit esse cillum.</p>
                                                            <div class="social">
                                                                <a href="#" class="fab fa-twitter"></a>
                                                                <a href="#" class="fab fa-google-plus"></a>
                                                                <a href="#" class="fab fa-facebook-square"></a>
                                                                <a href="#" class="fab fa-instagram"></a>
                                                            </div><!-- /.social -->
                                                        </div><!-- /.content -->
                                                    </div><!-- /.box -->
                                                </div><!-- /.overlay -->
                                            </div><!-- /.img-box -->
                                            <div class="text-box">
                                                <h3>Russ Cianciotta</h3>
                                                <p>Child Specialist</p>
                                            </div><!-- /.text-box -->
                                        </div><!-- /.single-doctor -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="single-doctor">
                                            <div class="img-box">
                                                <img src="images/department-doc-1-2.jpg" alt="Awesome Image"/>
                                                <div class="overlay hvr-wobble-horizontal">
                                                    <div class="box">
                                                        <div class="content">
                                                            <span class="phone"><i class="fa fa-phone"></i>+1 (023) 789 4106</span>
                                                            <p>Elit por incididunt labore dolore amet aute irure dolor in reprehenderit sedin voluptate velit esse cillum.</p>
                                                            <div class="social">
                                                                <a href="#" class="fab fa-twitter"></a>
                                                                <a href="#" class="fab fa-google-plus"></a>
                                                                <a href="#" class="fab fa-facebook-square"></a>
                                                                <a href="#" class="fab fa-instagram"></a>
                                                            </div><!-- /.social -->
                                                        </div><!-- /.content -->
                                                    </div><!-- /.box -->
                                                </div><!-- /.overlay -->
                                            </div><!-- /.img-box -->
                                            <div class="text-box">
                                                <h3>Jacqueline Gdula</h3>
                                                <p>Pediatric Surgeon</p>
                                            </div><!-- /.text-box -->
                                        </div><!-- /.single-doctor -->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                            </div><!-- /.service-doctor -->
                        </div><!-- /.text-box -->
                    </div><!-- /.service-details-content -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </section><!-- /.blog-style-two -->

