<div class="row">
    <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-text card-header-warning">
            <div class="card-text">
              <h4 class="card-title">Students List</h4>
              <p class="card-category">Recent students registration.</p>
            </div>
          </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-shopping">
                        <thead class="text-warning">
                            <tr>
                              <th *ngFor="let col of columns">{{ col }}</th>
                            </tr>
                        </thead>
                      <tbody>
                          <tr *ngFor="let row of students">
                              <td><div class="img-container"><img width="20px" [alt]="row.firstName" [src]="!row.image? './assets/img/faces/man.jpg' : row.image"></div></td>
                              <td>{{ row.firstName}}</td>
                              <td>{{ row.lastName}}</td>
                              <td>{{ row.email}}</td>
                              <td>{{ row.mobile}}</td>
                              <td class="td-actions">
                              <button type="button" rel="tooltip" class="btn btn-link btn-success">
                               <a routerLink ='/user/update-user//{{row.userID}}'><i class="material-icons">edit</i></a> 
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-link btn-danger" (click)='deleteuser(row.userID)'>
                                <i class="material-icons">close</i>
                                </button>
                            </td>
                          </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>