
ul.resp-tabs-list{  margin: 0px;  padding: 0px; list-style:none;color: #000;  font-family: "open_sansregular",Helvetica,Arial,sans-serif; font-size: 14px; margin: 0 auto !important;  padding: 10px;  width: 83% !important;}

.resp-tabs-list li { background:#fff; border:2px solid #02a69b; cursor: pointer; float: left; font-size: 15px; font-weight: normal; height: 125px; width: 223px; margin-right:16px;text-align: center; padding: 18px 0 0; margin-bottom:40px;}

.offerings .numberB {
    width: 50px;
    height: 50px;
    float: left;
    border: solid 1px #02a69b;
    line-height: 50px;
    text-align: center;
    color: #02a69b;
    font-size: 28px;
    background-color: #fff;
}

.offerings .numberB_right {
    width: 262px;
    float: left;
    padding-left: 15px;
}

.offerings {
    width: 100%;
    float: left;
    padding: 40px 0 20px 0;
}

.offerings li {
    color: #000;
    font-family: "open_sansregular",Helvetica,Arial,sans-serif;
    font-size: 14px;
    width: 390px;
    margin-bottom: 40px;
    float: left;
    min-height: 65px;
}

.offerings h2 {
    font-weight: 400;
    font-family: 'open_sansregular',Helvetica,Arial,sans-serif;
    color: #000;
    /* font-size: 18px; */
    text-decoration: none;
}

.corporateEnquiry p {
    color: #454545;
    font-size: 14px;
    font-family: 'open_sansregular',Helvetica,Arial,sans-serif;
    line-height: 22px;
}