<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner [title]="'Corporate Tie Up'" [url]="'/'" [parent]="'partner with us'" subtitle="Corporate Tie Up" [caption]="''">
</app-inner-banner>

<section _ngcontent-sbk-c2="" class="about-style-two sec-pad pt100">
    <div _ngcontent-sbk-c2="" class="thm-container">
        <div class="letstab">
            <div class="sec-title text-center">
                <h3>Our Offerings</h3>
                <ul class="resp-tabs-list">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <li class="resp-tab-item" aria-controls="tab_item-0" role="tab">
                            <div class="tabHelp">
                                <img src="https://www.lalpathlabs.com/images/annual.png"></div>
                            Annual Health Checkups</li>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <li class="resp-tab-item" aria-controls="tab_item-1" role="tab">
                            <div class="tabHelp">
                                <img src="https://www.lalpathlabs.com/images/discount.png"></div>
                            Privilege Discounts</li>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <li class="resp-tab-item" aria-controls="tab_item-2" role="tab">
                            <div class="tabHelp">
                                <img src="https://www.lalpathlabs.com/images/checkup.png"></div>
                            Pre-employment Health Checkups</li>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <li class="resp-tab-item" aria-controls="tab_item-3" role="tab">
                            <div class="tabHelp">
                                <img src="https://www.lalpathlabs.com/images/drug.png"></div>
                            Drug Testing &amp; Hazardous Testing</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="about-style-one white-bg sec-pad about-page" style="background-color: #f3f1f1;">
    <div class="thm-container">
        <div class="row">
                <div class="about-style-one-content">
                    <div class="offerings">
                        <div class="sec-title text-center">
                            <h3>How do we do it?</h3>
                            <ul>
                                <li>
                                    <div class="numberB">1</div>
                                    <div class="numberB_right">
                                        <h2>Personalized Mobile App</h2>
                                        <p>Book a Test anytime anywhere even outside your workplace</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="numberB">2</div>
                                    <div class="numberB_right">
                                        <h2>Lifetime Cumulative Reports </h2>
                                        <p>Employees can understand the treatment progress by seeing the trends</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="numberB">3</div>
                                    <div class="numberB_right">
                                        <h2>Home or Office – We cover it all</h2>
                                        <p>Pan India Coverage: 100+ Cities</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="numberB">4</div>
                                    <div class="numberB_right">
                                        <h2>Lightning Fast Reports</h2>
                                        <p>Accuracy with Speed of delivery is our forte </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="numberB">5</div>
                                    <div class="numberB_right">
                                        <h2>Online HR Wellness Portal</h2>
                                        <p>Managing your Company’s wellness is now as easy as booking a cab </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="numberB">6</div>
                                    <div class="numberB_right">
                                        <h2>Disease Management Program</h2>
                                        <p>Improving employee health and reducing absenteeism </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.about-style-one-content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>



<section class="appointment-style-one home-two">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-7">
                <form action="#" class="appointment-form contact-form" novalidate="novalidate">
                    <h3><span class="color-1"></span><span class="color-2">Interested?</span>Let's get talking!</h3>
                    <p>Fill in the details below and one of our team members will get in touch with you.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Your Name" name="name">
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="Email" name="email">
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control select-date">
                                <input type="text" placeholder="Select Day" class="select-date-input hasDatepicker" name="select-date" id="dp1584989168164">
                                <i class="fa fa-calendar-alt"></i>
                                <!-- /.fa -->
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <div class="btn-group bootstrap-select">
                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" data-id="time-select" title="09.00 am - 10.00 am"><span class="filter-option pull-left">09.00 am - 10.00 am</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu open">
                                        <ul class="dropdown-menu inner" role="menu">
                                            <li data-original-index="0" class="selected"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">09.00 am - 10.00 am</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="1"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">10.01 am - 11.00 am</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="2"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">11.01 am - 12.00 pm</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                            <li data-original-index="3"><a tabindex="0" class="" style="" data-tokens="null"><span class="text">12.01 pm - 01.00 pm</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                        </ul>
                                    </div>
                                    <select name="time-select" class="selectpicker" id="time-select" tabindex="-98">
                                        <option value="1">09.00 am - 10.00 am</option>
                                        <option value="1">10.01 am - 11.00 am</option>
                                        <option value="1">11.01 am - 12.00 pm</option>
                                        <option value="1">12.01 pm - 01.00 pm</option>
                                    </select>
                                </div>
                                <!-- /#time-select -->
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-12">
                            <div class="frm-control mb0">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                                <!-- /#message -->
                                <button type="submit">Submit <i class="fa fa-angle-double-right"></i></button>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </form>
                <!-- /.appointment-form -->
            </div>
            <!-- /.col-md-7 -->
            <div class="col-md-5">
                <img src="../../../assets/images/appointment-1-1.png" class="appointment-doc" alt="">
            </div>
            <!-- /.col-md-5 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>