<app-top-header></app-top-header>
<app-default-header></app-default-header>


<app-inner-banner [title]="'Organize Free Camp'" [show-title]="false" banner-image="'https://www.lalpathlabs.com/images/Corporate-Partnerships.jpg'" [url]="'/partner-with-us'" [parent]="'Partner with us'" subtitle="Coporate Tie Up" [caption]="'Join us to grow together as an esteemed organization'">
</app-inner-banner>

<section class="service-style-three ">
    <div class="thm-container">

        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>
<!-- /.service-style-three sec-pad -->

<section class="service-style-seven sec-pad">
    <div class="thm-container">
        <div class="sec-title text-center">
            <h3>Our <span class="color-5">Offerings</span></h3>
            <span class="tag-line">In today’s hectic lifestyle where stress breeds many silent diseases, a thorough checkup is the easiest way to detect and fight diseases before it is too late.</span>
            <div class="line"></div>
            <!-- /.line -->
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-drugs"></i>
                        <h3>Get Better Health</h3>
                    </div>
                    <!-- /.inner-box -->
                </div>
                <!-- /.single-service-style-three -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-health"></i>
                        <h3>Accurate Reports</h3>
                    </div>
                    <!-- /.inner-box -->
                </div>
                <!-- /.single-service-style-three -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-doctor"></i>
                        <h3>Licensed Doctors</h3>
                    </div>
                    <!-- /.inner-box -->
                </div>
                <!-- /.single-service-style-three -->
            </div>

            <!-- /.col-md-3 -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-service-style-three text-center js-tilt">
                    <div class="inner-box">
                        <i class="clinmedix-icon-date"></i>
                        <h3>Easy Appointments</h3>
                    </div>
                    <!-- /.inner-box -->
                </div>
                <!-- /.single-service-style-three -->
            </div>
            <!-- /.col-md-3 -->
        </div>

    </div>
    <!-- /.thm-container -->
</section>

<section class="pricing-style-one gray-bg sec-pad">
    <div class="thm-container">
        <div class="sec-title text-center">

            <h3>How We <span class="color-5">Do It</span></h3>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-five text-center">
                    <div class="icon-box">
                        <i class="clinmedix-icon-doctor2"></i>
                        <a href="#">
                            <h3>Personalized Consultant</h3>
                        </a>
                        <p>Personal healthcare consultant will be provided for any type of queries.</p>
                    </div>
                    <!-- /.icon-box -->
                </div>
                <!-- /.single-service-style-five -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-five text-center">
                    <div class="icon-box">
                        <i class="clinmedix-icon-first-aid-kit-2"></i>
                        <a href="#">
                            <h3>Smart Report</h3>
                        </a>
                        <p>For the first time in Eastern India, Smarter Report, Smarter You with customized data</p>
                    </div>
                    <!-- /.icon-box -->
                </div>
                <!-- /.single-service-style-five -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-five text-center">
                    <div class="icon-box">
                        <i class="clinmedix-icon-heart-1"></i>
                        <a href="#">
                            <h3>Affordable Caring</h3>
                        </a>
                        <p>Anywhere-Home or Office, We cover all. We believe in better servie better care.</p>
                    </div>
                    <!-- /.icon-box -->
                </div>
                <!-- /.single-service-style-five -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-five text-center">
                    <div class="icon-box">
                        <i class="clinmedix-icon-shield"></i>
                        <a href="#">
                            <h3>Cumulative Report</h3>
                        </a>
                        <p>For comparison at par with previous reports. Concise and accurate reports can be customize as per requirement.</p>
                    </div>
                    <!-- /.icon-box -->
                </div>
                <!-- /.single-service-style-five -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-five text-center">
                    <div class="icon-box">
                        <i class="clinmedix-icon-pills2"></i>
                        <a href="#">
                            <h3>Lifestyle Management Tips</h3>
                        </a>
                        <p>Improving employee health and reducing absenteeism.</p>
                    </div>
                    <!-- /.icon-box -->
                </div>
                <!-- /.single-service-style-five -->
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-service-style-five text-center">
                    <div class="icon-box">
                        <i class="clinmedix-icon-chemical1"></i>
                        <a href="#">
                            <h3>Customized Welness Program</h3>
                        </a>
                        <p>Tailor made healthcare programs to suit every employee’s needs</p>
                    </div>
                    <!-- /.icon-box -->
                </div>
                <!-- /.single-service-style-five -->
            </div>
            <!-- /.col-md-4 -->
        </div>
    </div>
</section>

<section class="appointment-style-one home-two">
    <div class="thm-container">
        <div class="row">
            <div class="col-md-12">
                <form [formGroup]="corporateForm" (ngSubmit)="onSubmit()" class="appointment-form">
                    <h3>Interested? Let's get talking!</h3>
                    <p>Fill in the details below and one of our team members will get in touch with you.<span> Call at +91-801-792-6291</span></p>
                    <div class="row">
                        <input type="text" style="display: none;" formControlName="companyID">
                        <div class="col-md-4">
                            <div class="frm-control">
                                <input type="text" placeholder="Your Name*" formControlName="name">
                                <div *ngIf="submitted && f.name.errors" class="invalid">
                                    <div *ngIf="f.name.errors.required"> Name is required</div>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="frm-control">
                                <input type="text" placeholder="email*" formControlName="email">
                                <div *ngIf="submitted && f.email.errors" class="invalid">
                                    <div *ngIf="f.email.errors.required">email is required</div>
                                    <div *ngIf="f.email.errors.email">email must be a valid email address</div>
                                </div>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-2">
                            <div class="frm-control">
                                <input type="text" placeholder="mobile*" formControlName="mobile">
                                <div *ngIf="submitted && f.mobile.errors" class="invalid">
                                    <div *ngIf="f.mobile.errors.required">mobile Number is required</div>
                                    <div *ngIf="f.mobile.errors.minlength">mobile must be at least 10 characters</div>
                                </div>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-6 -->

                        <div class="col-md-8">
                            <div class="frm-control">
                                <input type="text" placeholder="Company Name*" formControlName="companyName">
                                <div *ngIf="submitted && f.companyName.errors" class="invalid">
                                    <div *ngIf="f.companyName.errors.required">Company Name is required.</div>
                                    <div *ngIf="f.companyName.errors.maxlength">Company name can not be more than 100 characters</div>
                                </div>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <div class="col-md-4">
                            <div class="frm-control">
                                <div class="btn-group bootstrap-select">
                                    <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown">
                                        <span class="filter-option pull-left"
                                            [ngClass]="{'invalid': submitted && f.designation.errors}">
                                            {{selectedDesignationText}}</span>&nbsp;
                                        <span class="bs-caret"><span class="caret"></span></span>
                                    </button>
                                    <div class="dropdown-menu open">
                                        <ul class="dropdown-menu inner" role="menu">
                                            <li *ngFor="let u of allDesignations">
                                                <a (click)="selectDesignation(u)">
                                                    <span class="text">{{u.name}}</span><span class="glyphicon glyphicon-ok check-mark"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <select formControlName="designation">
                                        <option *ngFor="let u of allDesignations" [ngValue]="u.name">
                                            {{u.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="frm-control mb0">
                                <textarea name="message" id="message" formControlName="message" placeholder="Message"></textarea>
                                <div *ngIf="submitted && f.message.errors" class="invalid">
                                    <div *ngIf="f.message.errors.required">Message is required.</div>
                                    <div *ngIf="f.message.errors.maxlength">Must must not more than 1000 characters</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div *ngIf="status==='Success'" class="alert alert-success alert-dismissible" role="alert">{{ message }}</div>
                            <div *ngIf="status==='Fail'" class="alert alert-danger alert-dismissible" role="alert">{{ message }}</div>
                            <div class="frm-control mb20">
                                <button *ngIf="!showSpinner" type="submit">Submit</button>
                                <button *ngIf="showSpinner" type="submit">Sending Request...</button>
                                <span>&nbsp; &nbsp; </span>
                                <button type="reset" (click)="reset()">Reset</button>
                            </div>
                            <!-- /.frm-control -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                </form>
                <!-- /.appointment-form -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>