<section class="subscribe-style-one home-two"
    style="background-image: url(assets/images/subscribe-bg-1-1.jpg); background-position: center center;">
    <div class="inner">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="subscribe-content">
                        <h3>Explore our health packages and medical services.</h3>
                        <!-- <p>Clink on Home button in order to make an appointment, access doctors and explore student courses.</p> -->
                    </div>
                </div><!-- /.col-md-6 -->
                <div class="col-md-6">
                    <form action="#" class="subscribe-form clearfix">
                        <button (click)="goToHome()" style="width:50%;" type="submit">Health IQ Home <i
                                class="fa fa-angle-double-right"></i></button>
                    </form><!-- /.subscribe-form -->
                </div><!-- /.col-md-6 -->
            </div><!-- /.row -->
        </div><!-- /.thm-container -->
    </div><!-- /.inner -->
</section>
<section class="service-style-four sec-pad">
    <div class="thm-container">
        <div class="sec-title-style-two text-center">

            <h3>Already Registered <span class="color-1">?</span> <span class="color-1"> Sign In Here</span></h3>
            <p>Explore our services and products specially curated for our registered members.</p>
            <div class="line"></div><!-- /.line -->
        </div>
        <div class="service-tab-content">
            <div class="single-tab-content row">
                <div class="col-md-6">
                    <img src="assets/images/tab-1-1.jpg" alt="Awesome Image">
                </div><!-- /.col-md-6 -->
                <div style="background: #0e77af; padding: 20px;" class="col-md-6">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="subscribe-form">
                        <div class="form-group">
                            <label>Username</label>
                            <input class="form-control" formControlName="email" placeholder="Email Address" type="text">
                            <div *ngIf="isSubmitted && f.email.errors" class="invalid">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                        <div class="form-group" style="display: none">
                            <label>Username</label>
                            <input class="form-control" value="f.email.value" formControlName="username" placeholder="Email Address" type="text">
                        </div>
                        <div class="form-group"><label>Password</label>
                            <input class="form-control" formControlName="password" placeholder="Password" type="password">
                            <div *ngIf="isSubmitted && f.password.errors" class="invalid">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 mt10-r">
                                <div class="checkbox mb25"><label class="custom-checkbox-wrapper"><span
                                            class="custom-checkbox-container">
                                            <input type="checkbox" value="true"><span
                                                class="custom-checkbox-icon"></span></span>
                                        <small>Remember me</small>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6 mt10-r text-right"><a [routerLink]="'/reset-password'"><small>Recover  Password?</small></a></div>
                        </div>
                        <button type="submit"  style="float: none; text-transform: uppercase;height: 52px;width: 100%;">Login Now <i
                                class="fa fa-angle-double-right"></i></button>
                        <div class="mb20"></div>
                        <div class="text-center"><small>Not a member yet? <a [routerLink]="'/register'"> Register  Now</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>