<div class="wrapper wrapper-full-page">
    <div class="page-header register-page header-filter" filter-color="black"
        style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">Reset Account Password</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="material-icons">timeline</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Marketing</h4>
                                            <p class="description">
                                                We've created the marketing campaign of the website. It was a very
                                                interesting collaboration.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-primary">
                                            <i class="material-icons">code</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Fully Coded in HTML5</h4>
                                            <p class="description">
                                                We've developed the website with HTML5 and CSS3. The client has access
                                                to the code using GitHub.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="icon icon-info">
                                            <i class="material-icons">group</i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">Built Audience</h4>
                                            <p class="description">
                                                There is also a Fully Customizable CMS Admin Dashboard for this product.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mr-auto">
                                    <div class="card" *ngIf="GUID && isValidResetUrl">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">mail_outline</i>
                                            </div>
                                            <h4 class="card-title">Set New Password</h4>
                                        </div>
                                        <form  [formGroup]="loginForm">
                                            <div class="form-group has-default">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">mail</i>
                                                        </span>
                                                    </div>
                                                    <input type="text" formControlName="email" class="form-control"
                                                        placeholder="Email" disabled="disabled">
                                                </div>
                                            </div>
                                            <div class="form-group has-default">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                                    </div>
                                                    <input type="password" formControlName="password"
                                                        placeholder="Password..." class="form-control">
                                                    <div *ngIf="isSubmitted && f.password.errors"
                                                        class="invalid has-error">
                                                        <div *ngIf="f.password.errors.required">Password is required
                                                        </div>
                                                        <div *ngIf="f.password.errors.minlength">Password must be at
                                                            least 6
                                                            characters</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group has-default">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                                    </div>
                                                    <input type="password" formControlName="confirmPassword"
                                                        placeholder="Confirm Password" class="form-control">
                                                    <div *ngIf="isSubmitted && f.confirmPassword.errors"
                                                        class="invalid">
                                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password
                                                            is
                                                            required</div>
                                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must
                                                            match
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="text-center">
                                                <button mat-raised-button type="submit" class="btn btn-rose"
                                                    (click)="onSubmit()">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card" *ngIf="!GUID">
                                        <div class="card-header card-header-rose card-header-icon">
                                            <div class="card-icon">
                                                <i class="material-icons">mail_outline</i>
                                            </div>
                                            <h4 class="card-title">Fill Your Email Address</h4>
                                        </div>
                                        <div class="card-body">
                                            <form [formGroup]="forgetForm">
                                                <mat-form-field class="example-full-width"
                                                    [ngClass]="{'has-success':validEmailLogin===true}">
                                                    <input formControlName="userEmail" matInput
                                                        (ngModelChange)="emailValidationLogin($event)" type="text"
                                                        placeholder="Email Address">
                                                    <span *ngIf="!validEmailLogin" class="form-control-feedback">
                                                        <i class="material-icons">clear</i>
                                                    </span>
                                                    <span *ngIf="validEmailLogin" class="form-control-feedback">
                                                        <i class="material-icons">done</i>
                                                    </span>
                                                </mat-form-field>
                                            </form>
                                        </div>
                                        <div class="card-footer ">
                                            <button mat-raised-button type="submit" (click)="onForgetSubmit()"
                                                class="btn btn-fill btn-rose">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer ">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="https://creative-tim.com/about-us">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://www.creative-tim.com/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy;
                    2020, made with <i class="material-icons">favorite</i> by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
                </div>
            </div>
        </footer>
    </div>
</div>