@{
    ViewBag.Title = "About";
}
<section  class="about_banner_area" >
    <div  class="banner_inner d-flex align-items-center">
        <div  class="container">
            <div  class="banner_content row">
                <div  class="col-lg-12">
                    <h2 >We are the future of Health Industry</h2>
                    <p >Leela Health Care truly believes on our values which help us connect with our customers and their medical needs. We are one stop for all your medical necessities. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section  class="appointment-area">
    <div  class="container">
        <div  class="row justify-content-between align-items-center appointment-wrap">
            <div  class="col-lg-5 col-md-6 appointment-left">
                <div  class="col-md-6 col-md-push-6 animate-box fadeInUp animated-fast"><img  alt="" class="img-responsive about-img" src="~/content/img/about.jpg"></div>
            </div>
            <div  class="col-lg-6 col-md-6 pt-60 pb-60">
                <div  class="appointment-right">
                    <form  action="#" class="form-wrap ng-untouched ng-pristine ng-valid" novalidate="">
                        <div >
                            <h2 >About Leela Healthcare</h2>
                            <p >
                                Leela Healthcare aims at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner.
                                We strive to deliver healthcare compassionately and always act with integrity. Our ethics and compliance programme is an integral part of what we do. At Leela Healthcare we have OPD along with Diagnostics Centre
                                as well as Acupuncture and Pain Clinic. We have both Morning OPD as well as Evening OPD with 8 specialities available. <br >Our Pathology Partner “Apollo Diagnostics” is well equipped with all
                                the modern facilities. Apollo Diagnostics is the result of the ‘good health for all’ mission that is spurring the Apollo Hospitals Group to touch a billion lives. Apollo Diagnostics’ expert technicians and state-of-the-art
                                diagnostic equipment are constantly guided by Apollo’s 36-years legacy of excellence to ensure the accuracy and timeliness of test results.
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section  class="service_area section_gap">
    <div  class="container">
        <div  class="col-lg-12 pl-0">
            <h1  class="typo-list">Our Values</h1>
        </div>
        <div  class="section-top-border text-right">
            <h3  class="mb-30 title_color">Powered By Apollo</h3>
            <div  class="row">
                <div  class="col-md-5">
                    <h4 >Mission</h4>
                    <p  class="text-right">
                        The Doctors Clinic is a leader in healthcare quality. Our mission is to provide excellent medical care in a family centered environment. We firmly embrace the concept of the medical home, a centralized base for caring for children
                        and their entire family. Our philosophy is shared by all our staff, from physicians to the front desk. We value the relationships with our families, and enjoy caring for newborns through young adults. We are committed to
                        continuously educating ourselves and incorporating the best of technology to provide excellent care.
                    </p>
                </div>
                <div  class="col-md-3">
                    <h4 >Vision</h4>
                    <p  class="text-right">
                        We strive to work with the community to improve the lives of our patients and their families. We provide clinical expertise to parents as well as other health professionals. We work professionally with our referring Doctors,
                        to help them and look to them for their clinical expertise .
                    </p>
                </div>
                <div  class="col-md-4"><img  alt="" class="img-fluid" src="~/content/img/leelahealthcare/Cover-images/about2.png"></div>
            </div>
        </div>
    </div>
</section>
