
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog_area section_gap">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <div class="col-lg-12 pl-0">
                    <br>
                    <h1 class="typo-list">Our Recent Blogs</h1>
                </div>
                <div class="blog_left_sidebar">
                    <article id="fbData" class="row blog_item">
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts {
    <script type="text/javascript">
        $(function() {

            var token = 'EAAIalFOvYZBYBAEgfkuHfzbiDUV55aSNRGzCsphylrd9MXijAO2Lg7lEMpUcw1ZAKU9o3mL5kMF5gISlM6dKQRwsrPGjVfZA4qZBGctLIgqgTwJjPEudg4QeAZAp8bl89iWH8fCfOiwP5SnUoPC12nZBEG2tl81ScgKeQTnySpPpdX9RdQSDNxSh7P5RJaZCqEw2rBzeQQ8lgZDZD';
            var pageId = '104727467552283';
            var apiUrl = 'https://graph.facebook.com/' + pageId + '/posts?fields=permalink_url,likes, picture, message_tags, created_time, full_picture, icon, timeline_visibility, comments, message&access_token=' + token;
            var data = [
            {
                "permalink_url": "https://www.facebook.com/104727467552283/posts/223293802362315/",
                "picture": "https://external.xx.fbcdn.net/safe_image.php?d=AQDDtXRhUddOEUrb&w=130&h=130&url=https%3A%2F%2Fleelahealthcare.com%2Fassets%2Fimg%2Fleelahealthcare%2FLeelaHealthcare-logo.png&cfs=1&_nc_hash=AQAUVd-0y7W9KmH6",
                "created_time": "2020-03-30T15:57:16+0000",
                "full_picture": "https://external.xx.fbcdn.net/safe_image.php?d=AQA6sq0YBKUW3Pfq&url=https%3A%2F%2Fleelahealthcare.com%2Fassets%2Fimg%2Fleelahealthcare%2FLeelaHealthcare-logo.png&_nc_hash=AQB93s-Qs_52bC2T",
                "icon": "https://www.facebook.com/images/icons/post.gif",
                "timeline_visibility": "normal",
                "id": "104727467552283_223293802362315"
                }
            ];

            $.each(data, function(inData) {
                let post = data[inData];
                let tags = "healthcare";
                if (post.message_tags) {
                    tags = post.message_tags.length
                }
                const time = new Date(post.created_time)
                let date = time.getDate('DD') + "-" + time.getMonth('MM') + "-" + time.getFullYear();
                $("#fbData").append('<div class="row" style="border: #9b9b9f;border-style: solid;border-width: thin;margin: 20px;padding: 10px;"> <div class="col-md-3"><div class="blog_info text-right"><ul class="blog_meta list"><li><a href="#"> ' + tags + ' Tags<i class="lnr lnr-tag"></i></a></li><li><a href="#">' + date + '<i class="lnr lnr-calendar-full"></i></a></li><li><a target="_blank" href="' + post.permalink_url + '"> View Post <i class="lnr lnr-eye"></i></a></li><li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li></ul></div></div> ' +
                    '<div class="col-md-5">  <div class="blog_post"><a href="' + post.permalink_url + '" target="_blank">  <img title="facebook post" height="250px" style="width:fit-content" src="' + post.full_picture + '" alt=""></a></div></div>' +
                    '<div class="col-md-4"> <div class="blog_details">  <a href="single-blog.html"> </a> <p>' + post.message + '</p> </div> </div> </div> ');
            });
        });
      
    </script>

}

