@*@{
        ViewBag.Title = "Home Page";
    }*@

@section Head{
    <title>Leela Health Care Diagnostics | Life better</title>
    <meta name="description" content="Leela HealthCare Diagnostics is supported by Apollo diagnostics in kolkata">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Accuit Technologies">
    <meta name="robots" content="INDEX, FOLLOW">
    <meta name="keywords" content="Apollo diagnostics in kolkata, Best diagnostic center near bhawanipore, Best doctor clinic near bhawanipore, Physcians near bhawanipore, Best lady gynaecologist in bhawanipore">
    <meta name="date" content="@DateTime.Now" scheme="YYYY-MM-DD">
    <meta httpequiv="Content-Type" content="text/html">
    <meta property="og:title" content="Leela Health Care Diagnostics">
    <meta property="og:description" content="Leela Healthcare aims at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner. We strive to deliver healthcare compassionately and always act with integrity. Our ethics and compliance programme is an integral part of what we do. At Leela Healthcare we have OPD along with Diagnostics Centre as well as Acupuncture and Pain Clinic. We have both Morning OPD as well as Evening OPD with 8 specialities available.">
    <meta property="og:url" content="https://leelahealthcare.com">
    <meta property="og:image" content="https://leelahealthcare.com/content/img/book-appointment.jpg">
    <meta property="og:type" content="website">

}

<!--================ Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
    </div>
</section>
<!--================ End Home Banner Area =================-->


<section class="service_area section_gap_custom">
    <div class="container">
        <div class="row justify-content-center section-title-wrap">
            <div class="col-lg-12">
                <h1>Our Top Services</h1>
                <h2>All types of HealthCare services is provided by leelahealthcare.</h2>
                <p>
                    Leela Health Care truly believes on our values which help us connect with our customers and their medical needs.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single_service">
                    <span class="lnr lnr-leaf"></span>
                    <a href="#">
                        <h3>Pathology</h3>
                    </a>
                    <p>
                        Health IQ basically aims at improving life’s of others. In terms of pathology, it is a medical specialty that determines the cause and ...<a href="'services'"> read more</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_service">
                    <span class="lnr lnr-heart-pulse"></span>
                    <a href="#">
                        <h3>Diabetes Welness Clinic</h3>
                    </a>
                    <p>
                        Diabetes is a hassle-some disease. At Health IQ, we take the stress out of diabetes. We provide everything a diabetic might need, under one roof. <a href="'services'"> read more</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_service">
                    <span class="lnr lnr-user"></span>
                    <a href="#">
                        <h3>Child Care Clinic</h3>
                    </a>
                    <p>
                        Childcare clinic offers a comprehensive range of treatments with complete solutions for Child. Our experienced team of Paediatricians caters to the Medical Needs of Newborns, <a href="'services'"> read more</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single_service">
                    <span class="lnr lnr-users"></span>
                    <a href="#">
                        <h3>Gynae Care Clinic</h3>
                    </a>
                    <p>
                        Gynaecare clinic offers a comprehensive range of treatments with complete scientific solutions for infertility and sexual dysfunctions. <a href="'services'"> read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feedback_area section_gap relative">
    <div class="container">
        <div class="row justify-content-center section-title-wrap">
            <div class="col-lg-12">
                <h1>About Leela Health Care</h1>
                <p>
                    Leela Healthcare aims at providing life better through quality care and services that set community standards, exceed patient’s expectations and provides in a caring, convenient, cost-effective and accessible manner.
                </p>
            </div>
        </div>
        <div class="feedback_contents justify-content-center align-items-center">
            <div class="owl-item active">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="~/Content/img/leelahealthcare/Cover-images/about.png" width="100%" alt="about Leela HealthCare">
                    </div>
                    <div class="col-lg-6">
                        <div class="single-feedback-carusel">
                            <div class="d-flex flex-row">
                                <h4 class="">More about Leela Health Care</h4>
                            </div>
                            <p>
                                At Leela Healthcare we strive to deliver healthcare compassionately and always act with integrity. Our ethics and compliance programme is an integral part of what we do.
                            </p>
                            <p>
                                At Leela Healthcare we have OPD along with Diagnostics Centre as well as Acupuncture and Pain Clinic. We have both Morning OPD as well as Evening OPD with 8 specialities available. <br>

                            </p>
                            <div class="d-flex flex-row">
                                <h4 class="">Our Pathology Partner “Apollo Diagnostics”</h4>

                            </div>
                            <p class="">
                                “Apollo Diagnostics” is well equipped with all the modern facilities. Apollo Diagnostics is the result of the ‘good health for all’ mission that is spurring the Apollo Hospitals Group to touch a billion lives.
                            </p>
                            <p>Apollo Diagnostics’ expert technicians and state-of-the-art diagnostic equipment are constantly guided by Apollo’s 36-years legacy of excellence to ensure the accuracy and timeliness of test results.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--================ Start Offered Services Area =================-->
<section class="procedure_category section_gap">
    <div class="container">
        <div class="row justify-content-center section-title-wrap">
            <div class="col-lg-12">
                <h1>Our Prime Packages</h1>
                <p>
                    We have designed our health Packages in a way so that every one can afford it easily.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="categories_post">
                    <img alt="catg.Name" src="~/Content/img/packages/basic.jpg">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="'/health-packages'">
                                <h5>Basic Package</h5>
                            </a>
                            <div class="border_line"></div>
                            <p> Test Packages Included</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img alt="catg.Name" src="~/Content/img/packages/diabetes.jpg">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="'/health-packages'">
                                <h5>Diabetes Package</h5>
                            </a>
                            <div class="border_line"></div>
                            <p> Test Packages Included</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img alt="catg.Name" src="~/Content/img/packages/cardiac.jpg">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="'/health-packages'">
                                <h5>Cardiac Package</h5>
                            </a>
                            <div class="border_line"></div>
                            <p> Test Packages Included</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img alt="catg.Name" src="~/Content/img/packages/full-body.jpg">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="'/health-packages'">
                                <h5>Full Body Package</h5>
                            </a>
                            <div class="border_line"></div>
                            <p> Test Packages Included</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img alt="catg.Name" src="~/Content/img/packages/senior-citizen.jpg">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="'/health-packages'">
                                <h5>Senior Citizen Package</h5>
                            </a>
                            <div class="border_line"></div>
                            <p> Test Packages Included</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="categories_post">
                    <img alt="catg.Name" src="~/Content/img/packages/executive-pack.jpg">
                    <div class="categories_details">
                        <div class="categories_text">
                            <a href="'/health-packages'">
                                <h5>Executive Pack Package</h5>
                            </a>
                            <div class="border_line"></div>
                            <p> Test Packages Included</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="class=">
    <div class="container">
        <div class="col-lg-12">
            <h2>Health Package Details</h2>
            <h3>Our health packages are specially curated for all generations</h3>
        </div>

        <div class="row">
            <div class="col-lg-8 posts-list">
                <!---->
                <div class="comments-area">
                    <h4>List of Packages included in <span> Full Body Package</span></h4>
                    <div class="comment-list">
                        <!---->
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb"><img alt="" height="20px" src="~/Content/img/packages/full-body.jpg"></div>
                                <div class="desc">
                                    <h5>
                                        <p>MASTER CHECK LITE</p>
                                    </h5>
                                    <p class="date"></p>
                                    <!---->
                                    <p class="comment"> COMPLETE BLOOD COUNT (CBC) </p>
                                    <p class="comment"> COMPLETE URINE EXAMINATION </p>
                                    <p class="comment"> GLUCOSE FASTING </p>
                                    <p class="comment"> GLUCOSE POST PRANDIAL (PP) 2 HOURS (POST MEAL) </p>
                                    <p class="comment"> HBA1C GLYCATED HEMOGLOBIN </p>
                                    <p class="comment"> RENAL PROFILE/RENAL FUNCTION TEST (RFT/KFT) </p>
                                    <p class="comment"> LIPID PROFILE </p>
                                    <p class="comment"> LIVER FUNCTION TEST (LFT) WITH GGT </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <p class="btn-reply text-uppercase">Rs. 2490</p>
                            </div>
                        </div>
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb"><img alt="" height="20px" src="~/Content/img/packages/full-body.jpg"></div>
                                <div class="desc">
                                    <h5>
                                        <p>MASTER CHECK SILVER</p>
                                    </h5>
                                    <p class="date"></p>
                                    <!---->
                                    <p class="comment"> COMPLETE BLOOD COUNT (CBC) </p>
                                    <p class="comment"> COMPLETE URINE EXAMINATION </p>
                                    <p class="comment"> GLUCOSE FASTING </p>
                                    <p class="comment"> GLUCOSE POST PRANDIAL (PP) 2 HOURS (POST MEAL) </p>
                                    <p class="comment"> HBA1C GLYCATED HEMOGLOBIN </p>
                                    <p class="comment"> RENAL PROFILE/RENAL FUNCTION TEST (RFT/KFT) </p>
                                    <p class="comment"> LIPID PROFILE </p>
                                    <p class="comment"> LIVER FUNCTION TEST (LFT) WITH GGT </p>
                                    <p class="comment"> THYROID PROFILE (TOTAL T3 TOTAL T4 TSH) </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <p class="btn-reply text-uppercase">Rs. 2890</p>
                            </div>
                        </div>
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb"><img alt="" height="20px" src="~/Content/img/packages/full-body.jpg"></div>
                                <div class="desc">
                                    <h5>
                                        <p>MASTER CHECK GOLD</p>
                                    </h5>
                                    <p class="date"></p>
                                    <!---->
                                    <p class="comment"> COMPLETE BLOOD COUNT (CBC) </p>
                                    <p class="comment"> COMPLETE URINE EXAMINATION </p>
                                    <p class="comment"> GLUCOSE FASTING </p>
                                    <p class="comment"> GLUCOSE POST PRANDIAL (PP) 2 HOURS (POST MEAL) </p>
                                    <p class="comment"> HBA1C GLYCATED HEMOGLOBIN </p>
                                    <p class="comment"> RENAL PROFILE/RENAL FUNCTION TEST (RFT/KFT) </p>
                                    <p class="comment"> LIPID PROFILE </p>
                                    <p class="comment"> LIVER FUNCTION TEST (LFT) WITH GGT </p>
                                    <p class="comment"> THYROID PROFILE (TOTAL T3 TOTAL T4 TSH) </p>
                                    <p class="comment"> VITAMIN B12 </p>
                                    <p class="comment"> VITAMIN D - 25 HYDROXY (D2+D3) </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <p class="btn-reply text-uppercase">Rs. 4150</p>
                            </div>
                        </div>
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb"><img alt="" height="20px" src="~/Content/img/packages/full-body.jpg"></div>
                                <div class="desc">
                                    <h5>
                                        <p>MASTER CHECK DIAMOND</p>
                                    </h5>
                                    <p class="date"></p>
                                    <!---->
                                    <p class="comment"> COMPLETE BLOOD COUNT (CBC) </p>
                                    <p class="comment"> COMPLETE URINE EXAMINATION </p>
                                    <p class="comment"> GLUCOSE FASTING </p>
                                    <p class="comment"> GLUCOSE POST PRANDIAL (PP) 2 HOURS (POST MEAL) </p>
                                    <p class="comment"> HBA1C GLYCATED HEMOGLOBIN </p>
                                    <p class="comment"> RENAL PROFILE/RENAL FUNCTION TEST (RFT/KFT) </p>
                                    <p class="comment"> LIPID PROFILE </p>
                                    <p class="comment"> LIVER FUNCTION TEST (LFT) WITH GGT </p>
                                    <p class="comment"> THYROID PROFILE (TOTAL T3 TOTAL T4 TSH) </p>
                                    <p class="comment"> VITAMIN B12 </p>
                                    <p class="comment"> VITAMIN D - 25 HYDROXY (D2+D3) </p>
                                    <p class="comment"> BLOOD GROUP ABO AND RH FACTOR </p>
                                    <p class="comment"> IMMUNOCAP PHADITOP ADULT SCREENING </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <p class="btn-reply text-uppercase">Rs. 5490</p>
                            </div>
                        </div>
                        <div class="single-comment justify-content-between d-flex">
                            <div class="user justify-content-between d-flex">
                                <div class="thumb"><img alt="" height="20px" src="~/Content/img/packages/full-body.jpg"></div>
                                <div class="desc">
                                    <h5>
                                        <p>MASTER CHECK PLATINUM</p>
                                    </h5>
                                    <p class="date"></p>
                                    <!---->
                                    <p class="comment"> COMPLETE BLOOD COUNT (CBC) </p>
                                    <p class="comment"> COMPLETE URINE EXAMINATION </p>
                                    <p class="comment"> GLUCOSE FASTING </p>
                                    <p class="comment"> GLUCOSE POST PRANDIAL (PP) 2 HOURS (POST MEAL) </p>
                                    <p class="comment"> HBA1C GLYCATED HEMOGLOBIN </p>
                                    <p class="comment"> RENAL PROFILE/RENAL FUNCTION TEST (RFT/KFT) </p>
                                    <p class="comment"> LIPID PROFILE </p>
                                    <p class="comment"> LIVER FUNCTION TEST (LFT) WITH GGT </p>
                                    <p class="comment"> THYROID PROFILE (TOTAL T3 TOTAL T4 TSH) </p>
                                    <p class="comment"> VITAMIN B12 </p>
                                    <p class="comment"> VITAMIN D - 25 HYDROXY (D2+D3) </p>
                                    <p class="comment"> BLOOD GROUP ABO AND RH FACTOR </p>
                                    <p class="comment"> IMMUNOCAP PHADITOP ADULT SCREENING </p>
                                    <p class="comment"> IRON - SERUM </p>
                                    <p class="comment"> TOTAL IRON BINDING CAPACITY ( TIBC) - SERUM </p>
                                    <p class="comment"> ERYTHROCYTE SEDIMENTATION RATE (ESR) </p>
                                    <p class="comment"> MICROALBUMIN ( MAU)- SPOT URINE </p>
                                </div>
                            </div>
                            <div class="reply-btn">
                                <p class="btn-reply text-uppercase">Rs. 6990</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!---->
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Basic</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>MINI BODY CHECK MALE</p>
                                    <p>600</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>MINI BODY CHECK FEMALE</p>
                                    <p>850</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>MASTER CHECK BASIC</p>
                                    <p>1990</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>AYUSH SMART 1 </p>
                                    <p>899</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>AYUSH SMART 2</p>
                                    <p>1199</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>AYUSH SMART 3</p>
                                    <p>1899</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Diabetes</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>DIABETIC CHECK</p>
                                    <p>499</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>DIABETIC PANEL</p>
                                    <p>699</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>DIABETES MONITORING PANEL</p>
                                    <p>950</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>Diabetes Check Gold</p>
                                    <p>1100</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>MASTER CHECK DIABETES</p>
                                    <p>1590</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>EXECUTIVE PACK -II</p>
                                    <p>1700</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Cardiac</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>HEALTHY HEART</p>
                                    <p>799</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>HEALTHY HEART EXTENDED</p>
                                    <p>1299</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>BASIC CARDIAC CHECK UP</p>
                                    <p>1400</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>EXECUTIVE PACK -III CARDIAC CHECK UP</p>
                                    <p>3200</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Wellness</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>THYROID PANEL</p>
                                    <p>899</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>VITAMIN CHECK</p>
                                    <p>1299</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>PAIN CHECK</p>
                                    <p>1999</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>BONE PROFILE</p>
                                    <p>2999</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Pre Marital check</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>PRE MARITAL HEALTH CHECKUP1 (MALE)</p>
                                    <p>4859</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>PRE MARITAL HEALTH CHECKUP 1(FEMALE)</p>
                                    <p>1829</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>PRE MARITAL HEALTH CHECKUP 3(FEMALE)</p>
                                    <p>3279</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>PRE MARITAL HEALTH CHECKUP 2 (MALE)</p>
                                    <p>3279</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>PRE MARITAL HEALTH CHECKUP2(FEMALE)</p>
                                    <p>4859</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Senior Citizen</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>For MEN</p>
                                    <p>3190</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>For WOMEN</p>
                                    <p>3090</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <a>
                            <h4 class="widget_title">Executive Pack</h4>
                        </a>
                        <ul class="list cat-list">
                            <!---->
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>EXECUTIVE PACK 1</p>
                                    <p>2950</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-flex justify-content-between">
                                    <p>EXECUTIVE PACK II</p>
                                    <p>1700</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                </div><br>
            </div>
        </div>
    </div>
</section>

@section scripts {

}