<app-top-header></app-top-header>
<app-default-header></app-default-header>


<app-inner-banner [title]="'Partner With Us'" [url]="'/'" [parent]="'home'" subtitle="partner with us" [caption]="'Join us to grow together as an esteemed organization'">
</app-inner-banner>

<section class="feature-style-two" style="padding-top: 100px;">
    <div class="thm-container">
        <div class="sec-title-style-two text-center">
            <div class="line"></div>
            <!-- /.line -->
            <h3>A collection center is place where a customer <br><span class="color-1">walks-in and gives his sample with belief and confidence on </span> Health IQ's <span class="color-1">accuracy and efficiency.</span></h3>

        </div>
        <!-- /.sec-title-style-two -->
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img src="assets/images/feature-2-1.png" alt="Awesome Image">
                        <h3>HealthCare <br> Unit </h3>
                        <p>Health IQ provides <br> all the standard courses to <br> as per Industry.</p>
                        <a href="/partner-with-us/healthcare-unit" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-4 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img src="assets/images/feature-2-2.png" alt="Awesome Image">
                        <h3>Corporate <br> Tie Up </h3>
                        <p>For any information <br> feel free to post your <br> queries.</p>
                        <a href="/partner-with-us/corporate-tie-up" class="more">Start Enquiry <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
            <div class="col-md-4 col-sm-6 col-xs-12 hvr-bounce-to-bottom">
                <div class="single-feature-style-two text-center">
                    <div class="inner">
                        <img src="assets/images/feature-2-3.png" alt="Awesome Image">
                        <h3>Organize <br> Camp</h3>
                        <p>Our fee structure is diversed and <br> it meant to help each student <br> to fulfill their goals.</p>
                        <a href="/partner-with-us/organize-free-camp" class="more">Read More <i class="fa fa-angle-double-right"></i></a>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.single-service-style-four -->
            </div>
            <!-- /.col-md-3 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>