<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="CORSUrl" value="http://leelahealthcare.com, http://health-iq.in, https://health-iq.in" />
    <add key="DBugCORSUrl" value="http://localhost:4200" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CCAddress" value="neer.s@outlook.com" />
    <add key="DbugToEmail" value="info@leelahealthcare.com" />
    <add key="IsDebugMode" value="Y" />
    <add key="Subject" value="Your booking is confirmed with Leela Health Care." />
    <!-- ================================== [START] "For Live Deployement Mode;  ========================================== -->
    <add key="FromName" value="Leela Health Care" />
    <add key="FromEmail" value="info@leelahealthcare.com" />
    <add key="Password" value="Krishna@2019" />
    <add key="SMTPHost" value="mail.leelahealthcare.com" />
    <add key="SMTPPort" value="26" />
    <add key="IsSSL" value="N" />
    <!--<add key="FromName" value="Dream Wedds"/>
    <add key="FromEmail" value="thedreamwedds@gmail.com"/>
    <add key="Password" value="Krishna@2019"/>
    <add key="SMTPHost" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="IsSSL" value="Y"/>-->
    <!-- ================================== [START] "For Live Deployement Mode;  ========================================== -->
    <!-- ================================== [START] "For Debugging Mode; ( Working) ========================================== -->
    <!--<add key="DebugFromName" value="Dreamwedds"/>
    <add key="DbugFromEmail" value="thedreamwedds@gmail.com"/>
    <add key="DbugFromPass" value="Krishna@2019"/>
    <add key="DbugSMTPHost" value="smtp.gmail.com"/>
    <add key="DbugSMTPPort" value="587"/>
    <add key="DbugIsSSL" value="Y"/>-->
    <add key="DebugFromName" value="Leela Health Care" />
    <add key="DbugFromEmail" value="info@leelahealthcare.com" />
    <add key="DbugFromPass" value="Krishna@2019" />
    <add key="DbugToEmail" value="neer.s@outlook.com" />
    <add key="DbugSMTPHost" value="mail.leelahealthcare.com" />
    <add key="DbugSMTPPort" value="26" />
    <add key="DbugIsSSL" value="N" />
    <!-- ================================== [FINISH] "For Debugging Mode; ( Working) ========================================== -->
  </appSettings>
  <connectionStrings>
    <add name="LeelaDBConnection" connectionString="server=182.50.133.82;port=3306;database=LeelaDB;uid=Adm;password=Krishna_2012;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <add name="IqHealthConnection" connectionString="server=182.50.133.89;port=3306;database=HealthIQ_Dev;uid=adm;password=Krishna_2012;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
    <!--<add name="IqHealthConnection" connectionString="server=182.50.133.82;port=3306;database=IQHealth;uid=iqhealth;password=Krishna_2012;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off"></customErrors>
    <trust level="Full"></trust>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
        <httpErrors>
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <remove statusCode="400" />
            <error statusCode="400" path="G:\PleskVhosts\accuit.net\error_docs\bad_request.html" />
            <remove statusCode="407" />
            <error statusCode="407" path="G:\PleskVhosts\accuit.net\error_docs\proxy_authentication_required.html" />
            <remove statusCode="414" />
            <error statusCode="414" path="G:\PleskVhosts\accuit.net\error_docs\request-uri_too_long.html" />
            <remove statusCode="415" />
            <error statusCode="415" path="G:\PleskVhosts\accuit.net\error_docs\unsupported_media_type.html" />
            <remove statusCode="503" />
            <error statusCode="503" path="G:\PleskVhosts\accuit.net\error_docs\maintenance.html" />
            <error statusCode="401" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\unauthorized.html" />
            <error statusCode="403" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\forbidden.html" />
            <error statusCode="404" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\not_found.html" />
            <error statusCode="405" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\method_not_allowed.html" />
            <error statusCode="406" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\not_acceptable.html" />
            <error statusCode="412" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\precondition_failed.html" />
            <error statusCode="500" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\internal_server_error.html" />
            <error statusCode="501" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\not_implemented.html" />
            <error statusCode="502" prefixLanguageFilePath="" path="G:\PleskVhosts\accuit.net\error_docs\bad_gateway.html" />
        </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.15.0" newVersion="8.0.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom></system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework, Version=8.0.15.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: F5B0F6BB-9D84-4487-859D-6DC191946228-->