<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner [title]="title" [url]="url" [parent]="parent" [subtitle]="subtitle"></app-inner-banner>

<section class="service-style-two sec-pad white-bg">
    <div class="thm-container">
        <div class="sec-title text-center">
            <h3>We operate all the days, with staff equipped & <br> trained to deal with any kind of emergency</h3>

            <div class="line"></div>
            <!-- /.line -->
        </div>
        <!-- /.sec-title -->
        <div class="row">
            <div *ngFor="let s of services" class="col-md-4 col-sm-12 col-xs-12">
                <div class="single-service-style-two clearfix">
                    <div class="img-box ">
                        <img [src]="'assets/images/services/'+ s.ID + '.jpg' " alt="{{s.Name}}" />
                    </div>
                    <!-- /.img-box -->
                    <div class="text-box">
                        <div class="inner-box">
                            <a [routerLink]="'/service-details/'+ s.ID">
                                <h3>{{s.Name}}</h3>
                            </a>
                            <p>{{ s.Description | slice:0:200 }}</p>
                            <a [routerLink]="'/service-details/'+ s.ID" class="more-btn">Read More <i class="fa fa-angle-double-right"></i></a>
                            <!-- /.more-btn -->
                        </div>
                        <!-- /.inner-box -->
                    </div>
                    <!-- /.text-box -->
                </div>
                <!-- /.single-service-style-two -->
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.thm-container -->
</section>
<!-- /.service-style-two -->