<app-top-header></app-top-header>
<app-default-header></app-default-header>

<app-inner-banner [title]="title" [url]="url" [parent]="parent" [subtitle]="subtitle">
</app-inner-banner>

<section *ngIf="urlParams && (urlParams.doctor || urlParams.speciality)" class="subscribe-style-one home-two" style="background-image: url(images/subscribe-bg-1-1.jpg); background-attachment: fixed; background-position: center center;">
    <div class="inner">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-6">
                    <div class="subscribe-content">
                        <h3>Could not Find Your Doctor?</h3>
                    </div>
                    <!-- /.subscribe-content -->
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                    <form action="#" class="subscribe-form clearfix">
                        <button (click)="resetDoctorsList()" type="submit">All Doctors<i class="fa fa-angle-double-right"></i></button>
                    </form>
                    <!-- /.subscribe-form -->
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.thm-container -->
    </div>
    <!-- /.inner -->
</section>

<section class="team-style-one  sec-pad">
    <div class="thm-container">
        <div class="sec-title text-center">
            <h3>Our Doctors are Setting the New Standards <br> in <span class="color-1">Medical Research</span></h3>
            <div class="line"></div>
            <!-- /.line -->
        </div>
        <!-- /.sec-title -->
        <div *ngIf="isLoaded && doctors.length > 0" class="row">
            <div *ngFor="let doctor of doctors" class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-style-one">
                    <div class="img-box">
                        <img [src]="'assets/images/doctors/'+ doctor.FirstName.trim() + '-' + doctor.LastName + '.jpg'" height="210px" alt="{{doctor.FirstName}}" />
                    </div>
                    <!-- /.img-box -->
                    <div class="text-box" style="height: 110px;">
                        <a href="#">
                            <h3>{{doctor.FirstName}} {{doctor.LastName}}</h3>
                        </a>
                        <p style="color: #02a69b;">{{ doctor.Designation }}</p>
                        <p>{{doctor.Specialist}}</p>
                    </div>
                    <!-- /.text-box -->
                    <a href="/book-an-appointment" class="book-appointment-btn">Fix Appointment <i class="fa fa-angle-double-right"></i></a>
                </div>
                <!-- /.single-team-style-one -->
            </div>
            <!-- /.col-md-3 col-sm-6 col-xs-12 -->
        </div>
        <!-- /.row -->
        <div class="row" *ngIf="isLoaded && doctors.length == 0">
            <div class="col-md-6">
                <h3>No results found.</h3>
            </div>
            <div class="col-md-6">
                <form action="#" class="subscribe-form clearfix">
                    <button (click)="resetDoctorsList()" type="submit">See All Doctors<i class="fa fa-angle-double-right"></i></button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.thm-container -->
</section>
<!-- /.team-style-one -->