<app-inner-banner [title]="title" [url]="url" [parent]="parent" [subtitle]="subtitle">
    </app-inner-banner>

    <section *ngIf="showSlider" class="service-style-four ">
            <div class="title-wrapper sec-pad pb0">
                <div class="thm-container">
                    <div class="sec-title-style-two text-center">
                       
                        <h3>Explore Our <span class="color-1">Doctors</span> based on <span class="color-1">Specialities</span></h3>
                        <!-- <p>Mollit animid acusm est laborum sed dolore perspiciatis unde omnis iste natus error volt sit ipsum dui <br> mque lorem tium  ipsum tempor incididunt ut labore et dolore magna aliqua </p> -->
                    </div><!-- /.sec-title-style-two -->
                    <div  class="tab-row service-tab-title-carousel owl-theme owl-carousel" role="tablist">
                        <div class="item" data-tab-name="dentist">
                            <a href="#dentist" (click)="getDoctors(1)" aria-controls="dentist" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-tooth"></i>
                                    <h3>Dentistry</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-tooth"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div><!-- /.item -->
                        <div class="item" data-tab-name="physician">
                            <a href="#physician" aria-controls="physician" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-stethoscope"></i>
                                    <h3>Family Physician</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-stethoscope"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div><!-- /.item -->
                        <div class="item" data-tab-name="eye">
                            <a href="#eye" aria-controls="eye" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-eye"></i>
                                    <h3>Eye Surgery</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-eye"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div><!-- /.item -->
                        <div class="item" data-tab-name="cardiology">
                            <a href="#cardiology" aria-controls="cardiology" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                    <h3>Cardiology</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-cardiogram1"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div><!-- /.item -->
                        <div class="item" data-tab-name="child-care">
                            <a href="#child-care" aria-controls="child-care" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-doctor2"></i>
                                    <h3>Children Care</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-doctor2"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div><!-- /.item -->
                        <div class="item" data-tab-name="diagnostic-imaging">
                            <a href="#diagnostic-imaging" aria-controls="diagnostic-imaging" role="tab" data-toggle="tab" class="service-top-tab">
                                <div class="inner">
                                    <i class="clinmedix-icon-x-ray"></i>
                                    <h3>Diagnostic Imaging</h3>
                                </div><!-- /.inner -->
                                <div class="overlay">
                                    <i class="clinmedix-icon-x-ray"></i>
                                </div><!-- /.overlay -->
                            </a><!-- /.service-top-tab -->
                        </div><!-- /.item -->
                    </div><!-- /.row -->
                </div><!-- /.thm-container -->
            </div><!-- /.title-wrapper -->
          
        </section>/.service-style-four

    <section class="team-style-one">
            <div class="thm-container">
                <div class="sec-title text-center">
                    <h3>Our Doctors are Setting the New Standards <br> in <span class="color-1">Medical Research</span></h3>
                    <div class="line"></div><!-- /.line -->
                </div><!-- /.sec-title -->
                <div *ngIf="isLoaded" class="row">
                    <div *ngFor="let doctor of doctors" class="col-md-3 col-sm-6 col-xs-12">
                        <div class="single-team-style-one">
                            <div class="img-box">
                                <img [src]="'assets/images/doctors/'+ doctor.ID + '.jpg'" alt="{{doctor.FirstName}}" />
                                <div class="hover-box">
                                    <div class="inner-box">
                                        <div class="social">
                                                <button class="nw-btn main_btn circle" tabindex="0">Book Appointment <span _ngcontent-brn-c0="" class="lnr lnr-arrow-right"></span></button>
                                        </div><!-- /.social -->
                                       
                                    </div><!-- /.inner-box -->
                                </div><!-- /.hover-box -->
                            </div><!-- /.img-box -->
                            <div class="text-box">
                                <a href="#">
                                    <h3>{{doctor.FirstName}} {{doctor.LastName}}</h3>
                                </a>
                                <p>{{doctor.Specialist}}</p>
                            </div><!-- /.text-box -->
                        </div><!-- /.single-team-style-one -->
                    </div><!-- /.col-md-3 col-sm-6 col-xs-12 -->
                </div><!-- /.row -->
            </div><!-- /.thm-container -->
        </section><!-- /.team-style-one -->