
      
form { 
    border: 3px solid #f1f1f1; 
  } 
  /*assign full width inputs*/ 
  
  input[type=text], 
  input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
  } 
  /*set a style for the buttons*/ 
  
  button { 
    background-color: #4CAF50; 
    color: white; 
    padding: 0px 0px; 
    margin: 8px 0; 
    border: none;     cursor: pointer; 
    width: 100%; 
  } 
  /* set a hover effect for the button*/ 
  
  button:hover { 
    opacity: 0.8; 
  } 
  /*set extra style for the cancel button*/ 
  
  .cancelbtn { 
    width: auto; 
    padding: 0px 0px; 
    background-color: #f44336;
  } 
  /*centre the display image inside the container*/ 
  
  .imgcontainer { 
    text-align: center; 
    margin: 116px 0 12px 0; 
  } 
  /*set image properties*/ 
  
  img.avatar { 
    width: 10%;
    border-radius: 0%; 
  } 
  /*set padding to the container*/ 
  
  .container { 
    padding: 40px; 
  } 
  /*set the forgot password text*/ 
  
  span.psw { 
    float: right; 
    padding-top: 16px; 
  } 
  /*set styles for span and cancel button on small screens*/ 
    .cancelbtn { 
        width: 100%; 
    } 