<div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" filter-color="black"
        style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                    <form [formGroup]="loginForm" class="form">
                        <div class="card card-login">
                            <div class="card-header card-header-rose text-center">
                                <h4 class="card-title">Login</h4>
                            </div>
                            <div class="card-body ">
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <mat-form-field class="example-full-width"
                                            [ngClass]="{'has-success':validEmailLogin===true}">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">email</i>
                                                </span>
                                                <input type="email" matInput placeholder="Email Address *" [errorStateMatcher]="matcher"
                                                     formControlName="email">
                                            </div>
                                            <mat-error
                                                *ngIf="f.email.errors && !f.email.errors.required">
                                                Please enter a valid email address
                                            </mat-error>
                                            <mat-error *ngIf="f.email.errors && f.email.errors.required">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>                                   
                                    </div>
                                </span>
                                <span class="bmd-form-group">
                                    <div class="input-group">                                      
                                        <mat-form-field class="example-full-width"
                                        [ngClass]="{'has-success':validPasswordLogin===true}"
                                        [ngClass]="displayFieldCss(loginForm, 'password')">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                            <input type="password" matInput placeholder="Password *"
                                            formControlName="password">
                                        </div>                                     
                                        <mat-error *ngIf="isFieldValid(loginForm, 'password')">
                                            Password is <strong>required</strong>
                                        </mat-error>
                                        <mat-error
                                        *ngIf="f.password.errors && f.password.errors.notValid">
                                            Password must be at least 6 digits.
                                    </mat-error>
                                    </mat-form-field>
                                    </div>
                                </span>
                            </div>

                            <div class="card-footer justify-content-center">                          
                                <button *ngIf="!inProgress" mat-raised-button (click)="onSubmit()" class="btn btn-rose btn-round"> Login </button>
                                <a *ngIf="inProgress" href="#paper-kit" class="btn btn-round btn-rose">
                                    <div class="uil-reload-css reload-small">
                                      <div></div>
                                    </div> Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>