
	<!--================ Banner Area =================-->
	<section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">
                    <h2>Doctor Consultation</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="services.html">Services</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Banner Area =================-->

    <!-- Start Offered Services Area -->
    <section class="service_area section_gap">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>Our Offered Services</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6 mb-60">
                    <div class="single_service">
                        <span class="lnr lnr-rocket"></span>
                        <a href="#">
                            <h4>24/7 Emergency</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-60">
                    <div class="single_service">
                        <span class="lnr lnr-heart-pulse"></span>
                        <a href="#">
                            <h4>Expert Consultation</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-60">
                    <div class="single_service">
                        <span class="lnr lnr-bug"></span>
                        <a href="#">
                            <h4>Intensive Care</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-60">
                    <div class="single_service">
                        <span class="lnr lnr-users"></span>
                        <a href="#">
                            <h4>Family Planning</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_service">
                        <span class="lnr lnr-rocket"></span>
                        <a href="#">
                            <h4>24/7 Emergency</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_service">
                        <span class="lnr lnr-heart-pulse"></span>
                        <a href="#">
                            <h4>Expert Consultation</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_service">
                        <span class="lnr lnr-bug"></span>
                        <a href="#">
                            <h4>Intensive Care</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_service">
                        <span class="lnr lnr-users"></span>
                        <a href="#">
                            <h4>Family Planning</h4>
                        </a>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Offered Services Area -->
    <router-outlet></router-outlet>    